# Pupa and Billy scraped JSON and Scrapelib-cached webpages
data
cache
_cache
_data
_scrapes
spatula-cache.db

# Setting-overrides that should not be shared
local_settings.*py
billy_local.py
.env

# Local build and testing artifacts
docs/_build/*
errors/*
*.egg-info
MANIFEST
dist/
build
testdata/html_data
site/collected_static
site/openstates

# Python, editor, and operating system artifacts
*.pyc
*.DS_Store
*~
.ropeproject
*.pid
*.swp
*.class
*.jar
+*.sublime*
venv
.venv/
.vscode/

# Binary data files and dumps, from Open States and state websites
openstates.sqlite3
openstates-postgres/
dump/
tmp.*
*.mdb
*.accdb
pubinfo_*/
billydata
.idea
