data
cache
*.pyc
*.DS_Store
*~
.ropeproject
docs/_build/*
local_settings.*py
errors/*
*.pid
*.swp
*.egg-info
dist/
MANIFEST
*.class
*.jar
build
testdata/html_data
billy_local.py
site/collected_static
site/openstates
+*.sublime*
openstates.sqlite3
dump/
venv
tmp.*
