version: "3.5"

networks:
  openstates-network:
      name: openstates-network

services:
  scrape:
    image: openstates/openstates
    environment:
    - MYSQL_HOST=mysql
    - DATABASE_URL=postgres://openstates:openstates@db/openstatesorg
    - NEW_YORK_API_KEY
    - INDIANA_API_KEY
    - PUPA_ARGS
    volumes:
    - .:/opt/openstates/openstates/
    entrypoint: /opt/openstates/openstates/pupa-scrape.sh
    networks:
    - openstates-network
  mysql:
    image: mariadb:10.3
    command: mysqld_safe --max_allowed_packet=512M
    ports:
    - "3306:3306"
    environment:
    - MYSQL_DATABASE=capublic
    - MYSQL_ALLOW_EMPTY_PASSWORD=yes
    networks:
    - openstates-network
  ca-download:
    image: openstates/openstates
    entrypoint: /opt/openstates/openstates/openstates/ca/download.sh
    environment:
    - MYSQL_HOST=mysql
    volumes:
    - .:/opt/openstates/openstates/
    depends_on:
    - mysql
    networks:
    - openstates-network
