{% extends "flat/flatpage.html" %}
{% load markup_tags %}

{% block title %}Open States: About the Project{% endblock %}

{% block flatpage %}
<div class="module fullWidth">
<h2>About</h2>
{% markdown %}

Open States is a collection of tools that make it possible for citizens to
track what is happening in their state's capitol by aggregating information
from all 50 states, Washington, D.C., and Puerto Rico.

Using the site is simple: enter a U.S. address or select a state to start to research bills, review voting records, contact elected officials and more. Check out [this Sunlight Academy tutorial](http://training.sunlightfoundation.com/module/exploring-state-legislative-data/) to see how Open States can help citizens, journalists and activists learn more about their state government.

Open States is a project of the [Sunlight Foundation](http://sunlightfoundation.com).
Thank you to the [Rita Allen Foundation](http://www.ritaallenfoundation.org/),
 [Minnesota Historical Society](http://mnhs.org) and [Open Society Foundations](http://www.soros.org/) for their generous support.

Additionally, collecting this data would not be possible without the support
of a community much larger than the team here at Sunlight.  A special thanks to
all of our volunteer [contributors](https://github.com/sunlightlabs/openstates/graphs/contributors)
and the authors and maintainers of all of the libraries that we depend upon.

<iframe width="640" height="360" src="http://www.youtube.com/embed/lHKbMg1tPsg?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>

</div>

<h3 class="moduleTitle">Data</h3>

Bill, legislator, committee and event data is collected from official sources,
linked at the bottom of each legislator, bill, vote, committee or event page.
For more details, visit our [methodology](/methodology/) page.

All Open States data is available via this website, [our API](/api/), [bulk downloads](/downloads/) and the [Open States iOS application](http://itunes.apple.com/app/open-states/id500672932?mt=8).

Notable users of Open States data include:

* [National Public Radio's StateImpact](http://stateimpact.npr.org/teamblog/)
* [The Chicago Tribune](http://blog.apps.chicagotribune.com/2011/12/19/analyzing-illinois-pension-codes-using-the-open-states-project/)
* [MinnPost.com](http://www.minnpost.com/data/2012/05/how-we-built-legislative-bill-explorer)


If you're using our data and want to tell us about it, please
[contact us](mailto:openstates@sunlightfoundation.com).



<h3 class="moduleTitle">Code</h3>


All told, the website and scrapers together comprise approximately 40,000 lines of [Python](http://python.org/),
all of it open source.

The primary projects behind Open States:

* [billy](https://github.com/sunlightlabs/billy/) - powering the backend of Open States from scraping to this very site.
* [openstates](https://github.com/sunlightlabs/openstates/) - source for all of our scrapers and openstates.org templates.
* [validictory](https://github.com/sunlightlabs/validictory/) - helping us keep our data in check.
* [scrapelib](https://github.com/sunlightlabs/scrapelib/) - easy, powerful, error-resistant HTTP library built on [requests](https://github.com/kennethreitz/requests/).

Third Party Libraries
=====================

We'd like to make special mention of a few projects that have made our life that much easier.
This is far from a comprehensive list of the more than 40 projects that we rely upon throughout the project.

* [Django](https://www.djangoproject.com/) -  powering this website and API
* [lxml](http://lxml.de) - the workhorse of our scraping backend
* [MongoDB](http://mongodb.org) - for all of our data storage

Other Licenses
==============

* Base HTML template based on the fantastic HTML5 Boilerplate by Paul Irish and Divya Manian.
* Social media icons by [Paul Robert Lloyd](http://paulrobertlloyd.com/).
  Licenced under a [Attribution-Share Alike 2.0 UK: England & Wales Licence](http://creativecommons.org/licenses/by-sa/2.0/uk/).


{% endmarkdown %}
{% endblock %}
