{% extends "flat/flatpage.html" %}

{% block title %} Open States - Contact Us {% endblock %}

{% block flatpage %}
    <h2>Contact Us</h2>

    <p>
<strong> Please note: we are not affiliated with any state legislature and cannot respond to comments on legislation.  Please direct comments on legislation to <a href="http://openstates.org/find_your_legislator/">your legislator</a>.</strong>
    </p>

    <p>We'd love to hear from you.  If you have a question about Open States' 
    mission, data or would like to learn how to incorporate our data into your own
    work/apps, please <a href="mailto:openstates@sunlightfoundation.com">drop us a line</a>
    and we'll do our best to get back to you right away.</p>

    <p>If you are a reporter and would like to interview Sunlight staff about Open States, please call Sunlight’s Communications Director Gabriela Schneider at 202-742-1520 ext 236</a>


    <div class="clear"></div>

{% endblock %}
