{% extends "flat/flatpage.html" %}

{% block title %} Open States - Contact Us {% endblock %}

{% block flatpage %}
    <h2>Contact Us</h2>

    <p>We'd love to hear from you.  If you have a question about Open States' 
    mission, data or would like to learn how to incorporate our data into your own
    work/apps, please <a href="mailto:openstates@sunlightfoundation.com">drop us a line</a>
    and we'll do our best to get back to you right away.</p>

    <p>If you are a reporter and would like to interview Sunlight staff about Open States, please call Sunlight’s Media Director Liz Bartolomeo at 202-742-1520 ext 226</a>

    <div class="clear"></div>

{% endblock %}
