{% extends "billy/web/public/base.html" %}
{% load i18n %}
{% load humanize %}
{% load staticfiles %}


{% block headblock %}
<script src="{% static "js/datatables.js" %}"></script>
<script src="{% static "js/jquery-ui-1.10.1.tooltip.min.js" %}"></script>

<script type="text/javascript" >
$(document).ready(function() {

    var datatable_setup = function(){

        //Kill the html in the table headers.
        var table = $('#main-table');
        table.find('th').each(function(){
            var th = $(this);
            th.html(th.text());
        });

        // Convert the table to dataTable.
        var datatable = table.dataTable({
            bPaginate: false,
            bInfo: false,
            bDestroy: true,
            bFilter: false,
        });

        jQuery.fn.dataTableExt.oSort['natural-asc'] = sort_func_asc;
        jQuery.fn.dataTableExt.oSort['natural-desc'] = sort_func_desc;

        // Sort it.
        datatable.fnSort([[0, 'asc']]);

        $("td").tooltip({
            show: false,
            hide: false,
            position: {
                my: "center bottom-20",
                at: "center top",
                using: function( position, feedback ) {
                    $( this ).css( position );
                    $( "<div>" )
                        .addClass( "arrow" )
                        .addClass( feedback.vertical )
                        .addClass( feedback.horizontal )
                        .appendTo( this );
                }
            }
        });
    }

    datatable_setup();

})
</script>
{% endblock %}

{% block title %} Legislative Data Report Card  {% endblock %}
{% block description %} Comparing all 50 states on how legislative data is made available. {% endblock %}

{% block content %}

<h2> Open Legislative Data Report Card </h2>
<table id="main-table" class="dataTable reportCard">
    <thead>
        <tr>
            <th class="sort sorting_asc" role="columnheader">State</th>
            <th class="sort sorting_asc" role="columnheader">Completeness</th>
            <th class="sort sorting_asc" role="columnheader">Timeliness</th>
            <th class="sort sorting_asc" role="columnheader">Ease of Access</th>
            <th class="sort sorting_asc" role="columnheader">Machine Readibility</th>
            <th class="sort sorting_asc" role="columnheader">Open Standards</th>
            <th class="sort sorting_asc" role="columnheader">Permanence</th>
            <th class="sort sorting_asc" role="columnheader">Total Score</th>
            <th class="sort sorting_asc" role="columnheader">Grade</th>
        </tr> 
    </thead>
    <tbody>
        <tr> 
            <td class="bold">Connecticut</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" title="Provides lots of data in CSV but some HTML scraping is still required.">1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" >2</td> 
            <td > 4 </td> 
            <td class="grade grade-a">A</td> 
        </tr>

        <tr> 
            <td class="bold">Georgia</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" title="Nearly all data available via an API.">2</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" >2</td> 
            <td > 4 </td> 
            <td class="grade grade-a">A</td> 
        </tr>

        <tr>
            <td class="bold">Kansas</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" title="Site was easy to use, and found to be above average in ease of navigation.">1</td> 
            <td class="score-good" title="Some data available via JSON API but vote data requires extraction from text documents.">1</td> 
            <td class="score-good" title="State went above and beyond to offer (open standards based) ODT files in addition to more common formats.">1</td> 
            <td class="score-great" >2</td> 
            <td > 5 </td> 
            <td class="grade grade-a">A</td> 
        </tr>

        <tr> 
            <td class="bold">New Hampshire</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" title="All data available in CSV format.">2</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" >2</td> 
            <td > 4 </td>
            <td class="grade grade-a">A</td> 
        </tr>

        <tr> 
            <td class="bold">North Carolina</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good">1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" title="Some useful machine-readable data, but lots of data only on website.">1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" >2</td> 
            <td > 4 </td> 
            <td class="grade grade-a">A</td> 
        </tr>

        <tr> 
            <td class="bold">Texas</td>
            <td class="score-bad" title="Roll call votes not published, but extractable from journal.">-1</td> 
            <td class="score-good">1</td> 
            <td class="score-good" title="Site was easy to use, and found to be above average in ease of navigation.">1</td> 
            <td class="score-great" title="XML for all bill information.">2</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" >2</td> 
            <td > 5 </td> 
            <td class="grade grade-a">A</td> 
        </tr>

        <tr> 
            <td class="bold">Washington</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" title="Most information available via an API.">2</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" >2</td> 
            <td > 5 </td> 
            <td class="grade grade-a"." >A</td> 
        </tr>

        <tr> 
            <td class="bold">Alaska</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" >2</td> 
            <td > 3 </td> 
            <td class="grade grade-b" title="AK Grade." >B</td> 
        </tr>

        <tr> 
            <td class="bold">Arkansas</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" title="CSV for some data, but HTML for the majority.">1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" >2</td> 
            <td > 4 </td> 
            <td class="grade grade-a">A</td> 
        </tr>

        <tr> 
            <td class="bold">Maryland</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" title="Nice new attempt at machine-readable data as of 2013, but is incomplete compared to site.">1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" title="Recent site redesign broke all links with no redirects; but going forward site is well structured.">1</td> 
            <td > 3 </td> 
            <td class="grade grade-b">B</td> 
        </tr>

        <tr> 
            <td class="bold">Mississippi</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" title="Multiple calls were not returned; data appears to be updated daily.">0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" title="Site makes great use of XML beneath bill data.  Would have been a +2 if it weren't for PDF-only votes." >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" >2</td> 
            <td > 3 </td> 
            <td class="grade grade-b">B</td> 
        </tr>

        <tr> 
            <td class="bold">Nevada</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" title="Great use of session prefixed URLs.">2</td> 
            <td > 3 </td> 
            <td class="grade grade-b">B</td> 
        </tr>

        <tr> 
            <td class="bold">New Jersey </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-bad" title="Form submissions are done via POST, making bills non-bookmarkable/linkable.  Javascript required for most of site.">-1</td> 
            <td class="score-great" title="Full database available for download.  Great service provided by the state.">2</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" title="All data appears to be permanent (if hard to link to); also public data exists for permanence even if site changes.">2</td> 
            <td > 3 </td> 
            <td class="grade grade-b">B</td> 
        </tr>

        <tr> 
            <td class="bold">New York</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" title="Some data available via an API, but we have had to rely on scraping as well.">1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" >2</td> 
            <td > 3 </td> 
            <td class="grade grade-b">B</td> 
        </tr>

        <tr> 
            <td class="bold">Ohio</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-bad" title="Site is rendered entirely inoperable without Javascript.  Site was considered slightly more difficult than average to use.">-1</td> 
            <td class="score-good" title="Some machine readable data (XLS); lots of data still has to be scraped.">1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" >2</td> 
            <td > 3 </td> 
            <td class="grade grade-b">B</td> 
        </tr>

        <tr> 
            <td class="bold">Utah </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" title="Site was easy to use, and found to be above average in ease of navigation.">1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" >2</td> 
            <td > 3 </td> 
            <td class="grade grade-b">B</td> 
        </tr>

        <tr> 
            <td class="bold">Vermont</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" >2</td> 
            <td > 3 </td> 
            <td class="grade grade-b">B</td> 
        </tr>

        <tr> 
            <td class="bold">West Virginia</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-good" title="Site was easy to use, and found to be above average in ease of navigation.  Notably also provided abundant links to artifacts like state code.">1</td> 
            <td class="score-bad" title="Vote data is only available via PDF.">-1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" >2</td> 
            <td > 3 </td> 
            <td class="grade grade-b">B</td> 
        </tr>

        <tr> 
            <td class="bold">Arizona </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-bad" title="Site navigation required Javascript and was considered somewhat more difficult than average to use.">-1</td> 
            <td class="score-neutral" title="No points given for incomplete XML offerings, we had to rely on HTML for complete data.">0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" >2</td> 
            <td >1</td> 
            <td class="grade grade-c">C</td> 
        </tr>

        <tr> 
            <td class="bold">Delaware </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-bad" title="Site was noted as quite a bit more difficult to navigate than average.">-1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" >2</td> 
            <td >2</td> 
            <td class="grade grade-c">C</td> 
        </tr>

        <tr> 
            <td class="bold">District of Columbia </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" title="Multiple calls were not returned; data appears to be updated daily.">0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" title="Inpermanent legislator pages.">1</td> 
            <td >1</td> 
            <td class="grade grade-c">C</td> 
        </tr>

        <tr> 
            <td class="bold">Florida </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-bad" title="Vote data is only available via PDF.">-1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" >2</td> 
            <td >2</td> 
            <td class="grade grade-c">C</td> 
        </tr>

        <tr> 
            <td class="bold">Hawaii </td> 
            <td class="score-bad" title="Votes do not include 'Yes' votes which makes them unreliable.  Difficult/impossible to know which legislators voted.">-1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" title="Links broken without JS but there were lots of data export options and site was easy to navigate.">0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" >2</td> 
            <td >1</td> 
            <td class="grade grade-c">C</td> 
        </tr>

        <tr> 
            <td class="bold">Idaho </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" title="Inpermanent legislator pages.">1</td> 
            <td >1</td> 
            <td class="grade grade-c" >C</td> 
        </tr>

        <tr>
            <td class="bold">Illinois </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-bad" title="Vote data is only available via PDF.">-1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" >2</td> 
            <td >2</td> 
            <td class="grade grade-c" >C</td> 
        </tr>

        <tr> 
            <td class="bold">Iowa </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-bad" title="Vote data is only available via PDF.">-1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" >2</td> 
            <td >2</td> 
            <td class="grade grade-c" >C</td> 
        </tr>

        <tr> 
            <td class="bold">Michigan </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" title="State was kind enough to alert us to an unlisted XML offering of bill status data during this evaluation.">1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" title="URLs for legislators and committees are reused and leave no trace of permanent information.">0</td> 
            <td >2</td> 
            <td class="grade grade-c" >C</td> 
        </tr>

        <tr> 
            <td class="bold">Minnesota </td> 
            <td class="score-bad" title="Senate votes are not made available.">-1</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" >2</td> 
            <td >2</td> 
            <td class="grade grade-c" >C</td> 
        </tr>

        <tr> 
            <td class="bold">Missouri </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-bad" title="Votes only available via PDF.">-1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" title="Great use of permanent, session-prefixed URLs.">2</td> 
            <td >1</td> 
            <td class="grade grade-c" >C</td> 
        </tr>

        <tr> 
            <td class="bold">Montana </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-bad" title="Vote data is only available via PDF.">-1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" >2</td> 
            <td >2</td> 
            <td class="grade grade-c" >C</td> 
        </tr>

        <tr> 
            <td class="bold">New Mexico </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-bad" title="Votes only available via PDF.">-1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" >2</td> 
            <td >1</td> 
            <td class="grade grade-c" >C</td> 
        </tr>

        <tr> 
            <td class="bold">North Dakota </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-bad" title="Votes are only available via PDF.">-1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" title="Great use of session-prefixed URLs.">2</td> 
            <td >1</td>
            <td class="grade grade-c" >C</td> 
        </tr>

        <tr> 
            <td class="bold">Oregon </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-bad" title="State informed us that they updated data weekly.">-1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" >2</td> 
            <td >1</td> 
            <td class="grade grade-c" >C</td> 
        </tr>

        <tr> 
            <td class="bold">Pennsylvania </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" >2</td> 
            <td >2</td> 
            <td class="grade grade-c" >C</td> 
        </tr>

        <tr> 
            <td class="bold">South Carolina </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" >2</td> 
            <td >2</td> 
            <td class="grade grade-c" >C</td> 
        </tr>

        <tr> 
            <td class="bold">South Dakota </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-bad" title="Site was rated as more difficult to use than average; specifically many links did not go where people expected.">-1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" >2</td> 
            <td >2</td> 
            <td class="grade grade-c" >C</td> 
        </tr>

        <tr> 
            <td class="bold">Tennessee </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" title="URLs for legislators and committees are reused and leave no trace of permanent information.">0</td> 
            <td >1</td> 
            <td class="grade grade-c" >C</td> 
        </tr>

        <tr> 
            <td class="bold">Virginia </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" title="Private access to an FTP server with CSV available upon request & with justification.">1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" >2</td> 
            <td >2</td> 
            <td class="grade grade-b" >B</td> 
        </tr>

        <tr> 
            <td class="bold">Wyoming </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" >2</td> 
            <td >2</td> 
            <td class="grade grade-c" >C</td> 
        </tr>

        <tr> 
            <td class="bold">California </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-bad" title="Site is rendered entirely inoperable without Javascript.  Site was considered slightly more difficult than average to use.">-1</td> 
            <td class="score-good" title="Machine readable bill data (MySQL dumps); legislator information requires scraping.">1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" title="Legislator URLs based on district and non-permanent.">0</td> 
            <td >0</td> 
            <td class="grade grade-d" >D</td> 
        </tr>

        <tr> 
            <td class="bold">Indiana </td> 
            <td class="score-bad" title="Senate votes must be collected from journal, not provided as roll calls.">-1</td> 
            <td class="score-good" title="Updated every 2 hours.">1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-bad" title="Vote data only available via PDF.">-1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" title="Legislator URLs are based on district and therefore unreliable.">0</td> 
            <td >-1</td> 
            <td class="grade grade-d" >D</td> 
        </tr>

        <tr> 
            <td class="bold">Louisiana </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-bad" title="Site was noted as more difficult to use than average.">-1</td> 
            <td class="score-bad" title="Votes only available via PDF.">-1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td >-1</td> 
            <td class="grade grade-d" >D</td> 
        </tr>

        <tr> 
            <td class="bold">Maine </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-bad" title="Site was noted as more difficult to use than average.">-1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" title="Legislator URLs are non-permanent & reused when a new legislator takes office.">0</td> 
            <td >0</td> 
            <td class="grade grade-d" >D</td> 
        </tr>

        <tr> 
            <td class="bold">Oklahoma </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-bad" title="Site is completely non-functional without Javascript enabled.">-1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" title="URLs for legislators and committees are reused and leave no trace of permanent information.">0</td> 
            <td >0</td> 
            <td class="grade grade-d" >D</td> 
        </tr>

        <tr> 
            <td class="bold">Wisconsin </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" title="URLs for legislators and committees are reused and leave no trace of permanent information.">0</td> 
            <td >0</td> 
            <td class="grade grade-d" >D</td> 
        </tr>

        <tr> 
            <td class="bold">Alabama </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-abysmal" title="Site was universally commented upon by volunteers and staff as difficult to use.  Site won't work at all without Javascript.  Pages within ALISON are not bookmarkable and require an arcane pattern of clicks to discover in some cases.">-2</td> 
            <td class="score-bad" title="Scraping site requires emulation of Javascript to get information; far worse than average HTML-based site.">-1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-bad" title="Legislator data is inpermanent.  Linking to information is difficult/impossible in some cases due to nested frame design.">-1</td> 
            <td > -3 </td> 
            <td class="grade grade-f" >F</td> 
        </tr>

        <tr> 
            <td class="bold">Colorado </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-bad" title="Votes are only available via PDF; document links require some basic Javascript emulation to recover.">-1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-abysmal" title="Bill version links have been removed/changed, even during a session.  This was the only state seen to exhibit this behavior.">-2</td> 
            <td >-2</td> 
            <td class="grade grade-f" >F</td> 
        </tr>

        <tr> 
            <td class="bold">Kentucky </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-abysmal" title="Many votes only available via non-machine readable PDF.">-2</td> 
            <td class="score-bad" title="Votes only available in proprietary .doc format; only state to not provide bills in PDF or HTML.">-1</td> 
            <td class="score-neutral" title="Legislator and committee URLs are non-permanent, reused each session.">0</td>
            <td > -3 </td> 
            <td class="grade grade-f" >F</td> 
        </tr>

        <tr> 
            <td class="bold">Massachusetts </td> 
            <td class="score-bad" title="Roll call votes not published on site in meaningful way.">0</td> 
            <td class="score-good" >1</td> 
            <td class="score-abysmal" title="Site is frequently broken with no notice to users; bill information impossible to access without Javascript.">-2</td> 
            <td class="score-abysmal" title="Vote data isn't available; locked up in non-machine readable PDF.">-2</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-bad" title="A dearth of historical information, all information prior to 2009 removed.">-1</td> 
            <td > -4 </td> 
            <td class="grade grade-f" >F</td> 
        </tr>

        <tr> 
            <td class="bold">Nebraska </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-bad" title="Votes only available via extraction from journal PDFs.">-1</td> 
            <td class="score-neutral" >0</td>
            <td class="score-bad" title="URLs for legislators and committees are reused each session, no permanent information for these. All information prior to 2007 appears to have been removed from site.">-1</td>
            <td >-2</td> 
            <td class="grade grade-f" >F</td> 
        </tr>

        <tr> 
            <td class="bold">Rhode Island </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-bad" title="State informed us that they updated data weekly.">-1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" title="XLS available for legislators; but all other data HTML.">0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-bad" title="No ability to permalink to bills (just http://status.rilin.state.ri.us/) and severe dearth of historical data.">-1</td> 
            <td >-2</td> 
            <td class="grade grade-f" >F</td> 
        </tr>
    </tbody>
</table>


{% endblock %}
