{% extends "flat/flatpage.html" %}

{% block flatpage %}
    <h2>Thank you for joining Sunlight in the transparency movement!
    </h2>

    <p>We'll be updating you in the coming weeks and months, so stay tuned.
    </p>
    <p>We'd also love to hear from you, and there's a bunch of ways we like to do that. You can follow every post, project or video on our way to a more transparency government.
    </p>
    <div class="join-social">
        <ul class="social-links">
            <li class="social-facebook">
                <a rel="me" href="http://www.facebook.com/sunlightfoundation">Facebook</a>
            </li>
            <li class="social-twitter">
                <a rel="me" href="http://twitter.com/#!/sunfoundation">@SunFoundation Twitter</a>
            </li>
            <li class="social-twitter">
                <a rel="me" href="http://twitter.com/#!/openstates">@OpenStates Twitter</a>
            </li>
            <li class="social-flickr">
                <a rel="me" href="http://www.flickr.com/sunlightfoundation">Flickr</a>
            </li>
            <li class="social-youtube">
                <a rel="me" href="http://www.youtube.com/sunlightfoundation">YouTube</a>
            </li>
        </ul>
    </div>
    <div class="clear"></div>

{% endblock %}
