{% extends "billy/base.html" %}
{% load humanize %}

{% block content %}
<h2>{{ metadata.name }} bill summary</h2>

{% for session in sessions %}

<div style="float: left; padding-right: 3em;" class="bills">
    <h4 width="100%">Bills for [{{session.session}}] </h4>
  <dl>
      <dt>Upper Chamber:</dt><dd>{{session.upper_bill_count}}</dd>
      <dt>Lower Chamber:</dt><dd>{{session.lower_bill_count}}</dd>
      <dt>Total Bills:</dt><dd>{{session.bill_count}}</dd>
      <dt>Bills without sources:</dt><dd>{{session.ns_bill_count}}</dd>
      <dt>Versions:</dt><dd>{{session.versions}}</dd>
  </dl>
  <h4 width="100%">Bill Types</h4>
  <table>
      <tr><th>Type</th><th>#</th></tr>
      {% for name, num in session.types.iteritems %}
      <tr><td>{{name}}</td><td>{{num}}</td></tr>
      {% endfor %}
  </table>
  <h4 width="100%">Action Types</h4>
  <em>{{session.action_cat_percent}}% categorized</em>
  <table>
      <tr><th>Type</th><th>#</th></tr>
      {% for name, num in session.action_types.iteritems %}
      <tr><td>{{name}}</td><td>{{num}}</td></tr>
      {% endfor %}
  </table>
</div>

{% endfor %}

{% endblock %}
