{% extends "billy/base.html" %}
{% load humanize %}

{% block title %}
{{ bill.state|upper }} {{ bill.bill_id }}
{% endblock %}

{% block content %}
<a href="/browse/{{bill.state}}/{{bill.session}}/{{bill.bill_id}}">
  <h3>{{bill.state|upper}} {{bill.bill_id}}</h3>
</a>
<h4>{{bill.title}}</h4>

<div class="metadata">
    <dl>
        {% if bill.alternate_titles %}
        <dt>Alternate Titles</dt><dd><ul>{{bill.alternate_titles|unordered_list}}</ul></dd> 
        {% endif %}
        <dt>Type</dt><dd>{{bill.type|join:','}}</dd>
        <dt>Session</dt><dd>{{bill.session}}</dd>
        <dt>Chamber</dt><dd>{{bill.chamber}}</dd>
        {% if bill.subjects %}
        <dt>Subjects</dt><dd>{{bill.subjects|join:'<br/>'}}</dd>
        {% endif %}

        {# show plus fields #}
        {% for k,v in bill.items %}
        {% if "+" in k %}
            <dt>{{k}}</dt><dd>{{v}}</dd>
        {% endif %}
        {% endfor %}
        <dt>Updated at</dt><dd>{{bill.updated_at|date:"c"}}</dd>
    </dl>
</div>

<div class="sources">
  <h4>Sources:</h4>
  <ul>
    {% for source in bill.sources %}
    <li><a href="{{source.url}}">{{source.url}}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="sponsors">
  <h4>Sponsors:</h4>
  <ul>
    {% for sponsor in bill.sponsors %}
    <li>{% if sponsor.leg_id %}<a href="/browse/legislators/{{sponsor.leg_id}}/">{% endif %}{{sponsor.name}}{% if sponsor.leg_id %}</a>{% endif %} [{{sponsor.type}}]</li>
    {% endfor %}
  </ul>
</div>

<div class="actions">
  <h4>Actions:</h4>
  <ul>
    {% for action in bill.actions %}
    <li>
      <time datetime="{{action.date|date:"c"}}">{{ action.date|naturalday }}</time>
      <span class="actor">({{action.actor}})</span>
     <span class="action_type">[{% for type in action.type %}{{type}},{% endfor %}]</span>
      {{action.action}}
   </li>
    {% endfor %}
  </ul>
</div>

<div class="votes">
  <h4>Votes:</h4>
  {% if bill.votes %}
  <table>
      <tr>
          <th>Motion</th>
          <th>Chamber</th>
          <th>Date</th>
          <th>Result</th>
          <th>Yes Votes</th>
          <th>No Votes</th>
          <th>Other Votes</th>
      </tr>
    {% for vote in bill.votes %}
    <tr><td>{{vote.motion}}</td>
        <td>{{vote.chamber}}</td>
        <td>{{vote.date|naturalday}}</td>
        <td>{{vote.yes_count}}-{{vote.no_count}}-{{vote.other_count}} [{{vote.passed|yesno:"passed,failed"}}]</td>
        <td style="color: #366300">{% for v in vote.yes_votes %}{{v.name}},{%endfor%}</td>
        <td style="color: #630000">{% for v in vote.no_votes %}{{v.name}},{%endfor%}</td>
        <td style="color: #363636">{% for v in vote.other_votes %}{{v.name}},{%endfor%}</td>
    </tr>
    {% if vote.sources %}
    <tr><td colspan=7><ul>
        {% for source in vote.sources %}
        <li><a href="{{source.url}}">{{source.url}}</a></li>
        {% endfor %}
    </ul></td><tr>
    {% endif %}
    {% endfor %}
</table>
{% else %}
    <b> 0 votes </b>
{% endif %}
</div>

<div class="versions">
  <h4>Versions:</h4>
  <ul>
    {% for version in bill.versions %}
    <li><a href="{{version.url}}">{{version.name}}</a></li>
    {% endfor %}
  </ul>
</div>


<div class="documents">
  <h4>Documents:</h4>
  <ul>
    {% for doc in bill.documents %}
    <li><a href="{{doc.url}}">{{doc.name}}</a></li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
