{% extends "billy/base.html" %}

{% block content %}
<h2>Data Browse</h2>

<style type="text/css">
    td.good { background-color: #b0ff66; }
    td.bad { background-color: #fc7c7d; }
    td.warning { background-color: #fcde7c; }
</style>

<table border=1>
    <tr>
        <th>State</th>
        <th>Legislators</th>
        <th>Committees</th>
        <th>Events</th>
        <th>Bills</th>
        <th>Votes</th>
        <th>Versions</th>
        <th>Bill Types</th>
        <th>Bills w/ Subjects</th>
        <th>Actions w/ Types</th>
        <th>Sponsor leg_ids</th>
        <th>Vote leg_ids</th>
        <th>External IDs</th>
        <th>Missing Sources</th>
    </tr>

    {% for row in rows %}
    <tr>
        <td><a href="{{row.id}}/">{{row.name}}</a></td>
        <td class="{{row.legislators|yesno:"good,bad"}}">
            {{row.legislators}}</td>
        <td class="{{row.committees|yesno:"good,bad"}}">
            {{row.committees}}</td>
        <td class="{{row.events|yesno:"good,warning"}}">
            {{row.events}}</td>
        <td class="{{row.bills|yesno:"good,bad"}}">
            {{row.bills}}</td>
        <td class="{{row.votes|yesno:"good,bad"}}">
            {{row.votes}}</td>
        <td class="{{row.versions|yesno:"good,bad"}}">
            {{row.versions}}</td>
        <td class="{{row.bill_types|yesno:"good,bad"}}">
            {{row.bill_types}}</td>
        <td
            {% if not row.subjects %}
            class="warning">---</td>
            {% else %}
                {% if row.subjects < 25 %}
                class="bad"
                {% else %}
                    {% if row.subjects < 90 %}
                    class="warning"
                    {% else %}
                    class="good"
                    {% endif %}
                {% endif %}
                >{{row.subjects|floatformat}}</td>
            {% endif %}
        <td
            {% if row.typed_actions < 25 %}
            class="bad"
            {% else %}
                {% if row.typed_actions < 50 %}
                class="warning"
                {% else %}
                class="good"
                {% endif %}
            {% endif %}
            >{{row.typed_actions|floatformat}}</td>
        <td
            {% if row.sponsor_ids < 75 %}
            class="bad"
            {% else %}
                {% if row.sponsor_ids < 95 %}
                class="warning"
                {% else %}
                class="good"
                {% endif %}
            {% endif %}
            >{{row.sponsor_ids|floatformat}}</td>
        <td
            {% if row.voter_ids < 75 %}
            class="bad"
            {% else %}
                {% if row.voter_ids < 95 %}
                class="warning"
                {% else %}
                class="good"
                {% endif %}
            {% endif %}
            >{{row.voter_ids|floatformat}}</td>
        <td
            {% if row.external_ids < 75 %}
            class="bad"
            {% else %}
                {% if row.external_ids < 98 %}
                class="warning"
                {% else %}
                class="good"
                {% endif %}
            {% endif %}
            >{{row.external_ids|floatformat}}</td>
        <td class="{{row.missing_sources|yesno:"bad,good"}}">
           {{row.missing_sources}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
