{% extends "billy/base.html" %}

{% block title %}{{ leg.full_name }}{% endblock %}

{% block content %}
    {{ leg.full_name }}</h3>
<h4>
{{leg.party}}, {{ metadata.name }}, District {{ leg.district }}
</h4>

<dl>
    {% if leg.votesmart_id %}
        <dt>Votesmart ID</dt>
        <dd><a href="http://www.votesmart.org/bio.php?can_id={{leg.votesmart_id}}">{{leg.votesmart_id}}</a></dd>
    {% endif %}
    {% if leg.transparencydata_id %}
        <dt>TransparencyData ID</dt>
        <dd><a href="http://influenceexplorer.com/politician/id/{{leg.transparencydata_id}}?cycle=-1">{{leg.transparencydata_id}}</a></dd>
    {% endif %}

    {% for k,v in leg.items %}
    {% if "+" in k %}
        <dt>{{k}}</dt><dd>{{v}}</dd>
    {% endif %}
    {% endfor %}
</dl>

<div class="roles">
  <h4>Current Roles:</h4>
  <ul>
    {% for role in leg.roles %}
      <li>
        {% if role.type == 'member' %}
        {{ role.term }}:
        {% if role.chamber == "lower" %} {{metadata.lower_chamber_title }}
        {% else %} {{ metadata.upper_chamber_title}} {% endif %}
        from District {{role.district}}
        {% endif %}

        {% if role.type == 'committee member' %}
          member of the {{ role.committee }} Committee
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>

{% for session, roles in leg.old_roles.iteritems %}
<div class="roles">
    <h4>{{session}} Roles:</h4>
  <ul>
    {% for role in roles %}
      <li>
        {% if role.type == 'member' %}
        {{ role.term }}:
        {% if role.chamber == "lower" %} {{metadata.lower_chamber_title }}
        {% else %} {{ metadata.upper_chamber_title}} {% endif %}
        from District {{role.district}}
        {% endif %}

        {% if role.type == 'committee member' %}
          member of the {{ role.committee }} Committee
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
{% endfor %}

<div class="sources">
  <h4>Sources:</h4>
  <ul>
    {% for source in leg.sources %}
    <li><a href="{{source.url}}">{{source.url}}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="photo">
{% if leg.photo_url %}
  <h4>Photo:</h4>
  <img src="{{ leg.photo_url }}" />
{% else %}
  <h4>No photo_url</h4>
{% endif %}
</div>
{% endblock %}

