{% extends "billy/base.html" %}
{% load humanize %}

{% block content %}
<h2>{{ metadata.name }}</h2>

<div style="float: left; padding-right: 3em;" class="metadata">
    <h4 width="100%">Metadata</h4>
    <dl>
    {% for k, v in metadata.items %}
    {% if k != "terms" and k != "session_details" %}
    <dt>{{k}}</dt><dd>{{v}}</dd>
    {% endif %}
    {% endfor %}
    </dl>

    <h4 width="100%">Terms</h4>
    <table>
        <tr><th>Term</th><th>Start Year</th><th>End Year</th><th>Sessions</th></tr>
        {% for term in metadata.terms %}
        <tr><td>{{term.name}}</td><td>{{term.start_year}}</td><td>{{term.end_year}}</td>
            <td><ul>{{term.sessions|unordered_list}}</ul></td>
        </tr>
        {% endfor %}
    </table>
</div>

<div style="float: left; padding-right: 3em;" class="bills">
    <h4 width="100%">Bills for Latest Session [{{session}}] <a href="random_bill/">(random bill)</a></h4>
  <dl>
      <dt>Upper Chamber:</dt><dd>{{upper_bill_count}}</dd>
      <dt>Lower Chamber:</dt><dd>{{lower_bill_count}}</dd>
      <dt>Total Bills:</dt><dd>{{bill_count}}</dd>
      <dt>Bills without sources:</dt><dd>{{ns_bill_count}}</dd>
      <dt>Versions:</dt><dd>{{versions}}</dd>
  </dl>
  <h4 width="100%">Bill Types</h4>
  <table>
      <tr><th>Type</th><th>#</th></tr>
      {% for name, num in types.iteritems %}
      <tr><td>{{name}}</td><td>{{num}}</td></tr>
      {% endfor %}
  </table>
  <h4 width="100%">Action Types</h4>
  <em>{{action_cat_percent}}% categorized</em>
  <table>
      <tr><th>Type</th><th>#</th></tr>
      {% for name, num in action_types.iteritems %}
      <tr><td>{{name}}</td><td>{{num}}</td></tr>
      {% endfor %}
  </table>

</div>

<div style="float:left;" class="legislators">
    <h4 width="100%"><a href="legislators/">Legislators</a></h4>
    <dl>
      <dt>Upper Chamber:</dt><dd>{{upper_leg_count}}</dd>
      <dt>Lower Chamber:</dt><dd>{{lower_leg_count}}</dd>
      <dt>Total Active Legislators:</dt><dd>{{leg_count}}</dd>
      <dt>Inactive Legislators:</dt><dd>{{inactive_leg_count}}</dd>
      <dt>Legislators without sources:</dt><dd>{{ns_leg_count}}</dd>
      <dt>Legislators without PVS id:</dt><dd>{{missing_pvs}}</dd>
      <dt>Legislators without TransparencyData id:</dt><dd>{{missing_tdata}}</dd>
    </dl>

    <h4 width="100%"><a href="committees/">Committees</a></h4>
    <dl>
      <dt>Upper Committees:</dt><dd>{{upper_com_count}}</dd>
      <dt>Lower Committees:</dt><dd>{{lower_com_count}}</dd>
      <dt>Joint Committees:</dt><dd>{{joint_com_count}}</dd>
      <dt>Total Committees:</dt><dd>{{com_count}}</dd>
      <dt>Committees without sources:</dt><dd>{{ns_com_count}}</dd>
    </dl>
</div>

{% endblock %}
