# Common requirements
-e git+http://github.com/sunlightlabs/scrapelib.git#egg=scrapelib
-e git+http://github.com/sunlightlabs/validictory.git#egg=validictory
BeautifulSoup>=3.1
html5lib
lxml>=2.2

# Required for Michigan
#PdfMiner>=20091219

# Required for California
#SQLAlchemy>=0.5.3
#MySQL-python
