# Common requirements
-e git+http://github.com/mikejs/scrapelib.git#egg=scrapelib
BeautifulSoup==3.0.8.1
html5lib
lxml

# Only needed if on Python 2.5
#simplejson

# Required for Michigan
#PdfMiner>=20091219

# Required for California
#SQLAlchemy>=0.5.3
#MySQL-python
