# Common requirements
scrapelib>=0.4.0
validictory>=0.4.2
BeautifulSoup>=3.1
html5lib
lxml>=2.2
feedparser>=4.1
pytz>=2010l

# Required for Michigan
#PdfMiner>=20091219

# Required for California
#SQLAlchemy>=0.5.3
#MySQL-python
