{% load i18n %}
{% load customtags %}
<div class="favorite" data-obj_id="{{ obj_id }}"
                   data-obj_type="{{ obj_type }}"
                   data-is_favorite="{{ is_favorite|lower }}"
                   {% if obj_type == "search" %}
                   data-search_params='{{params}}'
                   data-search_abbr="{{abbr}}"
                   {% endif %}>

    <button type="submit" value="{% trans 'Submit' %}" class="favorite-button" style="text-indent: 0px;"/>
      <span class="favorite-message">
          {% if is_favorite %}
              <span class="star starOn">&#9733;</span> <span class="favbutton">{% trans "Unfollow" %}</span>
          {% else %}
              <span class="star starOff">&#9733;</span> <span class="favbutton">{% trans "Follow again" %}</span>
          {% endif %}
      </span>
    </button>
</div>
