<form name="notification-preference">
    <div class="notification-preference colLt author" data-obj_type="{{ obj_type }}">
        <div class="message-{{obj_type}} colLt"
             class="pull_left_realsies">
             <p>Turn {{obj_type}} email notifications</p></div>
        <div class="colLt">
            <input type="hidden" value="{{obj_type}}"/>
            <input class="colLt" id="on-{{obj_type}}" type="radio"
                   name="group1" value="on" {% if alerts_on %}checked{% endif %}/>
            <label class="colLt" for="on-{{obj_type}}">On</label>

            <input class="colLt" id="off-{{obj_type}}" type="radio"
                   name="group1" value="off" {% if not alerts_on %}checked{% endif %}/>
            <label class="colLt" for="on-{{obj_type}}">Off</label>
        </div>
    </div>
</form>
