{% load url from future %}
{% load markup_tags %}
{% load i18n %}

<span style="float: right"><a class="rssIcon" href="{% url 'bills_feed' abbr %}?chamber={{chamber.type}}&sort=first"></a></span>
<h5>{% trans "Recently Introduced" %}</h5>
{% if chamber.latest_bills %}
    <ul>
    {% for bill in chamber.latest_bills %}
        <li class="voteChart">
            <time class="published" datetime="{{bill.action_dates.first|date:"Y-m-d"}}">{{ bill.action_dates.first|date:"F d, Y"}}</time>
            <span class="inlineTitle h4 withTip"><a href="{{bill.get_absolute_url}}">{{bill.bill_id}}</a>
                <div class="clear"></div>
                <span class="tip sideNote">
                    {% with sponsor=bill.sponsors_manager.first %} {% if sponsor %}
                    {% trans "Sponsored by:" %}
                    {% if sponsor.get_absolute_url %}
                        <a href="{{ sponsor.get_absolute_url }}">{{ sponsor.display_name|default:sponsor.name }}</a>
                    {% else %}
                    {{ sponsor.display_name|default:sponsor.name }}
                    {% endif %}
                    {% endif %} {% endwith %}
                </span>
            </span>
            <h6 class="clear">{{ bill.title|truncatewords:50|smallcaps}}</h6>
        </li>
    {% endfor %}
    </ul>
    <a class="viewMore" href="{% url 'bills' abbr %}?chamber={{chamber.type}}">
        {% if chambers|length > 1 %}
            {% blocktrans with chamber.name as chamber_name %}
            View More {{chamber_name}} Bills
            {% endblocktrans %}
        {% else %}
        {% trans "View More Bills" %}
        {% endif %}
    </a>
{% else %}
    {% trans "No passed bills to display." %}
{% endif %}
