{% load static from staticfiles %}
{% load url from future %}
{% load customtags %}
{% load i18n %}
<!doctype html>
<html lang="en" class="no-js">
<head>
    <title>{% striptags %}{% block title %}{% endblock %}{% end_striptags %} - Open States</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{% block description %}{% endblock %}">
    <script>var _sf_startpt=(new Date()).getTime()</script>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'select2-2.0/select2.css' %}"/>

    <script src="{% static 'js/jquery-1.9.0.min.js' %}"></script>
    <script src="{% static 'js/jquery.hotkeys.min.js' %}"></script>
    <script src="{% static 'select2-2.0/select2.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="//use.typekit.net/xau7dem.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script src="{% static 'js/jquery.calendar-widget.js' %}"></script>
    <script src="https://s3.amazonaws.com/assets.sunlightfoundation.com/social/scripts/simple-socialite-pack.min.js"></script>

    <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" href="{% static 'ie8.css' %}"/>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="{% static 'js/jquery-placehold.min.js' %}"></script>
    <script>
     // add placeholders
     $("input, textarea").placehold();
    </script>
    <![endif]-->
    {% block headblock %}{% endblock %}

    <script>
      /* google analytics async */
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1265484-77']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();


      /* uservoice async */
      var is_ssl = ("https:" == document.location.protocol);
      var asset_host = is_ssl ? "https://d3rdqalhjaisuu.cloudfront.net/" : "http://d3rdqalhjaisuu.cloudfront.net/";
      document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));

    </script>

    <script>
      var feedback_widget_options = {};
      feedback_widget_options.display = "overlay";
      feedback_widget_options.company = "sunlightfoundation";
      feedback_widget_options.placement = "right";
      feedback_widget_options.color = "#222";
      feedback_widget_options.style = "question";
      var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
    </script>

</head>

<body class="{% block bodyclass %}{% endblock %}">
    <!--[if lt IE 9]>
    <p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
    <![endif]-->
    <div class="hatWrap">
            <div class="contentWrapper">
                <a href="http://www.sunlightfoundation.com" class="productOf">
                        a product of Sunlight Foundation
                </a>
            </div>
     </div>

    <header id="mainHeader">
        <div id="login" class="tip">
            {% if request.user.is_authenticated %}
            {{request.user.first_name|default:request.user}} | <a href="{% url 'user_favorites' %}">View your favorites</a> or <a href="{% url 'logout' %}">sign out</a>
            {% else %}
                <a href="/login/sunlight/?next={{request.get_full_path}}">Login or Sign up</a>
            {% endif %}
        </div>
        <form action="/{{abbr|default:'all'}}/search/" method="get" id="searchform">
            <input class="transparent search" type="search" name="search_text" id="id_q" placeholder="{% if abbr %} {% blocktrans with metadata.name as state_name %} Search {{state_name}} for bills or legislators {% endblocktrans %} {% else %} {% blocktrans with abbr|upper as state_name %} Search for bills or legislators across all states {% endblocktrans %} {% endif %}">
            <button type="submit">
                <span>{% trans "Search" %}</span>
            </button>
        </form>
        <h1 class="clearfix"><a class="textReplace" href="/">Open States</a></h1>

        <div class="share-buttons" data-socialite="auto" {% block share_options %} {% endblock %}
            data-services="twitter,facebook"> </div>

        {# Some pages are state-agnostic and will need to omit this block (like the homepage). #}
        {% region_select_form abbr %}
        {% block collection_nav %}
        {% if abbr and abbr != 'all' %}
        <nav class="clearfix">
            <ul>
                <li {% if nav_active == "home" %}class="active"{% endif %}><a href="{% url 'region' abbr %}">{% trans "Overview" %}</a></li>
                <li {% if nav_active == "legislators" %}class="active"{% endif %}><a href="{% url 'legislators' abbr %}">{% trans "Legislators" %}</a></li>
                <li {% if nav_active == "bills" %}class="active"{% endif %}><a href="{% url 'bills' abbr %}">{% trans "Bills" %}</a></li>
                <li {% if nav_active == "committees" %}class="active"{% endif %}><a href="{% url 'committees' abbr %}">{% trans "Committees" %}</a></li>
                {% if "events" in metadata.feature_flags %}
                    <li {% if nav_active == "events" %}class="active"{% endif %}><a href="{% url 'events' abbr %}">{% trans "Events" %}</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
        {% endblock %}

    </header>

{% block callOut %}

{% endblock callOut %}

    <div id="container">


{% block content %}
{% endblock content %}

    </div>

    <div id="footerWrapper">
        <footer>
            <div id="footerLt">
                <a class="textReplace" id="sunlight" href="http://www.sunlightfoundation.com">Sunlight Foundation</a>
                <p>{% trans 'Our <a href="http://sunlightfoundation.com/legal/privacy/">privacy policy</a> details how personally identifiable information that is collected on our websites is handled. Read our <a href="http://sunlightfoundation.com/legal/terms/">terms of service</a>' %}.</p>
                <p>{% trans 'This work by <a href="http://sunlightfoundation.com">Sunlight Foundation</a>, unless <a href="/about/">otherwise noted</a>, is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons Attribution 3.0 United States License</a>.' %}</p>
            </div>
            <div id="footerRt">
                <div id="recources">
                    <h4 class="footerheaders">{% trans 'Resources ' %}</h4>
                    <dl class="inlineList">
                        <dt class="clear">{% trans "Reach Out to Us:" %}</dt>
                        <dd>
                            <ul>
                                <li><a href="/about/">{% trans "About Open States" %}</a></li>
                               <li><a href="/contact/">{% trans "Contact Us" %}</a></li>
                               <li><a href="https://twitter.com/openstates">@openstates</a></li>
                            </ul>
                        </dd>
                        <dt>{% trans 'Use Our Data:' %}</dt>
                        <dd>
                            <ul>
                                <li><a href="/api/">{% trans 'API' %}</a></li>
                                <li><a href="/downloads/">{% trans 'Bulk Downloads' %}</a></li>
                                <li><a href="http://python-sunlight.readthedocs.org/">{% trans 'Python Client Library' %}</a></li>
                                <li><a href="http://code.google.com/p/openstates/issues/list">{% trans 'Issue Tracker' %}</a></li>
                            </ul>
                        </dd>
                        <dt class="clear">{% trans 'Contribute:' %}</dt>
                        <dd>
                            <ul>
                                <li><a href="/contributing/">{% trans "Contributor&rsquo;s Guide" %}</a></li>
                                <li><a href="http://github.com/sunlightlabs/openstates/">{% trans 'Code on GitHub' %}</a></li>
                                <li><a href="http://readthedocs.org/docs/billy/en/latest/scrapers.html">{% trans 'Writing Scrapers' %}</a></li>
                            </ul>
                        </dd>


                    </dl>
                </div>
                <h4 class="withTip footerheaders noCap">{% trans "Like This Project and Want to Discover Others Like It?" %}</h4>
                <span class="tip">{% trans "Join the Sunlight Foundation&rsquo;s open government community to learn more" %}</span>
                <form action="http://organizing.sunlightfoundation.com/page/s/open-states" method="post" id="submit">
                    <input type="text" name="email" placeholder="{% trans 'your email address' %}">
                    <input type="text" name="zip" placeholder="{% trans 'your zip code' %}">
                    <button type="submit">
                        <span>{% trans "SignUp" %}</span>
                    </button>
                </form>
            </div>
        </footer>
    </div>

<script>
  /* chartbeat */
  var _sf_async_config = { uid: 980, domain: 'openstates.org' };
  (function() {
    function loadChartbeat() {
      window._sf_endpt = (new Date()).getTime();
      var e = document.createElement('script');
      e.setAttribute('language', 'javascript');
      e.setAttribute('type', 'text/javascript');
      e.setAttribute('src',
        (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
        "js/chartbeat.js");
      document.body.appendChild(e);
    };
    var oldonload = window.onload;
    window.onload = (typeof window.onload != 'function') ?
      loadChartbeat : function() { oldonload(); loadChartbeat(); };
  })();
</script>
</body>
