{% load static from staticfiles %}
{% load customtags %}
{% load twitter_tag %}
<!doctype html>

<html lang="en" class="no-js">
<head>
    <title>{% striptags %}{% block title %}{% endblock %}{% end_striptags %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "main.css" %}" />

    <script src="{% static 'js/jquery-1.5.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-placehold.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/jquery.hotkeys.min.js' %}"></script>
    <script src="{% static 'js/jquery.pjax.min.js' %}"></script>
    <script src="{% static 'js/datatables.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'select2-2.0/select2.css' %}"/>
    <script src="{% static 'select2-2.0/select2.min.js' %}"></script>
    <script src="http://cdn.gigya.com/js/socialize.js?apiKey=3_BLRB_2LlQJZDUW1wb9_ZOps-sOnnzA_e6xxNSwJBBGoB-SavmPAKHkaVVZPE5Kx8"></script>
    <script src="http://use.typekit.com/xau7dem.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <script>
     $(document).ready(function() {
        var doc = $(document);
        doc.bind("keydown", "alt+b", function(){window.location = '/{{abbr}}/bills/'});
        doc.bind("keydown", "alt+l", function(){window.location = '/{{abbr}}/legislators/'});
        doc.bind("keydown", "alt+c", function(){window.location = '/{{abbr}}/committees/'});
        doc.bind("keydown", "esc", function(){$('#id_q').focus()});
    });
    </script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block headblock %}{% endblock %}

    <script>
      /* google analytics async */
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1265484-77']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</head>

<body class="{% block bodyclass %}{% endblock %}">
    <header id="mainHeader">
        {% if abbr or active_states %}
        <form action="/{{abbr|default:"all"}}/search/" method="get" id="searchform">
            <input class="transparent search" type="search" name="search_text" id="id_q" placeholder="search the site">
            <button type="submit">
                 <span>Search</span>
            </button>
        </form>
        {% else %}
            <div style="min-height: 36px;"><!-- push down 36px to compensate for hidden form --></div>
        {% endif %}
        <h1 class="clear"><a class="textReplace" href="/">Open States</a></h1>
        <div id="shareBtns"></div>

        {# Some pages are state-agnostic and will need to omit this block (like the homepage). #}
        {% state_select_form abbr %}
        {% block collection_nav %}
        {% if abbr and abbr != 'all' %}
        <nav>
            <ul>
                <li {% if statenav_active == "home" %}class="active"{% endif %}><a href="{% url state abbr %}">Home</a></li>
                <li {% if statenav_active == "legislators" %}class="active"{% endif %}><a href="{% url legislators abbr %}">Legislators</a></li>
                <li {% if statenav_active == "bills" %}class="active"{% endif %}><a href="{% url bills abbr %}">Bills</a></li>
                <li {% if statenav_active == "committees" %}class="active"{% endif %}><a href="{% url committees abbr %}">Committees</a></li>
{% if "events" in metadata.feature_flags %}
                <li {% if statenav_active == "events" %}class="active"{% endif %}><a href="{% url events abbr %}">Events</a></li>
{% endif %}
            </ul>
            <div class="clear"></div>
        </nav>
        {% endif %}
        {% endblock %}

    </header>

    <div id="container">
{% block content %}
{% endblock content %}
    </div>
    <div id="footerWrapper">
        <footer>
            <div id="footerLt">
                <a class="textReplace" id="sunlight" href="http://www.sunlightfoundation.com">Sunlight Foundation</a>
                <p>Our <a href="http://sunlightfoundation.com/legal/privacy/">privacy policy</a> details how personally identifiable information that is collected on our websites is handled. Read our <a href="http://sunlightfoundation.com/legal/terms/">terms of service</a>.</p>
                <p>This work by <a href="http://sunlightfoundation.com">Sunlight Foundation</a>, unless <a href="/colophon/">otherwise noted</a>, is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons Attribution 3.0 United States License</a>.</p>
            </div>
            <div id="footerRt">
                <div id="recources">
                    <h4 class="h5">Resources</h4>
                    <dl class="inlineList">
                        <dt>Use Our Data:</dt>
                        <dd>
                            <ul>
                                <li><a href="/api">API</a></li>
                                <li><a href="/downloads">Bulk Downloads</a></li>
                                <li><a href="http://python-sunlight.readthedocs.org/">Python Client Library</a></li>
                                <li><a href="https://github.com/sunlightlabs/openstates/issues">Issue Tracker</a></li>
                            </ul>
                        </dd>
                        <dt class="clear">Contribute:</dt>
                        <dd>
                            <ul>
                                <li><a href="/contributing/">Contributor's Guide</a></li>
                                <li><a href="http://github.com/sunlightlabs/openstates/">Code on GitHub</a></li>
                                <li><a href="http://readthedocs.org/docs/billy/en/latest/scrapers.html">Writing Scrapers</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <div class="openTwit clear">
                        <h6 class="inlineTitle">
                            <a href="https://twitter.com/openstates">@openstates:</a>
                        </h6>
                        <span>{% latest_tweet %}</span>
                    </div>
                </div>
                <h4 class="withTip h5">Like This Project and Want to Discover Others Like It?</h4>
                <span class="tip">Join the Sunlight Foundation's open government community to learn more</span>
                <form action="http://organizing.sunlightfoundation.com/page/s/open-states" method="post" id="submit">
                    <input type="text" name="email" placeholder="your email address">
                    <input type="text" name="zip" placeholder="your zip code">
                    <button type="submit">
                         <span>SignUp</span>
                    </button>
                </form>
            </div>
        </footer>
    </div>
</body>
