{% extends "billy/web/public/base.html" %}
{% load url from future %}
{% load markup_tags %}
{% load i18n %}
{% load humanize %}
{% load customtags %}

{% block title %}
{{bill.bill_id }} {% trans "Versions" %} - {{metadata.display_name}} {{bill.session_details.display_name}}
{% endblock %}

{% block description %}
{% blocktrans with legislature=metadata.display_name bill_id=bill.bill_id session=bill.session_details.display_name title=bill.title%} Full text of {{legislature}}'s {{bill_id}} from {{session}}. ({{title}}) {% endblocktrans %}
{% endblock %}

{% block content %}
        <div class="fullWith mainModule">
            <h1 class="withTimeline withTip" style="padding-top: 30px;">
                {% trans "All Versions for" %}
                <a href="{{bill.get_absolute_url}}">{{ bill.bill_id }}</a>
            </h1>
            <p class="tip">{{ metadata.name }} {{ bill.chamber_name }} {{bill.type_string|title}}</p>
        </div>    
        <div class="module">
            <ul class="inlineThirds">
            {% for version in bill.versions %}
                <li class="{% cycle 'one' 'two' 'three' %}">
                    <a href="{{version.url}}">{{ version.name }}</a>
                    {% if version.mimetype %}[{{ version.mimetype}}]{% endif %}
                </li>
            {% endfor %}
            </ul>
            <div class="clear"></div>
        </div>
        <div class="fullWidth">
            {% sources bill %}
        </div>
{% endblock %}
