{% extends "billy/web/public/base.html" %}
{% load url from future %}
{% load static from staticfiles %}
{% load i18n %}
{% load customtags %}

{% block title %}
{{description}} {% if object_list.current_page != 1 %} - {% trans 'page' %} {{object_list.current_page}}{% endif %}
{% endblock %}

{% block description %}
{{description}} {{long_description|join:', '}}
{% endblock %}

{%  block headblock %}
<link rel="stylesheet" type="text/css" href="{% static 'select2-2.0/select2.css' %}"/>
<script src="{% static 'select2-2.0/select2.min.js' %}"></script>
<script>
$(document).ready(function(){

    $('#id_type').select2({
        placeholder: '---',
        allowClear: true
    });
    $('#id_session').select2({
        placeholder: '---',
        allowClear: true
    });
    $('#id_subjects').select2({
        placeholder: '---',
        allowClear: true
    });
    $('#id_actions__type').select2({
        placeholder: '---',
        allowClear: true
    });
    $('#id_sponsor__leg_id').select2({
        placeholder: '---',
        allowClear: true
    });
    $('#id_status').select2({
        placeholder: '---',
        allowClear: true
    });

    var reset = $('<input id="clear" type="submit" value="Reset">');
    reset.click(function(event){

        // Don't actually submit the page.
        event.preventDefault();

        // Clear the select widgets.
        $('#id_session').select2("val", '');
        $("#id_subjects").select2("val", []);
        $("#id_status").select2("val", '');
        $("#id_type").select2("val", '');
        $('#id_sponsor__leg_id').select2("val", '');

        // Clear the search box.
        $('#id_search_text').val('');

        // Clear the checkboxes.
        $('[id^="id_chamber"]').attr('checked', '')
    });

        // $("#submit").after(reset);

    // make rows clickable
    clickable_rows('tbody tr');
});
</script>
{% endblock %}

{% block content %}
  <!--   {#   <span class="tip scout-link withTipSm">
            {% if request.GET.search_text %}<a href="https://scout.sunlightfoundation.com/search/state_bills/{{request.GET.search_text|urlencode}}?state_bills[state]={{abbr|upper}}">{% trans 'Receive alerts about' %} "{{request.GET.search_text}}"</a> {% trans 'with Scout.' %}
            {% if abbr != 'all' %}<span class="tip">{% trans 'Search for bills about' %} "{{request.GET.search_text}}" {% trans 'across' %} <a href="/all/search?search_text={{request.GET.search_text|urlencode}}">{% trans 'all states.' %}</a></span>{% endif %}
            {% else %} <a href="https://scout.sunlightfoundation.com/">{% trans 'Receive bill alerts' %}</a> {% trans 'with Scout.'%}
        {% endif %}
        </span>
#} -->
        {% if request.GET.search_text and request.user.is_authenticated %}
            {% favorite bill.id "search" %}
        {% endif %}
        <div class="fullWidth">
            <div id="stateimg-{{metadata.abbr}}" class="stateTitle">
                <h2 class="withTip">{{ description }}</h2>
                <p>{# funfact metadata.abbr #}</p>
            </div>
        </div>
        {% if long_description %}
        <ul id="billSearchLongDesc" class="clearfix">
            <li class="tip">Filtering to only show bills
            {% for item in long_description %} {{item}}{% if not forloop.last %}, {% endif %}{% endfor %}
            </li>
        </ul>
        {% endif %}
            <div class="fourCol colLtSm filterCol clear">
                <h3 id="filterTitle" class="textReplace">{% trans "Filter Bills" %}</h3>
                <form action="{% url 'bills' abbr %}" id="sidebarSearch">
                   <ul>


                      <li>
                        <h6 class="withTipSm"><label for="id_search_text">Search text:</label></h6>
                        <input type="text" name="search_text" id="id_search_text" value="{{form.data.search_text}}"/>
                      </li>

                      <li>
                          <h6 class="withTipSm"><label for="id_status">Status:</label></h6>
                        <ul class="basline">
                        {% for value, status in form.fields.status.widget.choices %}
                          <li>
                            <label for="id_status_{{forloop.counter0}}">
                              <input type="checkbox" name="status" value="{{value}}" id="id_status_{{forloop.counter0}}" {% if value in form.status.data %}checked{% endif %}/><span class="checkboxlabel">{{status}}</span></label>
                        {% endfor %}
                        </ul>
                      </li>

                      <li>
                        <h6 class="withTipSm"><label for="id_session">Session:</label></h6>
                        <select name="session" id="id_session">
                          {% for value, session in form.fields.session.widget.choices %}
                            <option value="{{value}}" {% if value in form.data.session %}selected{% endif %}>{{session}}</option>
                          {% endfor %}
                        </select>
                      </li>

                      <li>
                        <h6 class="withTipSm"><label for="id_chamber_0">Chamber:</label></h6>
                        <ul class="basline">
                        {% for chamber, chamber_name in form.fields.chamber.widget.choices %}
                          <li>
                            <label for="id_chamber_{{forloop.counter0}}">
                              <input type="checkbox" name="chamber" value="{{chamber}}" id="id_chamber_{{forloop.counter0}}" {% if chamber in form.chamber.data %}checked{% endif %}/><span class="checkboxlabel">{{chamber_name}}</span></label>
                          </li>
                        {% endfor %}
                        </ul>
                      </li>

                      <li>
                        <h6 class="withTipSm"><label for="id_sponsor__leg_id">Sponsor name:</label></h6>
                        <select name="sponsor__leg_id" id="id_sponsor__leg_id">
                          {% for value, name in form.fields.sponsor__leg_id.widget.choices %}
                              <option value="{{value}}" {% if value in form.data.sponsor__leg_id %}selected{% endif %}>{{name}}</option>
                          {% endfor %}
                        </select>
                      </li>

                      <li>
                        <h6 class="withTipSm"><label for="id_type">Type:</label></h6>
                        <select name="type" id="id_type">
                          {% for value, name in form.fields.type.widget.choices %}
                            <option value='{{value}}' {% if value == form.data.type %}selected{% endif %}>{{name}}</option>
                          {% endfor %}
                        </select>
                      </li>

                      <li>
                        <h6 class="withTipSm"><label for="id_subjects">Subjects:</label></h6>
                        <select multiple="multiple" name="subjects" id="id_subjects">
                          {% for value, name in form.fields.subjects.widget.choices %}
                            <option value='{{value}}' {% if value in form.data.subjects %}selected{% endif %}>{{name}}</option>
                          {% endfor %}
                        </select>
                      </li>

                      <li>
                        <button id="submit" type="submit"/><span>{% trans "Submit" %}</span></button>
                      </li>
                      <li>
                        <button id="reset" type="reset"/><span>{% trans "Reset" %}</span></button>
                      </li>

                    </ul>
                </form>
            </div>
            <div class="eightCol colRt">
                {% if not object_list.count %}
                    {% trans "No bills found matching those criteria. Try widening your criteria." %}
                {% else %}
                {% include "billy/web/public/_pagination.html" %}
                {% if use_table %}
                <table class="withFilter">
                    <thead>
                        <tr id="titles">
                            <td><h6 class="withTipSm">{% trans "Title" %}</h6></td>
                            <td><h6 class="withTipSm">{% trans "Introduced" %}</h6></td>
                            <td><h6 class="withTipSm">{% trans "Recent Action" %}</h6></td>
                        </tr>
                    </thead>
                    <tbody>
                {% endif %}

                    {% for obj in object_list %}
                        <tr class="{% cycle 'even' 'odd' %}">
                            {% include rowtemplate_name %}
                        </tr>
                    {% endfor %}

                {% if use_table %}
                    </tbody>
                </table>
                {% endif %}

                {% include "billy/web/public/_pagination.html" %}
                {% endif %}
            </div>
            <div class="clear"></div>
{% endblock %}

