{% extends "billy/web/public/base.html" %}
{% load url from future %}
{% load static from staticfiles %}
{% load customtags %}

{% block title %}
{{description}} {% if object_list.current_page != 1 %} - {% trans 'page' %} {{object_list.current_page}}{% endif %}- Open States
{% endblock %}

{% block description %}
{{description}} {{long_description|join:', '}}
{% endblock %}

{%  block headblock %}
<link rel="stylesheet" type="text/css" href="{% static 'select2-2.0/select2.css' %}"/>
<script src="{% static 'select2-2.0/select2.min.js' %}"></script>
<script>
$(document).ready(function(){

    $('#id_type').select2({
        placeholder: '---',
        allowClear: true
    });
    $('#id_session').select2({
        placeholder: '---',
        allowClear: true
    });
    $('#id_subjects').select2({
        placeholder: '---',
        allowClear: true
    });
    $('#id_actions__type').select2({
        placeholder: '---',
        allowClear: true
    });
    $('#id_sponsor__leg_id').select2({
        placeholder: '---',
        allowClear: true
    });
    $('#id_status').select2({
        placeholder: '---',
        allowClear: true
    });

    var reset = $('<input id="clear" type="submit" value="Reset">');
    reset.click(function(event){

        // Don't actually submit the page.
        event.preventDefault();

        // Clear the select widgets.
        $('#id_session').select2("val", '');
        $("#id_subjects").select2("val", []);
        $("#id_status").select2("val", '');
        $("#id_type").select2("val", '');
        $('#id_sponsor__leg_id').select2("val", '');

        // Clear the search box.
        $('#id_search_text').val('');

        // Clear the checkboxes.
        $('[id^="id_chamber"]').attr('checked', '')
    });

    $("#submit").after(reset);

    // make rows clickable
    clickable_rows('tbody tr');
});
</script>
{% endblock %}

{% block content %}
        <span class="tip sources withTipSm">
            {% if request.GET.search_text %}<a href="https://scout.sunlightfoundation.com/search/state_bills/{{request.GET.search_text|urlencode}}?state_bills[state]={{abbr|upper}}">{% trans 'Receive alerts about' %} "{{request.GET.search_text}}"</a> {% trans 'with Scout.' %}
            {% if abbr != 'all' %}<span class="tip">{% trans 'Search for bills about' %} "{{request.GET.search_text}}" {% trans 'across' %} <a href="/all/search?search_text={{request.GET.search_text|urlencode}}">{% trans 'all states." %}</a></span>{% endif %}
            {% else %} <a href="https://scout.sunlightfoundation.com/">{% trans 'Receive bill alerts' %}</a>{% trans 'with Scout.'%}
        {% endif %}
        </span>
        <h2 id="billSearchTitle">{{ description }}</h2>
        {% if long_description %}
        <ul id="billSearchLongDesc" class="clearfix">
            {% for item in long_description %} <li class="tip">{{item}}{% if not forloop.last %}, {% endif %}</li> {% endfor %}
        </ul>
        {% endif %}
            <div class="twoCol colLtSm filterCol clear">
                <h3 id="filterTitle" class="textReplace">{% trans "Filter Bills" %}</h3>
                <form action="{% url 'bills' abbr %}" id="sidebarSearch">
                    <ul>
                        <li>
                            <input id="submit" type="submit"/>
                        </li>
                        {{ form.as_ul }}
                    </ul>
                </form>
            </div>
            <div class="tenCol colRt">
                {% if not object_list.count %}
                    {% trans "No bills found matching those criteria. Try widening your criteria." %}
                {% else %}
                <div class="pagination-links">
                    <span class="tip tipSm">{% blocktrans %} Showing {{object_list.range_start}} to {{object_list.range_end}} of {{object_list.count}} {% endblocktrans %}</span>
                    <div class="pagesNum">
                        {% if object_list.has_next or object_list.has_previous %}
                        <ul>
                        {% for text, page_number, clickable in object_list.pagination_data %}
                            <li>
                            <a {% if not clickable %}class="selected"{% endif %} href="{{request.GET.path}}?{% if get_params %}{{ get_params }}&{% else %}{% endif %}page={{page_number}}">{{text}}</a>
                            </li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="clear"></div>
                </div>

                {% if use_table %}
                <table class="withFilter">
                    <thead>
                        <tr id="titles">
                            {% for header in column_headers %}
                                <th>{{header}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                {% endif %}

                    {% for obj in object_list %}
                        <tr class="{% cycle 'even' 'odd' %}">
                            {% include rowtemplate_name %}
                        </tr>
                    {% endfor %}

                {% if use_table %}
                    </tbody>
                </table>
                {% endif %}
                
                 <div class="pagination-links">
                     <span class="tip tipSm">{% blocktrans %}Showing {{object_list.range_start}} to {{object_list.range_end}} of {{object_list.count}} {% endblocktrans %}</span>
                    <div class="pagesNum">
                        {% if object_list.has_next or object_list.has_previous %}
                        <ul>
                        {% for text, page_number, clickable in object_list.pagination_data %}
                            <li>
                            <a {% if not clickable %}class="selected"{% endif %} href="{{request.GET.path}}?{% if get_params %}{{ get_params }}&{% else %}{% endif %}page={{page_number}}">{{text}}</a>
                            </li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="clear"></div>
                </div>
                {% endif %}
            </div>
            <div class="clear"></div>{% endblock %}

