{% extends "billy/web/public/base.html" %}
{% load static from staticfiles %}
{% load url from future %}
{% load humanize %}
{% load i18n %}
{% load customtags %}
{% load markup_tags %}

{% block title %}
  {{bill.bill_id }} - {{metadata.display_name}} {{bill.session_details.display_name}}
{% endblock %}

{% block description %}
{{metadata.display_name}} {{bill.chamber_name}} {{bill.type_string|title}} {{bill.bill_id}}: {{bill.title}}.
{% endblock %}

{% block headblock %}
    <link rel="canonical" href="{{bill.get_absolute_url}}">
    <script src="{% static 'js/d3.v3.min.js' %}"></script>
    <script>
    $(document).ready(function(){
        $(document).bind("keydown", "alt+j", function(){window.location = '{{bill.get_admin_json_url}}'});
        make_vote_charts(150, 150, 70);
        fix_images();
    });
    </script>
{% endblock %}


{% block content %}
        <ul class="breadcrumb floatedList clearfix">
            <li><a href="{{metadata.get_absolute_url}}">{{metadata.name}}</a></li>
            <li>
                » <a href="{% url 'bills' abbr %}">{% trans "Bills" %}</a>
            </li>
            <li>
                » <a href="{% url 'bills' abbr %}?session={{bill.session}}">{{ bill.session_details.display_name }}</a>
            </li>
            <li>
                » <a href="{% url 'bills' abbr %}?session={{bill.session}}&chamber={{bill.chamber}}">{{ bill.chamber_name }}</a>
            </li>
            <li>
                » {{bill.bill_id}}
            </li>
        </ul>

        <div class="fullWidth mainModule">
            <span class="tip scout-link"><a href="https://scout.sunlightfoundation.com/item/state_bill/{{ bill.id }}">{% trans "Receive alerts about" %} {{ bill.bill_id }}</a> {% trans "with Scout." %}
            </span>
            <ol id="billAction">
                {% for stage, text, date in bill.progress_data %}
                <li {% if date %}class="active"{% endif %}>
                    <span id="{{stage}}">{{text}}</span>
                    {% if date %}<span class="tip">{{date|date:"M j, Y"}}</span>{% endif %}
                </li>
                {% endfor %}
            </ol>
            <!-- <h5 style="margin-bottom: 0px;">{{ bill.session_details.display_name }}</h5> -->
            <div class="medModule">
                <h2 class="withTimeline withTip" style="padding-top: 30px;">{{ bill.bill_id }}</h2>
                <p class="tip">{{ metadata.name }} {{ bill.chamber_name }} {{bill.type_string|title}}</p>
                <p>{{ bill.title|capfirst|smallcaps }}</p>
                <div class="clearfix">
                    <div class="tip colLt">
                    {% if request.user.is_authenticated %}
                        {% favorite bill.id "bill" %}
                    {% endif %}
                    </div>
                    <div class="colRt">

                    {% with latest_version=bill.versions_preview|last %}
                    {% if latest_version %}
                    <a class="viewMore" href="{% url 'document' bill.state bill.session bill.bill_id latest_version.doc_id %}">View latest bill text.</a>
                    {% endif %}
                    {% endwith %}
                    </div>
                </div>
            </div>

            <dl class="inlineList">
                {% if bill.subjects %}
                <dt class="clear contentBottom">{% trans "Bill Subjects:" %}</dt>
                <dd>
                        {% for subject in bill.subjects %}
                        <span class="label-bill-subject"><a href="{% url 'bills' abbr %}?subjects={{subject}}">{{subject}}</a></span>
                        {% endfor %}
                        {% endif %}
                        {% for type in bill.type|slice:"1:" %}
                        <span class="label-bill-type"><a href="{% url 'bills' abbr %}?type={{type}}">{{type|title}}</a></span>
                </dd>
                {% endfor %}

                <dt class="clear contentBottom">{% trans "Session:" %}</dt>
                <dd><a href="{% url 'bills' abbr %}?session={{bill.session}}">{{ bill.session_details.display_name }}</a></dd>

                <dt class="clear contentBottom">{% trans "Sponsors" %} ({{ bill.sponsors|length }}):</dt>
                <dd class="columnThirds">
                    <!-- <h6 class="h6 ulTitle">
                        {% with sponsor=bill.sponsors_manager.first_primary %}
                            {% if sponsor.leg_id %}
                                <a href="{{ sponsor.get_absolute_url }}">{{ sponsor.display_name }}</a>
                                {% if sponsor.active %}
                                    <span class="tip sideNote">({{ sponsor.party|party_noun }}) Dist. {{ sponsor.district }}</span>
                                {% endif %}
                            {% else %}
                                {% if sponsor.committee_id %}
                                    <a href="{% url 'committee' abbr sponsor.committee_id %}">{{ sponsor.name }}</a>
                                {% else %}
                                    {# Sponsor had no leg_id or was inactive. #}
                                    {{ sponsor.name }}
                                {% endif %}
                            {% endif %} <span class="tip sideNote">{{ sponsor.type }}</span></li>
                        {% endwith %}
                    </h6>
                -->


<!-- SPONSORS -->
                    <ul class="clearfix" id="sponsorList">
                    {% for sponsor in bill.sponsors_manager.first_fifteen %}
                        {% if sponsor.leg_id %}

                            <li>
                                <img src="http://static.openstates.org/photos/xsmall/{{sponsor.leg_id}}.jpg" />
                                <div>
                                    <a href="{{ sponsor.get_absolute_url }}">{{ sponsor.display_name }}</a>
                                    <p class="sponsor-type bold">{{ sponsor.type }}</p>
                                    <p class="tip sponsor-type">({{ sponsor.context_role.party|party_noun }}) </p>
                                    <p class="tip sponsor-type">{% trans "Dist." %} {{ sponsor.context_role.district }}</p>
                                </div>
                            </li>
                        {% else %}
                            {% if sponsor.committee_id %}
                                <li><a href="{% url 'committee' abbr sponsor.committee_id %}">{{ sponsor.name }}</a></li>
                            {% else %}
                                {# Sponsor had no leg_id or was inactive. #}
                                <li><span class="sponsorName">{{ sponsor.name }}</span></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if show_all_sponsors %}
                        {% with remainder=bill.sponsors_manager.first_fifteen_remainder %}
                        {% for sponsor in remainder %}
                        {% if sponsor.leg_id %}
                            <li><a href="{{ sponsor.get_absolute_url }}">{{ sponsor.display_name }}</a>
                                <span class="tip sponsor-type">({{ sponsor.context_role.party|party_noun }}) {% trans "Dist." %} {{ sponsor.context_role.district }}</span></li>
                        {% else %}
                            {% if sponsor.committee_id %}
                                <li><a href="{% url 'committee' abbr sponsor.committee_id %}">{{ sponsor.name }}</a></li>
                            {% else %}
                                {# Sponsor had no leg_id or was inactive. #}
                                <li><span class="sponsorName">{{ sponsor.name }}</span>
                            {% endif %}
                        {% endif %} <span class="tip sponsor-type">{{ sponsor.type }}</span></li>
                        {% endfor %}
                        {% endwith %}
                    {% else %}
                        {% with remainder=bill.sponsors_manager.first_fifteen_remainder %}
                        {% if remainder|length %}
                        <li><a class="viewMore" href="?show_all_sponsors=True">{% blocktrans with count=remainder|length|apnumber %} View {{ count}} other{% endblocktrans %}{{ remainder|length|pluralize}}</a></li>
                        {% endif %}
                        {% endwith %}
                    {% endif %}
                    </ul>

                {% if bill.quality_exceptions %}
                <dt class="clear contentBottom">
                <a class="missingInfo" title="{% trans 'Our Methodology' %}" href="/methodology/">?</a>
                {% trans "Notes:" %}
                </dt>
                <dd><ul>
                {% for qe in bill.quality_exceptions %}
                {% if qe.type == "bills:no_sponsors" %}
                    <li>{% trans "The official source for this bill does not list any sponsors." %}</li>
                {% elif qe.type == "bills:no_actions" %}
                    <li>{% trans "The official source for this bill does not list any actions." %}</li>
                {% elif qe.type == "bills:no_versions" %}
                    <li>{% trans "The official source for this bill does not include any bill text." %}</li>
                {% endif %}
                {% endfor %}
                </ul></dd>
                {% endif %}
                </dd>
             </dl>
             <div class="clear"></div>
         </div>

{% include "billy/web/public/developer_bill.html" %}

         {% if bill.versions or bill.documents %}
            <div class="module">
                <div class="eightCol colLt">
                    {% if bill.versions %}
                    <h3 class="moduleTitle">{% trans "Bill Text" %}</h3>
                        <ul class="inlineThirds">
                        {% for version in bill.versions_preview %}
                            <li class="{% cycle 'one' 'two' 'three' %}">
                            <a href="{% url 'document' bill.state bill.session bill.bill_id version.doc_id %}">{{ version.name }}</a>
                                {% if version.mimetype %}[{{ version.mimetype}}]{% endif %}
                            </li>
                        {% endfor %}

                        </ul>
                        <div class="clear">
                        {% with remainder=bill.versions_remainder %}
                            {% if remainder %}
                            <a class="viewMore" href="versions/">
                                {% blocktrans with count=remainder|length|apnumber %} View {{ count }} other{% endblocktrans %}{{remainder|length|pluralize}} </a></li>
                            {% endif %}
                        {% endwith %}
                    </div>
                    {% endif %}
                </div>
                <div class="fourCol colRt">
                    {% if bill.documents %}
                        <h4>{% trans "Documents" %}</h4>
                            {% for document in bill.documents_preview %}
                                <ul>
                                    <li><a href="{{document.url}}">{{ document.name }}</a>
                                    {% if "+mimetype" in document %}[{{ document|plusfield:"mimetype"}}]{% endif %}
                                    </li>
                                </ul>
                            {% endfor %}
                            {% with remainder=bill.documents_remainder %}
                                {% if remainder %}
                                <a class="viewMore" href="documents/">
                                    {% blocktrans with count=remainder|length|apnumber %}View {{ count }} other{% endblocktrans %}{{ remainder|length|pluralize}} </a></li>
                                {% endif %}
                            {% endwith %}
                            <div class="clear"></div>
                    {% endif %}
                </div>
                <div class="clear"></div>
            </div>
        {% endif %}

        <div class="module clearfix">
            <h3 class="moduleTitle">{% trans "Votes" %}</h3>

                {% if bill.votes_manager.count %}
                <ul class="largerList voteChart">
                    {% for vote in bill.votes_manager %}
                    <li class="sixCol {% cycle "colLt" "colRt" %}">
                        <time class="published">{{vote.date|date:"M j, Y"}}</time>
                        <a href="{{ vote.get_absolute_url }}">({{vote.chamber_name}}) {{vote.motion|truncatewords:30}}</a>
                        {% if vote.has_votes %}
                        {% include "billy/web/public/_vote_chart_table.html" %}
                        {% else %}
                            {% trans "No vote counts available." %}
                        {% endif %}
                        {% if not vote.has_voters %}
                        <span class="right"><b>{{vote_value|title}}</b></span>
                            {% trans "No vote roll call available." %}
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
        {% endif %}
       </div>


       <div class="module fullWidth">
            <h3 class="moduleTitle">{% trans "Actions" %}</h3>

            <div class="fullWidth clearfix">
                <table class="normalTable" id="actions-table">
                    <thead>
                        <tr id="titles">
                            <th style="min-width: 7em;">{% trans "Date" %}</th>
                            <th>{% trans "Chamber" %}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for action in bill.actions_manager %}
                        <tr class="action {% cycle 'even' 'odd' %}" {% if 'other' in action.type %}data-actiontype="other"{% endif %}>
                            <td class="tip withTipSm">{{ action.date|date:"M j, Y"}}</td>
                            <td>{{ action.actor_name }}</td>
                        {% if action.related_votes %}
                        <td>{{ action.action_display|safe|smallcaps }}
                            {% for vote in action.related_votes %}
                                - <a href = '/{{abbr}}/votes/{{vote}}' >Related Vote</a>
                            {% endfor %}
                        </td>
                        {% else %}
                            <td>{{ action.action_display|safe|smallcaps }}</td>
                        {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="clear"></div>
        </div>
{% if events|length > 0 %}
        <div class="fullWidth module">
            <h3 class="moduleTitle">{% trans "Events" %}</h3>
            <table>
                <thead>
                    <tr>
                        <th>{% trans "Description" %}</th>
                        <th>{% trans "Date" %}</th>
                        <th>{% trans "Attendees" %}</th>
                        <th>{% trans "Location" %}</th>
                        {#<th>{% trans "Bills" %}</th>#}
                    </tr>
                </thead>
                <tbody>
{% for event in events %}
            <tr class="{% cycle odd,even %}">
                <td><a href="{% url 'event' abbr event|underscore_field:"id" %}" >{{event.description}}</a></td>
                <td>{{event.when|naturaltime}}</td>
                <td>{% for participant in event.participants %}
                        {% if participant.participant_type == 'legislator' %}
                            {% if participant.id %}
<a href="{% url 'legislator_noslug' abbr participant.id %}"
    >{{participant.participant}}</a>
                            {% else %}
                                {{participant.participant}}
                            {% endif %}
                        {% elif participant.participant_type == 'committee' %}
                            {% if participant.id %}
<a href="{% url 'committee' abbr participant.id %}"
    >{{participant.participant}}</a>
                            {% else %}
                                {{participant.participant}}
                            {% endif %}
                        {% endif %}
                    {% endfor %}</td>

                <td>{{event.location}}</td>
                {% comment %}<td>{% for bill in event.related_bills %}
                        {% if bill.bill_id %}
                        <a href="{% url 'bill_noslug' abbr bill.bill_id %}"
                            >{{bill|underscore_field:"scraped_bill_id"}}</a>
                        {% else %}
{{bill|underscore_field:"scraped_bill_id"}}
                        {% endif %}
                        {% endfor %}</td>{%endcomment %}
            </tr>
{% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}

        {% sources bill %}
        </div>
        <div class="clear"></div>
        {% endblock %}
