{% load humanize %}
{% load customtags %}
{% blocktrans %}
{{legislator.display_name}} represents {{legislator.chamber_name|title}} District {{legislator.district}} in the {{legislator.metadata.name}} State {{legislator.chamber_name|title}}, is a member of {{legislator.committees.count|apnumber}} committees, 
{% endblocktrans %}
{% with count=legislator.primary_sponsored_bills.count %}
{% trans "and" %}
  {% if count %}

  {% trans "is the primary sponsor of" %} {{count|apnumber}}
    {% with count=legislator.secondary_sponsored_bills.count %}
      {% if count %}
      {% trans "bills, and is the secondary sponsor of" %} {{count|apnumber}} {% trans "bills" %}
      {% else %}
      {% trans "bills" %}.
      {% endif %}
    {% endwith %}

  {% else %}

    {% with count=legislator.secondary_sponsored_bills.count %}
      {% if count %}
      {% trans "is a secondary sponsor of" %} {{count|apnumber}} {% trans "bills" %}.
      {% else %}
          {% trans "has not sponsored any bills in the current session." %}
      {% endif %}
    {% endwith %}

  {% endif %}
  {% endwith %}


<p>
  {% if "_total_contributions" in legislator %}
  {{legislator.title}} {{legislator.last_name}} {% blocktrans %} has raised ${{legislator|underscore_field:"total_contributions"|intcomma}} since {{legislator|underscore_field:"contributions_start_year"}}. {% endblocktrans %}
{% endif %}
{% if legislator.transparencydata_id %}
    {% trans "For detailed campaign finance information visit " %}
    <a href="http://influenceexplorer.com/politician/id/{{legislator.transparencydata_id}}?cycle=-1">Influence Explorer</a>.
{% endif %}
</p>
