{% load humanize %}
{% load i18n %}
{% load customtags %}
{% blocktrans with name=legislator.display_name chamber=legislator.chamber_name|title district=legislator.district state=legislator.metadata.name chamber_name=legislator.chamber_name|title com_count=legislator.committees.count|apnumber count counter=legislator.committees.count %}
   {{name}} represents {{chamber}} District {{district}} in the {{state}} {{chamber_name}}, is a member of {{com_count}} committee,
{% plural %}
   {{name}} represents {{chamber}} District {{district}} in the {{state}} {{chamber_name}}, is a member of {{com_count}} committees,
{% endblocktrans %}
{% with count=legislator.primary_sponsored_bills.count %}
{% trans "and" %}
  {% if count %}

  {% trans "is the primary sponsor of" %} {{count|apnumber}}
    {% with count=legislator.secondary_sponsored_bills.count %}
      {% if count %}
      {% trans "bills, and is the secondary sponsor of" %} {{count|apnumber}} {% trans "bills" %}
      {% else %}
      {% trans "bills" %}.
      {% endif %}
    {% endwith %}

  {% else %}

    {% with count=legislator.secondary_sponsored_bills.count %}
      {% if count %}
      {% trans "is a secondary sponsor of" %} {{count|apnumber}} {% trans "bills" %}.
      {% else %}
          {% trans "has not sponsored any bills in the current session." %}
      {% endif %}
    {% endwith %}

  {% endif %}
  {% endwith %}


  {% if "_yearly_contributions" in legislator %}
    <div id="ie-chart-container">
        <table>
            <tbody>
                <!-- FIXME: these numbers should come from db -->
                {% for year, amount in legislator|underscore_field:"yearly_contributions" %}
                    <tr> <td>{{year}}</td> <td>{{amount}}</td> </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% endif %}
{% if legislator.transparencydata_id %}
    <p>
    {% trans "For detailed campaign finance information visit " %}
    <a href="http://influenceexplorer.com/politician/id/{{legislator.transparencydata_id}}?cycle=-1">Influence Explorer</a>.
    </p>
{% endif %}

