{% if 'lower' in chamber_select_chambers %}
<form action="/{{abbr}}/{{chamber_select_collection}}/" method="get" id="toggleBtns" class="actionItem medModuleSm">
    <div class="buttonGroup">
        {% for k,v in chamber_select_chambers.items %}
        <button class="{% if forloop.first %}first {% endif %} {% if k == chamber %}active{% endif %}"
            name="chamber" value="{{k}}">{{v}}</button>
        {% endfor %}
        <button class="last {% if chamber == 'both' %}active{% endif %}" name="chamber" value="">
            Both Chambers
        </button>
    </div>
    <div class="clear"></div>
</form>
{% endif %}
