{% extends "billy/web/public/base.html" %}
{% load url from future %}
{% load customtags %}


{% block title %}{{committee.committee }}{% endblock %}

{% block content %}
<h1>{{ state.name }} {{ chamber_name }}</h1>
<h2>{{ committee.committee }}</h2>


<table>
  <tr>
    <th>Name</th>
    <!--<th>Photo</th>-->
    <th>Role</th>
    <th>District</th>
    <th>Party</th>
  </tr>
  {% for obj, legislator in committee.members_objects %}
  <tr>
  	{% if legislator %}
      <td><a href="{{ legislator.get_absolute_url }}">{{ legislator.display_name }}</a></td>
    {% else %}
      <td>{{ obj.name }}</td>
    {% endif %}
    <!--<td><img src={{ obj.photo_url }}/></td>-->
    <td>{{ obj.role }}</td>

    {% if legislator %}
          <td>{{ legislator.district }}</td>
          <td>{{ legislator.party }}</td>
    {% else %}
        <td>Not available</td>
        <td>Not available</td>
    {% endif %}
  </tr>
  {% endfor %}
</table>

<h3>Related Events</h3>
<ul>
{% for event in committee.events %}
<ul><a href = "{{ event.get_absolute_url }}"
        >{{event.description}} on {{ event.when|date:"M j, Y"}}</a><ul>
{% endfor %}
</ul>

{% sources committee %}

{% endblock %}

