{% extends "billy/web/public/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load customtags %}

{% block title %}
 {% trans "Committees" %} -
  {{metadata.legislature_name}}
{% endblock %}

{% block description %}
{% blocktrans with state=metadata.name chamber=chamber_name %} Information on all current {{state}} {{chamber}} committees. {% endblocktrans %}
{% endblock %}

{% block headblock %}
<script src="{% static 'js/datatables.js' %}"></script>
<script src="{% static 'js/jquery.pjax.min.js' %}"></script>
<script>
$(document).ready(function(){

    var show_chamber_column = {{ show_chamber_column|yesno:'true,false' }};

    var datatable_setup = function(){

        // Kill the html in the table headers.
        var table = $("#main-table");
        table.find('th').each(function(){
            var th = $(this);
            th.html(th.text());
        });

        // Convert the table to dataTable.
        if (table.find('th').length == 2) {
            // All 3 columns are displayed.
            var aoColumns = [
                    null,
                    { "bSortable": false },
                  ];
        } else {
            // The chamber column is hidden.
            var aoColumns = [
                    null,
                    null,
                    { "bSortable": false },
                  ];
        }

        table.dataTable({
            bPaginate: false,
            bInfo: false,
            bDestroy: true,
            aoColumns: aoColumns,
            "oLanguage": {
                "sSearch": ""
            }
        });
    }

    // Tell pjax not to jump to the top of the
    // page after loading.
    $.pjax.defaults.scrollTo = false;

    var doc = $(this);

    // When the pjax operation is done, re-run pjax_setup to bind
    // the listeners to the replaced button elements.
    doc.bind('pjax:complete', {}, pjax_setup);

    // Reinitialize the datatable too.
    doc.bind('pjax:complete', {}, datatable_setup);

    // And the filter box shim.
    doc.bind('pjax:complete', {}, function(){
        datatables_filterbox_shim('Filter by chamber, committee name, or member name')
    });

    var initialize_page = 'pjax:complete'
    doc.trigger(initialize_page);

});
</script>
{% endblock %}

{% block content %}
    {% include "billy/web/public/committees-pjax.html" %}
{% endblock %}
