{% load url from future %}
<table>
  <tr>
    <th><a href="?key=committee&order={{ sort_order }}">Name</th>
    <th>Members</th>
  </tr>
  {% for committee in committees %}
  <tr>
    <td><a href={% url 'committee' abbr committee.id %}>{{ committee.display_name }}</td>
    <td>
      {% if not committee.members %}
        [data not yet available]
      {% else %}
        {% for legislator in committee.members_objects|dictsort:"name" %}
          <a href="{% url 'legislator' abbr legislator.leg_id %}">{{ legislator.name }}</a>{% if not forloop.last %}; {% endif %}
        {% endfor %}
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>	