{% extends "billy/web/public/base.html" %}
{% load url from future %}
{% load i18n %}
{% load humanize %}
{% load customtags %}
{% load customtags %}


{% block title %}
 {{committee.display_name}} ({{committee.chamber_name}}) -
  {{metadata.legislature_name}} -
  Open States
{% endblock %}

{% block description %}
{{metadata.legislature_name}} - {{committee.chamber_name}} {{committee.display_name}} {% trans "Committee" %}.
{% endblock %}

{% block headblock %}
<link rel="canonical" href="{{committee.get_absolute_url}}">
<script>
$(document).ready(function() {
    clickable_rows("#main-table tbody tr");
    var doc = $(document);
    doc.bind("keydown", "alt+j", function(){window.location = '{{committee.get_admin_json_url}}'});
});
</script>
{% endblock %}

{% block content %}
<ul class="breadcrumb floatedList clearfix">
    <li><a href="{{metadata.get_absolute_url}}">{{metadata.name}}</a></li>
    <li>
    » <a href="{% url 'committees' abbr %}">{% trans "Committees" %}</a>
    </li>
    <li>
        » <a href="{% url 'committees' abbr %}?chamber={{committee.chamber}}">{{committee.chamber_name}}</a>
    </li>
    <li>
        » {{committee.display_name}}
    </li>
</ul>

<h2>{{ committee.display_name }} ({{committee.chamber_name}})</h2>
<div class="fullWidth module">
    <h3 class="moduleTitle">{% trans "Members" %}</h3>
    <table id="main-table">
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Role" %}</th>
                <th>{% trans "District" %}</th>
                <th>{% trans "Party" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for obj, legislator in committee.members_objects %}
                <tr class="{% cycle 'even' 'odd' %}">
                    {% if legislator %}
                        <td><a href="{{ legislator.get_absolute_url }}">{{ legislator.display_name }}</a></td>
                        {% else %}
                        <td>{{ obj.name }}</td>
                    {% endif %}
                    <!--<td><img src={{ obj.photo_url }}/></td>-->
                    <td>{{ obj.role|title }}</td>
                    {% if legislator %}
                          <td>{{ legislator.district }}</td>
                          <td>{{ legislator.party }}</td>
                    {% else %}
                    <td>{% trans "Not available" %}</td>
                    <td>{% trans "Not available" %}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="fullWidth module">
    <h3 class="moduleTitle">{% trans "Events" %}</h3>
    <table>
        <thead>
            <tr>
                <th>{% trans "What" %}</th>
                <th>{% trans "When" %}</th>
                <th>{% trans "Who" %}</th>
                <th>{% trans "Where" %}</th>
                <th>{% trans "Why" %}</th>
            </tr>
        </thead>
        <tbody>
{% for event in events %}
            <tr>
                <td><a href="{% url 'event' abbr event|underscore_field:"id" %}" >{{event.description}}</a></td>
                <td>{{event.when|naturaltime}}</td>
                <td>{% for participant in event.participants %}{{participant.participant}}, {% endfor %}</td>
                <td>{{event.location}}</td>
                <td>{% for bill in event.related_bills %}{{bill|underscore_field:"scraped_bill_id"}}, {% endfor %}</td>
            </tr>
{% endfor %}
        </tbody>
    </table>
</div>

{% include "billy/web/public/developer_committee.html" %}
{% if request.user|is_dev %}
<div class="fullWidth module">
    <h3 class="moduleTitle">{% trans "Developer ProTips" noop %}</h3>
</div>
{% endif %}

{% sources committee %}

{% endblock %}

