{% load url from future %}
<table id='main-datatable'>
  <tr>
    {% if show_chamber_column %}
    <th><a href="?key=chamber&order={{ sort_order }}&chamber={{chamber}}">Chamber</th>
    {% endif %}
    <th><a href="?key=committee&order={{ sort_order }}&chamber={{chamber}}">Name</th>
    <th>Members</th>
  </tr>
  {% for committee in committees %}
  <tr class="{% cycle odd,even %}">
    {% if show_chamber_column %}
    <td>{{ committee.chamber_name }}</td>
    {% endif %}
    <td><a href={{ committee.get_absolute_url }}>{{ committee.display_name }}</td>
    <td>
      {% if not committee.members %}
        [data not yet available]
      {% else %}
        <ul class="inlineList noSpace">
        {% for member, legislator_object in committee.members_objects %}
          {% if member.leg_id %}
            <li>
                <a class="tip withTip" href="{{legislator_object.get_absolute_url}}">{{legislator_object.display_name}}{% if not forloop.last %},{% else %}{% endif %}</a>
            </li>
          {% else %}
          <li>
            <span class="tip withTip">{{ member.name }}{% if not forloop.last %},{% else %}{% endif %}</span>
          </li>
          {% endif %}
        {% endfor %}
        </ul>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
