{% load url from future %}
<table>
  <tr>
    <th><a href="?key=committee&order={{ sort_order }}&chamber={{chamber}}">Name</th>
    <th>Members</th>
    {% if show_chamber_column %}
    <th><a href="?key=chamber&order={{ sort_order }}&chamber={{chamber}}">Chamber</th>
    {% endif %}
  </tr>
  {% for committee in committees %}
  <tr class="{% cycle odd,even %}">
    <td><a href={{ committee.get_absolute_url }}>{{ committee.display_name }}</td>
    <td>
      {% if not committee.members %}
        [data not yet available]
      {% else %}
        <ul class="inlineList noSpace">
        {% for legislator in committee.members|dictsort:"name" %}
          {% if legislator.leg_id %}
            <li>
                <a class="tip withTip" href="{% url 'legislator' abbr legislator.leg_id legislator.name|slugify %}">{{ legislator.name }},</a>{% if not forloop.last %} {% endif %}
            </li>
          {% else %}
          <li>
            <span class="tip withTip">{{ legislator.name }}</span>
          </li>
          {% endif %}
        {% endfor %}
        </ul>
      {% endif %}
    </td>
    {% if show_chamber_column %}
    <td>{{ committee.chamber_name }}</td>
    {% endif %}
  </tr>
  {% endfor %}
</table>	