{% extends "billy/web/public/developer_base.html" %}
{% load customtags %}

{% block devlinks %}
    <li><a href = '#dev-python' >Python</a></li>
{% endblock %}

{% block devpane %}
<div id = 'dev-python' class = 'dev-pane' >

<pre>from sunlight import openstates

committee = openstates.committee_detail("{{committee|underscore_field:"id"}}")
print "Members of the %s" % (committee['committee'])

for member in committee['members']:
    if 'leg_id' in member and member['leg_id'] is not None:
        leg = openstates.legislator_detail(member['leg_id'])
        print " - %s" % (
            leg['full_name']
        )
    else:
        print " - %s" % (
            member['name']
        )</pre>

</div>

{% endblock %}
