{% extends "billy/web/public/base.html" %}
{% load url from future %}
{% load i18n %}
{% load humanize %}
{% load customtags %}


{% block title %}
 Bill Text - {{bill.bill_id }} - {{metadata.display_name}} {{bill.session_details.display_name}}
{% endblock %}

{% block description %}
{{metadata.display_name}} {{bill.chamber_name}} {{bill.type_string|title}} {{bill.bill_id}}: {{bill.title}} - {{version.name}}
{% endblock %}

{% block headblock %}
<link rel="canonical" href="{{bill.get_absolute_url}}documents/{{version.doc_id}}">
{% endblock %}

{% block content %}
    <div class="fullWidth mainModule">
        <div class="medModule">
            <h1 class="withTimeline withTip" style="padding-top: 30px;">{{ bill.bill_id }}</h1>
            <p class="tip">{{ metadata.name }} {{ bill.chamber_name }} {{bill.type_string|title}}</p>
            <h5>{{ bill.title|capfirst }}</h5>
        </div>

        <div class="tenCol colLtSm bottomPad">
            <a class="fourCol colLt" href="{{version.url}}">Original Document</a>

            {% if bill.versions|length > 1 %}
            <p class="twoCol colLtSm author">Other Versions:</p>
            <ul>
                    {% for ver in bill.versions %}
                    {% if ver.doc_id != version.doc_id %}
                    <li class="twoCol colLtSm"><a href="{% url 'document' bill.state bill.session bill.bill_id ver.doc_id %}">{{ ver.name }}</a></li>
                    {% endif %}
                    {% endfor %}
            </ul>
            {% endif %}
        </div>

        {% if version.mimetype == "text/html" %}
        <iframe class="iframeborder" src="http://static.openstates.org/documents/{{abbr}}/{{version.doc_id}}" width="90%" height="800px" longdesc="this is the text for the bill"></iframe>
        {% else %}
        <iframe class="iframeborder" src="http://docs.google.com/viewer?embedded=True&url=http://static.openstates.org/documents/{{abbr}}/{{version.doc_id}}" width="90%" height="800px" longdesc="this is the text for the bill"></iframe>

        {% endif %}
    </div>

    {% with sources=bill.sources %}
        {% include "billy/web/public/sources.html" %}
    {% endwith %}
    <div class="clear"></div>
{% endblock %}

