{% extends base_template %}
{% load url from future %}
{% load humanize %}
{% load customtags %}

{% block title %}{{event.description|trunc}}{% endblock %}

{% block content %}
<div class="fullWidth mainModule">
    <div class="eightCol colLt">
        <h3>{{event.description|trunc}}</h3>
        {{event.when|date:"M j, Y"}} @ {{ event.location }}
    </div>
    <div class="eightCol colLt">
        <h3>Participants</h3>
        <table>
            <tr>
                <th>Who</th>
                <th>Role</th>
            </tr>
{% for participant in event.participants %}
            <tr>
                {% if participant.committee_id %}
                <td><a href = '/{{abbr}}/committees/{{participant.committee_id}}'
                        >{{participant.participant}}</a></td>
                {% else %}
                    <td>{{participant.participant}}</td>
                {% endif %}
                <td>{{participant.type}}</td>
            </tr>
{% endfor %}
        </table>
    </div>
    <div class="eightCol colLt">
        <h3>Bills</h3>
        <ul>
{% for bill in event.related_bills %}
{% if "_scraped_bill_id" in bill %}
    <li><a href = '/{{abbr}}/bill/{{bill.bill_id}}'
        >{{bill|underscore_field:"scraped_bill_id"}} -- {{bill.description|trunc}}</a></li>
{% else %}
    <li>{{bill.bill_id}} -- {{bill.description|trunc}}</li>
{% endif %}
{% endfor %}
        </ul>
    </div>
</div>
<div class="clear"></div>
{% endblock %}
