{% extends "billy/web/public/base.html" %}
{% load i18n %}
{% load url from future %}
{% load customtags %}
{% load static from staticfiles %}

{% block title %}{{state.name}} {% trans "events" %}{% endblock %}

{% block headblock %}

<script src="{% static 'js/datatables.js' %}"></script>
<script src="{% static 'js/jquery.pjax.js' %}"></script>

<script>
$(document).ready(function() {
  $.pjax.defaults.scrollTo = false;

  // Initialize the calendar.
  $("#calendar").calendarWidget({month: {{event.when.month}},
                                 year: {{event.when.year}}});
  // Set the event day as the selected day.
  $("td.day" + {{event.when.day}}).attr('id', 'selected-day')
  // Set the current day.
  $('#calendar .day' + (new Date()).getUTCDate()).attr('id', 'today');
});
</script>
{% endblock %}

{% block content %}
<div class="fullWidth module clear">

<h2>{{ event.description }}</h2>
</div>
<div class="calendar fourCol colLt">
  <div id="calendar">
    <p>Please enable Javascript to view this calendar.</p>
  </div>
</div>
<div id="events" class="eightCol colRt">
  {% include events_list_template %}
</div>
<div class="clear"></div>

{% endblock %}
