{% extends "billy/web/public/base.html" %}
{% load i18n %}
{% load url from future %}
{% load customtags %}
{% load static from staticfiles %}

{% block title %}{{state.name}} {% trans "events" %}{% endblock %}

{% block headblock %}

<script src="{% static 'js/datatables.js' %}"></script>
<script src="{% static 'js/jquery.pjax.min.js' %}"></script>

<script>
$(document).ready(function() {

    // Where 'display_date' refers to the current state of the calendar widget.
    window.display_month = {{display_date.month}};
    window.display_year = {{display_date.year}};

    var doc = $(this);

    // var update_events_list = function(year, month){
    //   /* Get rendered events html for this month.
    //   */
    //   // var url = '/{{abbr}}/events/html_for_date/' + year + '/' + month + '/';

    //   // $.ajax({
    //   //   url: url,
    //   //   success:function(html){
    //   //     var events = $("#events");
    //   //     if($(html).children().length == 0){
    //   //       events.html('<div>No events were found for this month.</div>')
    //   //     } else {

    //   //       // Remove all the previous month's events.
    //   //       events.empty();

    //   //       // Put the new ones in the document.
    //   //       events.append(html);
    //   //     }
    //   //   }
    //   // });
    // }

    var update_calendar = function(year, month){
      /* Advance the calelndar to month and year; fetch that month's
      events json from the server and add dots to the calendar with it.
      Finally,
      */
      $("#calendar").calendarWidget({month: month, year: year});
      var url = '/{{abbr}}/events/json_for_date/' + year + '/' + month + '/',
          events_count = 0;

      $.getJSON(url, function(data){
        $.each(data, function(i, event_){

          // Serialized dates are seconds since the epoch. We need millisecs.
          var event_date = new Date(event_.when * 1000),
              event_month = event_date.getMonth(),
              event_year = event_date.getFullYear();

          // Get the day this event occurs on.
          var day = $('.day' + event_date.getDate());

          // Append a dot to this day on the calendar, unless there is
          // already a dot displayed for this day.
          if (day.find('.events').length < 1){
            day.append('<span class="events">' + event_.description + '</span>');

            // Also set the index of this event so we can scroll to it when
            // its day is clicked on the calendar.
            day.data('event_index', events_count);
            }

          // Set a click hander on the calendar day. Currently sets a new
          day.click(function(){

            // Don't add handler if it already has one.
            if(!day.data('has_click_handler')) {

              var event_index = $(this).data('event_index'),
                  event_display = $('.event:nth(' + event_index + ')');

              // Scroll to the first event that occurs on the clicked day.
              $('html, body').animate({scrollTop: event_display.offset().top}, 75);

              // Note that this day has a click handler.
              day.data('has_click_handler', true);
            }
          });
        // This number is the event_index number added onto each event
        // which, makes for a short jquery selector and enables scroll-to
        // when the events date is clicked.
        events_count += 1;
        });
      });
      window.display_month = month;
      window.display_year = year;

      // Select today's date on the calendar..
      var today = new Date();
      if (month == today.getMonth()){
        $('#calendar .day' + today.getDate()).attr('id', 'today');
      }

      doc.trigger('calendar:redraw');
    }

    // Load events for the current year on page load.
    // update_events_list({{display_date.year}}, {{display_date.month}} - 1);
    update_calendar({{display_date.year}}, {{display_date.month}} - 1);

    // The calendar has been rendered; now we can bind functions to the it.
    // Update the calendar on pressing the month nav links on the calendar.
    function bind_nav_prev(){
      /* Trigger a redraw of the calendar on forward nav click. */
      $('#calendar .nav-prev').click(function(event){
        var prev_month, prev_year, node;
        // Zero-based months fun: if current month is January...
        if (window.display_month == 0) {
          prev_month = 11;
          prev_year = window.display_year - 1;
        } else {
          prev_month = window.display_month - 1;
          prev_year = window.display_year;
        }
        // update_events_list(prev_year, prev_month)
        update_calendar(prev_year, prev_month)

        node = $($(this).find("a")[0]);
        $.pjax({url: node.attr("href"), container: "#events-list"});
        return false;
      });
    }

    function bind_nav_next() {
      /* Trigger a redraw of the calendar on forward nav click. */
      $('#calendar .nav-next').click(function(){
        var next_month, next_year;

        // Zero-based months fun: if current month is December...
        if (window.display_month == 11) {
          next_month = 0;
          next_year = window.display_year + 1;
        } else {
          next_month = window.display_month + 1;
          next_year = window.display_year;
        }

        // update_events_list(next_year, next_month)
        update_calendar(next_year, next_month)
        node = $($(this).find("a")[0]);
        $.pjax({url: node.attr("href"), container: "#events-list"});
        return false;
      });
    }

    // Bind the calendar nav listers to calendar redraw.
    doc.bind('calendar:redraw', {}, bind_nav_prev);
    doc.bind('calendar:redraw', {}, bind_nav_next);

    doc.trigger('calendar:redraw');

    // window.update_calendar = update_calendar;
    // window.update_events_list = update_events_list;

});
</script>
{% endblock %}

{% block content %}
<div class="fullWidth module clear">
<h2>{% trans "Past &amp; Future events" %}</h2>
</div>
<div class="calendar fourCol colLt">
  <div id="calendar">
    <p>Please enable Javascript to view this calendar.</p>
  </div>
</div>
<div id="events" class="eightCol colRt">
  {% include events_list_template %}
</div>
<div class="clear"></div>

{% endblock %}
