{% with entry=obj %}
<td>{{entry.published_parsed|date:"F d, Y"}}</td>
<td><a href="{{entry.link}}">{{ entry.title }}</a></td>
<td>{% if entry.author %}<address class="author">{{entry.author}}{% endif %}</address></td>
<td><address><a rel="author" class="colorRollover" href="{{entry.source}}">{{entry.host}}</a></address></td>
<td>{{entry.summary|safe|truncatewords:20}}</td>
<td>                    
{% for entity, id, url in entry.entity_data %}
    <span><a class="label" href="{{url}}">{{entity}}</a></span>
{% endfor %}
</td>
{% endwith %}