{% load i18n %}
{% if legislators|length > 0 %}
<table>
    <thead>
        <tr id="title">
            <th class="invisible">{% trans "Picture" %}</th>
            <th>{% trans "Name" %}</th>
            <th>{% trans "District" %}</th>
            <th>{% trans "Party" %}</th>
            <th>{% trans "Chamber" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for leg in legislators %}
        <tr class="{% cycle odd,even %}">
            <td><img class="legImgSmall" src="http://static.openstates.org/photos/xsmall/{{leg.leg_id}}.jpg"/></td>
            <td><a href="{{ leg.get_absolute_url }}">{{ leg.first_name }} {{ leg.last_name }}</a></td>
            <td>{{ leg.district }}</td>
            <td>{{ leg.party }}</td>
            <td class="chamber-{{leg.chamber}}" >{{ leg.chamber_name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% elif abbr %}
<div class="find_your_legislator_errorbox">
    <b>{% trans "Sorry, no legislators found for this location." %}</b>
</div>
{% else %}
<div class="find_your_legislator_errorbox">
    {% blocktrans %}"<b>Oh no!</b> We can't locate any U.S. Legislators for that location. Double
    check you gave a location in the United States." {% endblocktrans %}
</div>
{% endif %}
