{% extends base_template %}
{% load customtags %}
{% load url from future %}

{% block title %}Find your Legislator!{% endblock %}

{% block bodyclass %}home{% endblock %}

{% block headblock %}
{% endblock %}

{% block collection_nav %}{% endblock %}

{% block content %}
    <div id="container">
        <div class="eightCol">
            <p class="callOut">Find your legislator!</p>

        </div>
        <div class="fiveCol">
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}
