{% extends base_template %}
{% load customtags %}
{% load url from future %}

{% block title %}Find your Legislator!{% endblock %}

{% block bodyclass %}home{% endblock %}

{% block headblock %}
    <style>

.find_your_legislator_errorbox {
    color:                 #2e2020;
    padding:               10px;
    background-color:      #d99898;
    border:                1px solid #825b5b;
    -moz-border-radius:    5px;
    -webkit-border-radius: 5px;
}

.find_your_legislator_infobox {
    padding:               10px;
    background-color:      #b1e7fc;
    border:                1px solid #769aa8;
    -moz-border-radius:    5px;
    -webkit-border-radius: 5px;
}

.find_your_legislator_infobox  a {
    color:                 #3b4d54;
    text-decoration:       underline;
}

.leg_find_results {
    margin-top:            10px;
    margin-bottom:         10px;
}

#map{
    height:300px;
    background:#6699cc;
}


    </style>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="https://raw.github.com/HPNeo/gmaps/master/gmaps.js"></script>
    <script type="text/javascript">
$(document).ready(function() {
    $('#find_your_leg').submit(function(e){
        e.preventDefault();
        GMaps.geocode({
            address: $('#leg_search').val().trim(),
            callback: function(results, status){
                if(status=='OK'){
                    var latlng = results[0].geometry.location,
                           lat = latlng.lat(),
                           lon = latlng.lng();
                    window.location = '/find_your_legislator/?lat=' +
                        lat +
                        '&lon=' +
                        lon +
                        '&q=' +
                        $('#leg_search').val().trim();
                }
            }
        });
    });
    GMaps.geolocate({
        success: function(position) {
            {# XXX: This really needs to be patched up #}
            console.log(position);
            $("#communicate").append("<p class = 'find_your_legislator_infobox' >" +
                "We've been able to guess where you currently are. Click " +
                "<a href = '/find_your_legislator/?lat=" +
                position.coords.latitude +
                "&lon=" +
                position.coords.longitude +
                "' >here</a> to look up your legislator." +
                "</p>");
        },
        error: function(error) {
            /* $("#communicate").append("<p class = 'find_your_legislator_errorbox' >" +
            "We were not able to guess your location. Please enter in your details."+
            "</p>"); */
        }
    });
});
    </script>
{% endblock %}

{% block collection_nav %}{% endblock %}

{% block content %}
    <div id="container">
        <div class="nineCol colLt">
            <p class="callOut">Find your legislator!</p>
            <div id = 'communicate' ></div>
            <div id = 'find_your_legislator_search' >
                <form id = 'find_your_leg'>
                    <input type = 'text' name = 'leg_search' id = 'leg_search'
                        size = '50'
                        placeholder = '{{ address }}'
                        value = '{{ request }}' ></input>
                    <input type = 'submit' value = 'Submit' ></input>
                </form>
            </div>
{% if located %}

<div id = 'map' ></div>
<script>
    $(document).ready(function() {
        var map;
        map = new GMaps({
            div: '#map',
            lat: {{ lat }},
            lng: {{ lon }}
        });
    });
</script>

{% if legislators|length > 0 %}
            <table class = 'leg_find_results'>
                <thead>
                    <tr id="title">
                        <th class="invisible">Picture</th>
                        <th><a href="?chamber=upper&abbr=ca&key=last_name&order=-1">Name</a></th>
                        <th><a href="?chamber=upper&abbr=ca&key=district&order=-1">District</a></th>
                        <th><a href="?chamber=upper&abbr=ca&key=party&order=-1">Party</a></th>
                        <th><a href="?chamber=upper&abbr=ca&key=chamber&order=-1">Chamber</a></th>
                    </tr>
                </thead>
                <tbody>
{% for leg in legislators %}
                    <tr class="odd">
                        <td><img src="http://static.openstates.org/photos/small/{{leg.leg_id}}.jpg"/></td>
                        <td><a href="/{{leg.state}}/legislator/{{leg.leg_id}}/">{{leg.first_name}} {{leg.last_name}}</a></td>
                        <td>{{leg.district}}</td>
                        <td>{{leg.party}}</td>
                        <td>{{leg.chamber}}</td>{# XXX: FIXME #}
                    </tr>
{% endfor %}
                </tbody>
            </table>
{% else %}
<p>Sorry, we were not able to find any US State Legislators for your
location. Did you provide an address in the United States?</p>
{% endif %}
{% endif %}
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}
