{% extends base_template %}
{% load sitebase %}
{% load url from future %}

{% block title %}{{metadata.name}}{% endblock %}

{% block bodyclass %}home{% endblock %}

{% block content %}
    <div id="container">
        <div class="eightCol">
            <p class="callOut">Discover politics in your state. Find everything from legislator to bills that might be arising.</p>
            <p class="tip">Open States is working furiously to get information on every state. For the time being the states available are <a href="">California</a>, <a href="">Louisana</a>, <a href="">Texas</a>, <a href="">Wisconsin</a>, <a href="">Maryland</a> and <a href="">Minnesota</a></p>
            
            <h5 id="notifyTitle" class="tipSm">Be Notified when we have your state available</h5>
            <form action="/search/" method="get" id="notify">
                <input type="text" name="q" placeholder="your email address">
                <input type="text" name="q" placeholder="your zip code">
                <button type="submit">
                     <span>Submit</span>
                </button>
            </form>  
        </div>
        <div class="fiveCol">
            
        </div>    
        <div class="clear"></div>
    </div>       
{% endblock %}