{% extends "billy/web/public/base.html" %}
{% load customtags %}
{% load i18n %}
{% load url from future %}
{% load static from staticfiles %}

{% block title %}{% trans "Open States: discover politics in your state" %}{% endblock %}
{% block description %}{% trans "Follow politics in your state legislature. Find your legislators, see how they vote and browse bills, committees and events." %} {% endblock %}
{% block share_options %} data-twitter-options="title=Open%20States:%20discover%20politics%20in%20your%20state%20with%20@OpenStates%20from%20@SunFoundation" {% endblock %}

{% block headblock %}
<script src="{% static 'js/d3.v3.min.js' %}"></script>
<script>
    var blue = '#75afa5';
    var green = '#a5b765';
    $(function() {
        /* add a mouseover handler for each g */
        d3.selectAll('g')
        //.each(function() { if(!this.id) { console.log(this);}  } )
        .on("mouseover", function() {
            d3.select(this).selectAll('stop').style('stop-color', blue);
        })
        .on("mouseout", function() {
            d3.select(this).selectAll('stop').style('stop-color', green);
        })
        .on("click", function() {
            if(this.id.length == 2) {
                document.location = '/' + this.id + '/';
            }
        });
    });
</script>
{% endblock %}

{% block bodyclass %}home{% endblock %}

{% block callOut %}
	<div class="callOutBox tagline">
		<div class="container">
	         <h2 class="callOut">
	        {% trans "Discover politics in your state" %}
	        </h2>
	        <ul>
	        	<li>
	        		<a href="/find_your_legislator">{% trans "Find your legislators" %}</a>
	        	</li>
	        	<li>
	        		{% trans "Review their votes" %}
	        	</li>
	        	<li>
	        		<a href="/all/bills/">{% trans "Search upcoming legislation" %}</a>
	        	</li>
	        	<li>
	        		<a href="/favorites/">{% trans "Track bill progress" %}</a>
	        	</li>
	        </ul>
        </div>
	</div>
{% endblock callOut %}

{% block content %}
        <div class="module eightCol colLt">
            <div class="module byAddress">
            	<h3>{% trans "Enter your address:" %}</h3>
            	 <form action="/find_your_legislator/" method="get" id="searchAddressform">
		            <input class="transparent search" type="search" name="q" placeholder="{% trans 'e.g. 1818 N Street NW Washington, DC 20036' %}">
		            <button type="submit">
		                <span>{% trans "Search" %}</span>
		            </button>
		        </form>
		        <div class="clear"></div>
            </div>
            <span class="fancyOr">or:</span>
            <div class="module byState">
                <h3>{% trans "Browse by state:" %}</h3>
                <div id="svgmap" class="noBorder">
                    {% include "flat/openstatesmap-embed.svg" %}
                </div>
            </div>
        </div>
        <div class="sidebar fourCol colRt">
            <div class="module" >
                <h4 id="appBox" class="tipSm">{% trans "Want the app?" %}</h4>
                <p>{% trans 'Explore Open States on your iPhone or iPad.' %} <a href="https://itunes.apple.com/us/app/open-states/id500672932?mt=8">{% trans 'Download the free app.' %}</a></p>
    	    </div>
            <div class="module" >
                <h4 id="videoBox" class="tipSm">{% trans "Learn more:" %}</h4>
                <iframe width="249" height="140" src="http://www.youtube.com/embed/H1dT3Vpl2SY?rel=0"></iframe>
    	    </div>
    	    <div class="module" >
                <h4 id="dataBox" class="tipSm">{% trans "Just want data?" %}</h4>
                <p>{% trans 'We gather legislative data from all 50 states, Washington D.C. and Puerto Rico, and then make it available in a common format via our <a href="/api/">API</a> and <a href="/downloads/">bulk downloads</a>.' %}</p>
                <p>{% trans 'You can also join our <a href="http://groups.google.com/group/fifty-state-project">Google Group</a> to get involved.' %}
                </p>
    	    </div>
        </div>
        <div class="clear"></div>
{% endblock %}
