{% extends base_template %}
{% load customtags %}
{% load url from future %}

{% block title %}Open States: discover politics in your state{% endblock %}

{% block bodyclass %}home{% endblock %}

{% block collection_nav %}{% endblock %}

{% block content %}
    <div id="container">
        <div class="eightCol">
            <p class="callOut">Discover politics in your state. Find your legislators, see how they've voted and browse upcoming legislation and events.</p>

            {# delete _not_yet to make this work #}
            {% if active_states_not_yet %}
                <p>While Open States is in beta this site is only available for 
                {% for metadata in active_states %}
                <a href="{% url 'state' metadata.abbreviation %}"> {{metadata.name}}</a>{% if forloop.revcounter > 2 %},{% elif forloop.revcounter == 2 %} and{% endif %}{% endfor %}.
                <br />You can also get <a href="http://itunes.apple.com/app/open-states/id500672932?mt=8">Open States on your iPhone or iPad</a>.
                </p>

                <h5 id="notifyTitle" class="tipSm">Be notified when we launch the remaining states</h5>
            {% else %}
                <p>A brand new OpenStates.org is coming soon. Sign up to be notified when it is available.  (If you are a reporter, email liz at sunlightfoundation.com to learn more.)</p>

                <p>In the meantime, you can get <a href="http://itunes.apple.com/app/open-states/id500672932?mt=8">Open States for the iPhone and iPad</a> to keep up-to-date on what's happening in your state legislature, from bills being considered and how to contact lawmakers, campaign finance and voting records, plus local news.
                </p>


                <h5 id="notifyTitle" class="tipSm">Be notified when we launch the new site.</h5>
            {% endif %}

            <form action="http://organizing.sunlightfoundation.com/page/s/open-states" method="post" id="notify">
                <input type="text" name="email" placeholder="your email address">
                <input type="text" name="zip" placeholder="your zip code">
                <button type="submit"> <span>Submit</span> </button>
            </form>

            <h5 id="dataTitle" class="tipSm" >Just want data?</h5>
            <p>We gather legislative data from all 50 states, Washington D.C. and Puerto Rico, and then make it available in a common format via our <a href="/api/">API</a> and <a href="/downloads/">bulk downloads</a>.
            You can also check out our <a href="/contributing/">contributor's guide</a> and join our <a href="http://groups.google.com/group/fifty-state-project">Google Group</a> to get involved.
            </p>

        </div>
        <div class="clear"></div>
    </div>
{% endblock %}
