{% load url from future %}
{% load i18n %}
    <table id="main-table">
        <thead>
            <tr id="title">
                <th class="invisible">{% trans "Picture" %}</th>
                <th class="sort"><a class="block" href="?chamber={{chamber}}&abbr={{abbr}}&key=last_name&order={{ sort_order }}">{% trans "Last Name" %}</a></th>
                <th class="sort"><a class="block" href="?chamber={{chamber}}&abbr={{abbr}}&key=last_name&order={{ sort_order }}">{% trans "Name" %}</a></th>
                <th class="sort"><a class="block" href="?chamber={{chamber}}&abbr={{abbr}}&key=district&order={{ sort_order }}">{% trans "District" %}</a></th>
                <th class="sort"><a class="block" href="?chamber={{chamber}}&abbr={{abbr}}&key=party&order={{ sort_order }}">{% trans "Party" %}</a></th>
                {% if show_chamber_column %}
                <th class="sort"><a class="block" href="?chamber={{chamber}}&abbr={{abbr}}&key=chamber&order={{ sort_order }}">{% trans "Chamber" %}</a></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for obj in legislators %}
            <tr class="{% cycle odd,even %}">
                <td><img class="legImgSmall" src="http://static.openstates.org/photos/xsmall/{{ obj.leg_id }}.jpg"/></td>
                <td class="hidden">{{obj.last_name}}</td>
                <td><a href="{{ obj.get_absolute_url }}">{{ obj.full_name }}</a></td>
                <td>{{ obj.district }}</td>
                <td>{{ obj.party }}</td> {# use adjective #}
                {% if show_chamber_column %}
                <td>{{ obj.chamber_name }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
