{% extends "billy/web/public/base.html" %}
{% load staticfiles %}
{% load customtags %}

{% block title %}{{metadata.name}} {{ chamber_title }} - Open States{% endblock %}

{% block headblock %}
<script type="text/javascript">
$(document).ready(function() {

    // Make table rows clickable.
    var trs = $("#main-table tbody tr");
    var trs_count = trs.length;
    trs.click(function(){
        window.location=$(this).find("a").attr("href");
        return false;
        });

    // If javascript is enabled, change cursor to pointer over table rows
    // and add selected class on hover.
    trs.css('cursor', 'pointer');
    trs.hover(function(){
            $(this).addClass('selected');
        },
        function(){
            $(this).removeClass('selected');
        });

    $('img.legImgSmall').error(function() {
            $(this).attr("src", "{% static "images/placeholder.png" %}").attr(
                "title", "No Photo Available");
    });

});
</script>
<style>
    .selected {
        background-color: #FFFFD6;
    }
</style>
{% endblock %}

{% block content %}
        <div class="fullWidth" data-pjax='#main'>
            <h2><a href="{{metadata.get_absolute_url}}">{{ metadata.name }}</a> {{ chamber_name }} {{chamber_title}}</h2>
            <div class="nineCol colLt">
                {% include chamber_select_template %}
                {% include 'billy/web/public/legislator_table.html' %}
            </div>
            <div class="threeCol colRt">
                <div class="infoBox">
                    <span class="specialHeader infoHeader">Don't know who your legislator is?</span>
                    <span class="specialHeader">Find them now!</span>
                    <form action="/find_your_legislator/" method="get" id="legSearch">
                        <input type="text" name="q" id="id_q" placeholder="enter address">
                        <button type="submit">
                             <span>Go</span>
                        </button>
                    </form>
                </div>
            </div>
        <div class="clear"></div>
    </div>
{% endblock %}
