{% extends base_template %}
{% load url from future %}
{% load staticfiles %}
{% load customtags %}


{% block title %}{{legislator.full_name }}{% endblock %}

{% block headblock %}
    <style>

#map{
    height:               300px;
    background:           #6699cc;
}

.find-your-shim {
    margin:               20px;
}

img {
    border:               0px solid #000000;
}

.overlay{
    background-color:     #679ee8;
    border:               2px solid #406391;
    text-size:            2em;
    color:                #FFFFFF;
    padding:              5px;
    -moz-border-radius:   5px;
    -webkit-border-radius:5px;
    opacity:              0.9;
}

    </style>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="{% static "js/gmaps.js" %}"></script>
    <script type="text/javascript">
$(document).ready(function() {
    var map,
        has_located = false;
    $('img.legImg').error(function() {
        $(this).attr("src", "{% static "images/placeholder.png" %}");
    });
    map = new GMaps({
        div: '#map',
        lat: 38,
        lng: -97,
        zoom: 3
    });
    GMaps.geolocate({
        success: function(position) {
            /* map.drawOverlay({
                lat: position.coords.latitude,
                lng: position.coords.longitude,
                content: "<div class = 'overlay' >You are here</div>"
            }); */
map.addControl({
    position: 'top_right',
    text: 'Where am I?',
    style: {
        color:  '#000000;',
        margin: '5px',
        padding: '1px 6px',
        border: 'solid 1px #717B87',
        background: '#fff'
    },
    events: {
        click: function(){
            map.setCenter(
                position.coords.latitude,
                position.coords.longitude
            );

            if ( has_located )
                return;

            map.addMarker({
                title: 'Current Position',
                lat: position.coords.latitude,
                lng: position.coords.longitude,
                infoWindow: {
                    content: "<p>You are here</p>"
                }
            });
            has_located = true;
        }
    }
});
        }
    });
    $.getJSON('/get_district/{{district_id}}', function(payload) {
        var data = payload.shape;
        map.setZoom(10);
        map.setCenter(
            payload.region.center_lat,
            payload.region.center_lon
        );
        for ( var n in data ) {
            for ( var j in data[n] ) {
                var bak_shape = data[n][j],
                    shape = [];
                for ( var node in bak_shape ) {
                    node = bak_shape[node];
                    shape.push([node[1], node[0]]);
                }
                polygon = map.drawPolygon({
                    paths:         shape,
                    strokeColor:   "#c7a7eb",
                    strokeOpacity: 1,
                    strokeWeight:  3,
                    fillColor:     "#7f6a96",
                    fillOpacity:   0.3
                });
            }
        }
    });
});
    </script>
{% endblock %}

{% block content %}
        <div class="fullWidth mainModule">
            <div class="smModule">
                <span class="tip sources">For more information on this legislator check out: <a href="http://influenceexplorer.com/politician/id/{{legislator.transparencydata_id}}?cycle=-1">influenceexplorer.com</a>, <a href="http://www.votesmart.org/bio.php?can_id={{legislator.votesmart_id}}">Project Vote Smart</a></span>
                <div class="sevenCol colLt">
                    <img class="firstHalfModule legImg" src="http://static.openstates.org/photos/small/{{legislator.leg_id}}.jpg" width="150" height="200" />
                    <div class="eights">
                        <h2 class="withTip">{{legislator.full_name}}</h2>
                        <dl class="inlineList ">
                            <dt class="hidden">Party</dt>
                            <dd class="tip tipSm">{{legislator.party}}</dd>

                            <dt class="tip tipSm">District</dt>
                            <dd class="tip tipSm">{{legislator.district}}</dd>

                            <dt class="clear">Sessions Served:</dt>
                            <dt>
                                <dd>
                                {% for session in legislator.sessions_served %}
                                {#<a {% if not forloop.first %}class="withBorderLine" {% endif %}href="#">{{session}}</a>#}
                                   <br/>{{session}}
                                {% endfor %}
                                </dd>
                            </dt>

                        </dl>
                    </div>
                </div>
                <div class="fiveCol colRt">
                    <div id="districtMap" class="withBorder">

                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="sixCol clear colLt withDash">
                <p>{{legislator.bio_blurb}}</p>
            </div>
            <div class="sixCol colRt">
                <ul>
                    {% for office in legislator.offices %}
                    <li class="fourths {% if forloop.first %} firstModule {% endif %}">
                        <h4 class="h5 withTip">{{office.name}}:</h4>
                        <address class="vcard">
                            <span class="adr">
                                <span class="street-address">{{office.address|linebreaks}}</span>
                            </span>
                            {% if office.phone %}
                            <div class="tel">
                                <span class="type smTitle">Phone:</span> {{office.phone}}
                            </div>
                            {% endif %}
                            {% if office.fax %}
                            <div class="fax">
                                <span class="type smTitle">Fax:</span> {{office.fax}}
                            </div>
                            {% endif %}
                            {% if office.email %}
                            <div class="email">
                                <span class="type smTitle">Email:</span> {{office.email}}
                            </div>
                            {% endif %}
                        </address>
                    </li>
                    {% empty %}
                    <li class="fourths firstModule">
                        <h4 class="h5">Contact Information Not Available</h4>
                    </li>
                    {% endfor %}
                    {% if legislator.email %}
                    <li>
                        <div>
                            <span class="email smTitle">Email: </span>
                            <a href="mailto:{{legislator.email}}">{{legislator.email}}</a>
                         </div>
                     </li>
                    {% endif %}
                </ul>
            </div>
            <div class="clear"></div>
            <div id = 'map' ></div>
        </div>
        <div class="fullWidth module clear">
            <h3 class="moduleTitle">Media</h3>
            <div class="sevenCol colLt">
                <h4>News and Blog Coverage</h4>
            {% with feed_entries=legislator.feed_entries %}
              {% if not feed_entries.count %}
                <ul><li class="smModule">No news or blog items found yet.</li></ul>
              {% else %}
                {% for obj in legislator.feed_entries %}{% include feed_entry_template %}{% endfor %}
                <a class="viewMore" href="{% url 'feeds_list' abbr 'legislators' legislator.id %}">View More News</a>
            {% endif %}
            {% endwith %}
            </div>
            <div class="clear"></div>
        </div>
        <div class="fullWidth module clear">
            <h3 class="moduleTitle">Committees</h3>
            <ul class="inlineThirds">
                {% for role in legislator.roles_manager %}
                {% if 'committee' in role %}
                <li class="one">{{ role.type|title }}
                    {% if 'committee_id' in role %}<a href="{% url 'committee' abbr role.committee_id %}">{{ role.committee_name }}</a>{% else %}{{ role.committee_name }}{% endif %}</li>
                {% endif %}
                {% endfor %}
            </ul>
            <div class="clear"></div>
        </div>
        <div class="fullWidth module">
            <h3 class="moduleTitle">Bills</h3>
            <div class="eightCol colLt">
                <h4>Sponsored Bills</h4>
                <ul>
                {% if sponsored_bills %}
                {% for bill in sponsored_bills %}
                    <li>
                        <time datetime="" class="published" pubdate>{{bill.most_recent_action.date|date:"F d, Y"}}</time>
                        <span class="inlineTitle h4 withTip"><a href="{% url 'bill' abbr bill.id %}">{{bill.bill_id}}</a> <span class="tip sideNote">{% for primary in bill.sponsors_manager.primary_list %}
                            {{ primary.name}}{% if not forloop.last %}, {% endif %}{% endfor %}</span></span>
                        <p class="clear">{{bill.title}}</p>
                    </li>
                {% endfor %}
                </ul>
                <a class="viewMore" href="{% url 'sponsored_bills' abbr 'legislators' legislator.id %}">View More Bills</a>
                {% else %}
                    <li>No sponsored bills to display.</li>
                </ul>
                {% endif %}

            </div>
            <div class="fourCol colRt">
                <h4 class="withTip">Votes</h4>
                {% if not has_votes %}No votes to display.
                {% else %}
                <table class="noPaddingTable voteChart">
                    <col width="200" />
                    <col width="80" />
                    <thead>
                        <tr id="titles">
                            <th class="invisible">Bill</th>
                            <th class="twoColFlow right">Legislator Vote</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for vote_index, vote_value, vote in legislator_votes %}
                            {% include vote_preview_row_template %}
                        {% endfor %}
                    </tbody>
                </table>
                <a class="viewMore" href="{% url 'votes_list' abbr 'legislators' legislator.id %}">View More Votes</a>
                {% endif %}
            </div>
            {% sources legislator %}
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}
