{% load i18n %}
<div class="fullWidth">
    <div id="stateimg-{{metadata.abbr}}" class="stateTitle">
        <h2 class="withTip">{{ metadata.name }} {{ chamber_name }} {{chamber_title}}</h2>
        <p>{# funfact metadata.abbr #}</p>
    </div>
</div>
        <div class="fullWidth" data-pjax="#main">
           <!-- <h2><a href="{{metadata.get_absolute_url}}">{{ metadata.name }}</a> {{ chamber_name }} {{chamber_title}}</h2> -->
            <div class="nineCol colLt">
                {% include chamber_select_template %}
                {% include 'billy/web/public/legislator_table.html' %}
            </div>
            <div class="threeCol colRt">
                <div class="infoBox">
                    <span class="specialHeader infoHeader">{% trans "Don't know who your legislator is?" %}</span>
                    <span class="specialHeader">{% trans "Find them now!" %}</span>
                    <form action="/find_your_legislator/" method="get" id="legSearch">
                        <input type="text" name="q" id="id_q" placeholder="{% trans 'enter address' %}">
                        <button type="submit">
                            <span>{% trans "Go" %}</span>
                        </button>
                    </form>
                </div>
            </div>
        <div class="clear"></div>
    </div>

