{% extends "billy/web/public/base.html" %}
{% load staticfiles %}
{% load customtags %}

{% block title %}{{metadata.name}} {{ chamber_title }} - Open States{% endblock %}

{% block headblock %}
<script>
$(document).ready(function() {
    clickable_rows("#main-table tbody tr");
    fix_images();
});
</script>
{% endblock %}

{% block content %}
        <div class="fullWidth">
            <h2><a href="{{metadata.get_absolute_url}}">{{ metadata.name }}</a> {{ chamber_name }} {{chamber_title}}</h2>
            <div class="nineCol colLt">
                {% include chamber_select_template %}
                {% include 'billy/web/public/legislator_table.html' %}
            </div>
            <div class="threeCol colRt">
                <div class="infoBox">
                    <span class="specialHeader infoHeader">Don't know who your legislator is?</span>
                    <span class="specialHeader">Find them now!</span>
                    <form action="/find_your_legislator/" method="get" id="legSearch">
                        <input type="text" name="q" id="id_q" placeholder="enter address">
                        <button type="submit">
                             <span>Go</span>
                        </button>
                    </form>
                </div>
            </div>
        <div class="clear"></div>
    </div>
{% endblock %}
