{% extends base_template %}
{% load customtags %}

{% block title %}{{meta.name}} {{ chamber_name }} Legislators{% endblock %}

{% block content %}
        <div class="fullWidth">
            {{form.as_p}}
            <h2>{{ metadata.name }} {{ chamber_name }} Legislators</h2>
            <div class="nineCol colLt">
                <div class="horizontalFilter noSpace">
                    {% include chamber_select_template %}
                </div>
{% include 'billy/web/public/legislator_table.html' %}
            </div>
            <div class="threeCol colRt">
                <div class="infoBox">
                    <span class="specialHeader infoHeader">Don't know who your legislator is?</span> 
                    <span class="specialHeader">Find them now!</span>
                    <form action="/find_your_legislator/" method="get" id="legSearch">
                        <input type="text" name="address" id="id_q" placeholder="enter address">
                        <button type="submit">
                             <span>Go</span>
                        </button>
                    </form>
                </div>    
            </div>
        <div class="clear"></div>
    </div>                   
{% endblock %}
