{% load i18n %}
        <div class="fullWidth" data-pjax="#main">
            <div class="fullWidth">
                <div id="stateimg-{{metadata.abbr}}" class="stateTitle">
                    <h2 class="withTip">{{ metadata.name }} {{ chamber_name }} {{chamber_title}}</h2>
                    <p>{# funfact metadata.abbr #}</p>
                </div>
            </div>
            <form id="main-table_filter">
                <input name="search_text" type="search" placeholder="Filter by name, district, party or chamber">
                <button type="submit">
                    <span>{% trans "Go" %}</span>
                </button>
            </form>
            <div class="nineCol colLt">
                {% include chamber_select_template %}
                {% include 'billy/web/public/legislator_table.html' %}
            </div>
            <div class="threeCol colRt">
                <div class="infoBox">
                    <span class="specialHeader infoHeader">{% trans "Don't know who your legislator is?" %}</span>
                    <span class="specialHeader">{% trans "Find them now!" %}</span>
                    <form action="/find_your_legislator/" method="get" id="legSearch">
                        <input type="text" name="q" id="id_q" placeholder="{% trans 'enter address' %}">
                        <button type="submit">
                            <span>{% trans "Go" %}</span>
                        </button>
                    </form>
                </div>
            </div>
        <div class="clear"></div>
    </div>

