                            <td><img src="http://static.openstates.org/photos/small/{{ obj.leg_id }}.jpg"/></td>
                            <td><a href="{% url legislator abbr obj.leg_id %}">{{ obj.full_name }}</a></td>
                            <td>{{ obj.district }}</td>
                            <td>{{ obj.party }}</td>
                            {% if show_chamber_column and 'chamber' in obj %}
                            <td>{{ obj.chamber_name }}</td>
                            {% else %}
                            <td>inactive</td>
                            {% endif %}
        