{% extends "billy/web/public/base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load humanize %}
{% load customtags %}


{% block title %}
  {{legislator.full_name }} -
  {{metadata.legislature_name}} -
  Open States
{% endblock %}

{% block headblock %}
    <link rel="canonical" href="{{legislator.get_absolute_url}}">
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="{% static "js/gmaps.js" %}"></script>
    <script>
$(document).ready(function() {
    var doc = $(document);
    doc.bind("keydown", "alt+j", function(){window.location = '{{legislator.get_admin_json_url}}'});

    fix_images();

    /* map js */
    var map, has_located = false;
    map = new GMaps({
        div: '#map',
        lat: 38,
        lng: -97,
        zoom: 5
    });
    GMaps.geolocate({
        success: function(position) {
            /* map.drawOverlay({
                lat: position.coords.latitude,
                lng: position.coords.longitude,
                content: "<div class = 'map-overlay' >You are here</div>"
            }); */
            map.addControl({
                position: 'top_right',
                text: 'Where am I?',
                style: {
                    color:  '#000000;',
                    margin: '5px',
                    padding: '1px 6px',
                    border: 'solid 1px #717B87',
                    background: '#fff'
                },
                events: {
                    click: function(){
                        map.setCenter(
                            position.coords.latitude,
                            position.coords.longitude
                        );

                        if ( has_located )
                            return;

                        map.addMarker({
                            title: 'Current Position',
                            lat: position.coords.latitude,
                            lng: position.coords.longitude,
                            infoWindow: {
                                content: "<p>You are here</p>"
                            }
                        });
                        has_located = true;
                    }
                }
            });
        }
    });
    $.getJSON('/get_district/{{district_id}}', function(payload) {
        var data = payload.shape;
        /* map.setZoom(10); */
        map.setCenter(
            payload.region.center_lat,
            payload.region.center_lon
        );
        for ( var n in data ) {
            for ( var j in data[n] ) {
                var bak_shape = data[n][j],
                    shape = [];
                for ( var node in bak_shape ) {
                    node = bak_shape[node];
                    shape.push([node[1], node[0]]);
                }
                polygon = map.drawPolygon({
                    paths:         shape,
                    strokeColor:   "#c7a7eb",
                    strokeOpacity: 1,
                    strokeWeight:  3,
                    fillColor:     "#7f6a96",
                    fillOpacity:   0.3
                });
            }
        }
        map.addControl({
            position: 'top_right',
            text: 'District Center',
            style: {
                color:  '#000000;',
                margin: '5px',
                padding: '1px 6px',
                border: 'solid 1px #717B87',
                background: '#fff'
            },
            events: {
                click: function(){
                    map.setCenter(
                        payload.region.center_lat,
                        payload.region.center_lon
                    );
                }
            }
        });
    });
});
    </script>
{% endblock %}

{% block content %}
        <ul class="breadcrumb floatedList clearfix">
            <li><a href="{{metadata.get_absolute_url}}">{{metadata.name}}</a></li>
            <li>
                » <a href="{% url "legislators" abbr %}">Legislators</a>
            </li>
            {% if 'chamber' in legislator %}
            <li>
                » <a href="{% url "legislators" abbr %}?chamber={{legislator.chamber}}">{{legislator.chamber_name}}</a>
            </li>
            {% endif %}
            <li>
                » {{legislator.display_name}}
            </li>
        </ul>
        <div class="fullWidth mainModule legislator">
            <div class="medModule">
                <div class="eightCol colLt">
                    <img class="firstHalfModule legImgSmall" src="http://static.openstates.org/photos/small/{{legislator.leg_id}}.jpg" />
                    <div class="eightsLg clearfix">
                        <h2 class="withTipSm">{{legislator.full_name}}</h2>
                        <dl class="inlineList clearfix">
                            <dt class="hidden">Role</dt>
                            <dd class="tip tipSm">
                            {{legislator.party}} &mdash;
                            {{legislator.title}} &mdash;
                            {# if first character of district is numeric, add 'District' #}
                            {% if legislator.district.0.isdigit %} District {% endif %}{{legislator.district}}
                            </dd>
                            <dt class="clear">Sessions Served:</dt>
                            <dd>
                            {% if legislator.active %}
                                <ul>
                                {% for session in legislator.sessions_served %}
                                <li>{{session}}</li>
                               {% endfor %}
                                </ul>
                            {% else %}
                                {% for session in legislator.old_sessions_served %}
                                <ul>
                                    <li class="clear">
                                        {{session.display_name}}</li>
                                </ul>
                                {% endfor %}
                            {% endif %}
                            </dd>
                            {% if legislator.transparencydata_id %}
                            <dt class="clear">Campaign Finance:</dt>
                            <dd class="smModule"><a href="http://influenceexplorer.com/politician/id/{{legislator.transparencydata_id}}?cycle=-1">View at Influence Explorer</a></dd>
                            {% endif %}

                        </dl>
                    </div>
                </div>
                <div class="fourCol colRt">
                    <div class="mapBorder">
                        <div id="map" class="withBorder"></div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="eightCol clearfix">
                    <ul class="inlineList tip noSpace" id="legLinks">
                        <li><a href="#committees">View committee membership</a></li>
                        <li><a href="#bills">View sponsored bills</a></li>
                        <li><a href="#votes">View recent votes</a></li>
                    </ul>
                </div>    
            </div>
    			{% if legislator.active %}
                <div class="sixCol colLt withDash clear">
                    <p>
                        {% include "billy/web/public/bio_blurb.html" %}
                    </p>
                </div>
                <div class="sixCol colRt">
                    <ul>
                        {% for office in legislator.offices %}
                        <li class="fourths {% cycle "firstModule" "secondModule" %}">
                            <h4 class="h5 withTip">{{office.name}}:</h4>
                            <address class="vcard">
                                <span class="adr">
                                    <span class="street-address">{{office.address|linebreaks}}</span>
                                </span>
                                {% if office.phone %}
                                <div class="tel">
                                    <span class="type smTitle">Phone:</span> {{office.phone}}
                                </div>
                                {% endif %}
                                {% if office.fax %}
                                <div class="fax">
                                    <span class="type smTitle">Fax:</span> {{office.fax}}
                                </div>
                                {% endif %}
                                {% if office.email %}
                                <div class="email">
                                    <span class="type smTitle">Email:</span> {{office.email}}
                                </div>
                                {% endif %}
                            </address>
                        </li>
                        {% empty %}
                        {% if not legislator.email %}
                        <li class="fourths firstModule">
                            <h5 class="h5" style="width:300px;">Contact Information Not Available
                                <a class="missingInfo" title="Our Methodology" href="/methodology/">?</a>
                            </h5>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% if legislator.email %}
                        <li class="clear">
                            <span class="email smTitle">Email: </span>
                            <a href="mailto:{{legislator.email}}">{{legislator.email}}</a>
                         </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="clear"></div>
                {% endif %}
            </div> 

            {% if not legislator.active %}
            <div class="fullWidth module clear">
                <div class="sevenCol colLt">
                    <h3 class="moduleTitle">Former Roles</h3>
                    <table>
                      <thead>
                        <tr>
                            <th>Term</th>
                            <th>Type</th>
                            <th>District</th>
                            <th>Party</th>
                            <th>Start</th>
                            <th>End</th>
                        </tr>
                      </thead>
                      <tbody>
                    {% for term, roles in legislator.old_roles.items %}
                      {% for role in roles %}
                      <tr>
                        <td>{{role.term}}</td>
                        <td>{{role.type|title}}</td>
                        <td>{{role.district}}</td>
                        <td>{{role.party}}</td>
                        <td>{% if role.start_data %}{{role.start_date|date:"j, m Y"}}{% else %}{% endif %}</td>
                        <td>{% if role.end_data %}{{role.end_date|date:"j, m Y"}}{% else %}{% endif %}</td>
                      </tr>
                      {% endfor %}
                    {% endfor %}
                      <tbody>
                    </table>
                </div>
                <div class="clear"></div> 
            </div>
            {% endif %}

        {% if legislator.active %}
        <div class="fullWidth module clear">
            <h3 class="moduleTitle">Media</h3>
            <div class="sevenCol colLt">

            <a class="textReplace rssIcon" href="{% url 'news_list_rss' abbr 'legislators' legislator.id legislator.slug %}">rss</a>
            <h4>News and Blog Coverage</h4>
            {% if not feed_entries.count %}
                <ul><li class="smModule">No news or blog items found yet.</li></ul>
              {% else %}
                {% for obj in feed_entries %}{% include feed_entry_template %}{% endfor %}
                {% if feed_entries_count %}
                    <a class="viewMore" href="{% url 'news_list' abbr 'legislators' legislator.id legislator.slug %}">View {{feed_entries_count|apnumber|capfirst}} More News Items</a>
                {% endif %}
            {% endif %}
            </div>
            <div class="clear"></div>
        </div>
        <div class="fullWidth module clear"></a>
            <a name="committees">
            <h3 class="moduleTitle">Committees</h3>
            <ul class="inlineThirds">
                {% for role in legislator.roles_manager %}
                {% if 'committee' in role %}
                <li class={% cycle "one" "two" "three" %}>{{ role.type_display }}
                    {% if 'committee_id' in role %}<a href="{% url 'committee' abbr role.committee_id %}">{{ role.committee_name }}</a>{% else %}{{ role.committee_name }}{% endif %}</li>
                {% endif %}
                {% endfor %}
            </ul>
            <div class="clear"></div>
        </div>
        {% endif %}
        <div class="fullWidth module">
            <a name="bills"></a>
            <h3 class="moduleTitle">Bills</h3>
            <div class="eightCol colLt">
                <a class="textReplace rssIcon" href="{% url 'bills_feed' abbr %}?sponsor__leg_id={{legislator.id}}">rss</a>
                <h4>Sponsored Bills</h4>
                <ul>
                {% if sponsored_bills.count %}
                    {% for bill in sponsored_bills %}
                        <li class="medModuleSm">
	                        <time datetime="" class="published tipSm" pubdate>{{bill.most_recent_action.date|date:"F d, Y"}}</time>
                            <a class="h4 inlineTitle withTip" href="{{ bill.get_absolute_url }}">{{bill.bill_id}}</a> <span class="sideNote">{% for primary in bill.sponsors_manager.primary_list %}
                                {{ primary.name}}{% if not forloop.last %}, {% endif %}{% endfor %}</span>
                            <p class="clear">{{bill.title}}</p>
                        </li>
                    {% endfor %}
                </ul>
                <a class="viewMore" href="{% url 'bills' abbr %}?sponsor__leg_id={{legislator.id}}">View More Bills</a>
                {% else %}
                    <li>No sponsored bills to display.</li>
                </ul>
                {% endif %}

            </div>
            <div class="fourCol colRt">
                <a name="votes"></a>
                <a class="textReplace rssIcon" href="{% url 'votes_list' abbr 'legislators' legislator.id %}rss/">rss</a>
                <h4 class="withTip">Votes</h4>
                {% if not legislator_votes %}No votes to display.
                {% else %}
                <table class="noPaddingTable voteChart">
                    <col width="200" />
                    <col width="80" />
                    <thead>
                        <tr id="titles">
                            <th class="invisible">Bill</th>
                            <th class="twoColFlow right">Legislator Vote</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for vote_value, vote in legislator_votes %}
                        <tr>
                            <td>
                                <time datetime="" class="published" pubdate>{{vote.date|date:"M j, Y"}}</time>
                                <a href="{{ vote.get_absolute_url }}" class="h4 withTip">{{vote.bill.bill_id|upper}}</a>
                                <p>{{vote.motion|truncatewords:30}}</p>
                                <ul class="barChart">
                                    <li class="yes">
                                        <span class="tagValue" style="width:{{vote.yes_ratio}}%;"></span>
                                        <span class="tagNumber">{{vote.yes_count}} Yes</span> 
                                    </li> 
                                    <li class="no clear">
                                        <span class="tagValue" style="width:{{vote.no_ratio}}%;"></span>
                                        <span class="tagNumber">{{vote.no_count}} No</span>
                                    </li>   
                                </ul> 
                            </td>
                            <td class="right"><b>{{vote_value|title}}</b></td>
                        </tr>                         
                        {% endfor %}
                    </tbody>
                </table>
                <a class="viewMore" href="{% url 'votes_list' abbr 'legislators' legislator.id %}">View More Votes</a>
                {% endif %}
            </div>
            <div class="clear"></div>
        </div>
        <div class="fullWidth module">
            {% sources legislator %}
        </div>    
{% endblock %}
