{% extends "billy/web/public/base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load humanize %}
{% load i18n %}
{% load customtags %}

{% block title %}
    {% trans "Login" %} - Open States
{% endblock %}

{% block headblock %}
{% endblock %}

{% block content %}
{% if form.errors %}
    <p>{% trans "Your username and password didn't match. Please try again." %}</p>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}
    <table>
    <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
    </tr>
    <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
    </tr>
    </table>

    <input type="submit" value="{% trans 'login' %}" />
    <input type="hidden" name="next" value="{{next}}" />
</form>
{% endblock %}
