{% extends "billy/web/public/base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load humanize %}
{% load i18n %}
{% load customtags %}

{% block title %}
    {% trans "Login" %}
{% endblock %}

{% block headblock %}
{% endblock %}
{% block content %}
{% if form.errors %}

    <h5 class='topPad'>{% trans "Oops, you didn’t enter a username and password that match. " %}<h5>
    <!-- <h5>Please try again, or <a href="/account/password/reset/">reset your password</a>.</h5> -->
{% endif %}

<h2 class='topPad'>Sign In</h2>

<div class="row">
		<div class="colSix ">
			<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
			  {% csrf_token %}
				<ul >
					<li>
					    {{ form.username.label_tag }}
                        {{ form.username }}
					</li>

                    <li>
                        {{ form.password.label_tag }}
                        {{ form.password }}
                    </li>

					<li>
					    <input type="submit" value="{% trans 'login' %}" />
                        <input type="hidden" name="next" value="{{next}}" />
					</li>
				</ul>
				 <!-- <p class="tip withTip">Don't have an account yet? <a href="/account/register/">Create a new account</a>.</p>
				<p class="tip">Having trouble logging in? <a href="/account/password/reset/">Reset your password</a>.</p> -->
			</form>

		</div>
	</div>
{% endblock %}
