{% extends "billy/web/public/base.html" %}
{% load url from future %}
{% load i18n %}
{% load static from staticfiles %}
{% load customtags %}


{% block title %}{{ title }}{% endblock %}

{% block headblock %}
<script>
$(document).ready(function() {
    // Make table rows clickable
    clickable_rows("#main-table tbody tr");
});
</script>
{% endblock %}

{% block content %}
        <a class="textReplace rssIcon" href="{{request.path}}rss/">RSS</a>
        <h2>{{ description }}</h2>
        <div class="fullWidth">
            {% include "billy/web/public/_pagination.html" %}
            {% if use_table %}
            <table id="main-table" class="withFilter">
                <thead>
                    <tr id="titles">
                        {% for header in column_headers %}
                            <th>{{header}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
            {% endif %}

                {% for obj in object_list %}
                    <tr class="{% cycle 'even' 'odd' %}">
                        {% include rowtemplate_name %}
                    </tr>
                {% endfor %}

            {% if use_table %}
                </tbody>
            </table>
            {% endif %}

            {% include "billy/web/public/_pagination.html" %}
        </div>
        <div class="clear"></div>{% endblock %}

