{% extends "billy/web/public/base.html" %}
{% load url from future %}
{% load static from staticfiles %}
{% load customtags %}


{% block title %}{% include description_template %}{% endblock %}

{% block headblock %}
<script type="text/javascript">
$(document).ready(function() {
    
    // Make table rows clickable.
    var trs = $("#main-table tbody tr");
    var trs_count = trs.length;
    trs.click(function(){
        window.location=$(this).find("a").attr("href");
        return false;
        });

    // If javascript is enabled, change cursor to pointer over table rows
    // and add selected class on hover.
    trs.css('cursor', 'pointer');
    trs.hover(function(){
            $(this).addClass('selected');
        },
        function(){
            $(this).removeClass('selected');
        });
    });
    
</script>
<style>
    .selected {
        background-color: #FFFFD6;
    }
    .rss-link {
        border-style: none;
    }
</style>
{% endblock %}

{% block content %}
        <span style="float: right;"><a href='{{request.path}}rss/'><img class='rss-link' src='{% static "images/feed-icon-14x14.png" %}'></img></a></span>
        <h2>{% include description_template %}</h2>
        <div class="fullWidth">
            <div id="pagination-links">
                Showing {{object_list.range_start}} to {{object_list.range_end}} of {{object_list.count}}</br>
                {% if object_list.has_next or object_list.has_previous %}
                {% for text, page_number, clickable in object_list.pagination_data %}
                    {% if clickable %}
                    <a href="{{url}}?page={{page_number}}">{{text}}</a>
                    {% else %}
                    {{text}}
                    {% endif %}
                {% endfor %}
                {% endif %}
            </div>

            {% if use_table %}
            <table id="main-table" class="withFilter">
                <thead>
                    <tr id="titles">
                        {% for header in column_headers %}
                            <th>{{header}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
            {% endif %}

                {% for obj in object_list %}
                    <tr class="{% cycle 'even' 'odd' %}">
                        {% include rowtemplate_name %}
                    </tr>
                {% endfor %}

            {% if use_table %}
                </tbody>   
            </table>
            {% endif %}
            
            <div id="pagination-links">
                Showing {{object_list.range_start}} to {{object_list.range_end}} of {{object_list.count}}</br>
                {% if object_list.has_next %}
                {% for text, page_number, clickable in object_list.pagination_data %}
                    {% if clickable %}
                    <a href="{{url}}?page={{page_number}}">{{text}}</a>
                    {% else %}
                    {{text}}
                    {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="clear"></div>{% endblock %}

