{% extends base_template %}
{% load url from future %}

{% load humanize %}
{% load customtags %}


{% block title %}Pick a State{% endblock %}

{% block collection_nav %}
{% endblock %}

{% block content %}

<h2>You didn't pick a real state...</h2>
<h5>Not to worry&mdash;this page was created with the navigationally challenged in mind (cough cough...YOU).</h5>
<div class="module fullWidth clear">
    <ul class="inlineThirds">
    {% for column in columns %}
        <li class="{{forloop.counter|apnumber}}">
        <ul>
        {% for state in column %}
          <li><a href={% url 'state' state.id %}>{{ state.name }}</a></li>
        {% endfor %}
        </ul>
    {% endfor %}
    </ul>
<div class="clear"></div>   
</div> 

{% endblock %}

