{% extends "billy/web/public/base.html" %}
{% load i18n %}
{% load humanize %}
{% load staticfiles %}


{% block title %}
    Reportcard!
{% endblock %}

{% block headblock %}
<script src="http://static.openstates.org/assets/v3.0/js/datatables.js"></script>
<script src="{% static "js/jquery-ui-1.10.1.tooltip.min.js" %}"></script>

<style>
.ui-tooltip, .arrow:after {
    background: black;
    border: 2px solid white;
}
.ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px black;
}
.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}
.arrow.top {
    top: -16px;
    bottom: auto;
}
.arrow.left {
    left: 20%;
}
.arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    tranform: rotate(45deg);
}
.arrow.top:after {
    bottom: -20px;
    top: auto;
}
</style>

<script type="text/javascript" >
$(document).ready(function() {

    var datatable_setup = function(){

        //Kill the html in the table headers.
        var table = $('#main-table');
        table.find('th').each(function(){
            var th = $(this);
            th.html(th.text());
        });

        // Convert the table to dataTable.
        var datatable = table.dataTable({
            bPaginate: false,
            bInfo: false,
            bDestroy: true,
            bFilter: false,
        });

        jQuery.fn.dataTableExt.oSort['natural-asc'] = sort_func_asc;
        jQuery.fn.dataTableExt.oSort['natural-desc'] = sort_func_desc;

        // Sort it.
        datatable.fnSort([[0, 'asc']]);

        $(".grade").tooltip({
            position: {
                my: "center bottom-20",
                at: "center top",
                using: function( position, feedback ) {
                    $( this ).css( position );
                    $( "<div>" )
                        .addClass( "arrow" )
                        .addClass( feedback.vertical )
                        .addClass( feedback.horizontal )
                        .appendTo( this );
                }
            }
        });
    }

    datatable_setup();

})
</script>
{% endblock %}

{% block description %}
    Reportcard data on all 50 states + DC.
{% endblock %}

{% block content %}

<h2>State by State Report Card </h2>
<table id="main-table" class="dataTable reportCard">
    <thead>
        <tr>
            <th class="sort sorting_asc" role="columnheader">State</th>
            <th class="sort sorting_asc" role="columnheader">Completeness</th>
            <th class="sort sorting_asc" role="columnheader">Timeliness</th>
            <th class="sort sorting_asc" role="columnheader">Ease of Access</th>
            <th class="sort sorting_asc" role="columnheader">Machine Readibility</th>
            <th class="sort sorting_asc" role="columnheader">Open Standards</th>
            <th class="sort sorting_asc" role="columnheader">Permanence</th>
            <th class="sort sorting_asc" role="columnheader">Score Average</th>
            <th class="sort sorting_asc" role="columnheader">Score</th>
        </tr> 
    </thead>
    <tbody>
        <tr> 
            <td class="bold">Connecticut</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" > 2 </td> 
            <td > 4 </td> 
            <td class="grade grade-a" title="Because I said so" >A</td> 
        </tr>

        <tr> 
            <td class="bold">Georgia</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" > 2 </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" > 2 </td> 
            <td > 4 </td> 
            <td class="grade grade-a" >A</td> 
        </tr>

        <tr>
            <td class="bold">Kansas</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-good" >1</td> 
            <td class="score-good" >1</td> 
            <td class="score-great" > 2 </td> 
            <td > 5 </td> 
            <td class="grade grade-a" >A</td> 
        </tr>

        <tr> 
            <td class="bold">New Hampshire</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" > 2 </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" > 2 </td> 
            <td > 4 </td>
            <td class="grade grade-a" >A</td> 
        </tr>

        <tr> 
            <td class="bold">North Carolina</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" > 2 </td> 
            <td > 4 </td> 
            <td class="grade grade-a" >A</td> 
        </tr>

        <tr> 
            <td class="bold">Texas</td>
            <td class="score-bad" >-1</td> 
            <td class="score-good" >1</td> 
            <td class="score-good" >1</td> 
            <td class="score-great" > 2 </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" > 2 </td> 
            <td > 5 </td> 
            <td class="grade grade-a" >A</td> 
        </tr>

        <tr> 
            <td class="bold">Washington</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" > 2 </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" > 2 </td> 
            <td > 5 </td> 
            <td class="grade grade-a" >A</td> 
        </tr>

        <tr> 
            <td class="bold">Alaska</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" > 2 </td> 
            <td > 3 </td> 
            <td class="grade grade-b" >B</td> 
        </tr>

        <tr> 
            <td class="bold">Arkansas</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" > 2 </td> 
            <td > 4 </td> 
            <td class="grade grade-b" >B</td> 
        </tr>

        <tr> 
            <td class="bold">Maryland</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td > 3 </td> 
            <td class="grade grade-b" >B</td> 
        </tr>

        <tr> 
            <td class="bold">Mississippi</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" > 2 </td> 
            <td > 3 </td> 
            <td class="grade grade-b" >B</td> 
        </tr>

        <tr> 
            <td class="bold">Nevada</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" > 2 </td> 
            <td > 3 </td> 
            <td class="grade grade-b" >B</td> 
        </tr>

        <tr> 
            <td class="bold">New Jersey </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-bad" >-1</td> 
            <td class="score-great" > 2 </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" > 2 </td> 
            <td > 3 </td> 
            <td class="grade grade-b" >B</td> 
        </tr>

        <tr> 
            <td class="bold">New York</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" > 2 </td> 
            <td > 3 </td> 
            <td class="grade grade-b" >B</td> 
        </tr>

        <tr> 
            <td class="bold">Ohio</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-bad" >-1</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" > 2 </td> 
            <td > 3 </td> 
            <td class="grade grade-b" >B</td> 
        </tr>

        <tr> 
            <td class="bold">Utah </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" > 2 </td> 
            <td > 3 </td> 
            <td class="grade grade-b" >B</td> 
        </tr>

        <tr> 
            <td class="bold">Vermont</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" > 2 </td> 
            <td > 3 </td> 
            <td class="grade grade-b" >B</td> 
        </tr>

        <tr> 
            <td class="bold">West Virginia</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-good" >1</td> 
            <td class="score-bad" >-1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" > 2 </td> 
            <td > 3 </td> 
            <td class="grade grade-b" >B</td> 
        </tr>

        <tr> 
            <td class="bold">Arizona </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-bad" >-1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" > 2 </td> 
            <td >1</td> 
            <td class="grade grade-c" >C</td> 
        </tr>

        <tr> 
            <td class="bold">Delaware </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-bad" >-1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" > 2 </td> 
            <td > 2 </td> 
            <td class="grade grade-c" >C</td> 
        </tr>

        <tr> 
            <td class="bold">District of Columbia </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td >1</td> 
            <td class="grade grade-c" >C</td> 
        </tr>

        <tr> 
            <td class="bold">Florida </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-bad" >-1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" > 2 </td> 
            <td > 2 </td> 
            <td class="grade grade-c" >C</td> 
        </tr>

        <tr> 
            <td class="bold">Hawaii </td> 
            <td class="score-bad" >-1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" > 2 </td> 
            <td >1</td> 
            <td class="grade grade-c" >C</td> 
        </tr>

        <tr> 
            <td class="bold">Idaho </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td >1</td> 
            <td class="grade grade-c" >C</td> 
        </tr>

        <tr>
            <td class="bold">Illinois </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-bad" >-1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" > 2 </td> 
            <td > 2 </td> 
            <td class="grade grade-c" >C</td> 
        </tr>

        <tr> 
            <td class="bold">Iowa </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-bad" >-1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" > 2 </td> 
            <td > 2 </td> 
            <td class="grade grade-c" >C</td> 
        </tr>

        <tr> 
            <td class="bold">Michigan </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td > 2 </td> 
            <td class="grade grade-c" >C</td> 
        </tr>

        <tr> 
            <td class="bold">Minnesota </td> 
            <td class="score-abysmal" >-2</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" > 2 </td> 
            <td >1</td> 
            <td class="grade grade-c" >C</td> 
        </tr>

        <tr> 
            <td class="bold">Missouri </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-bad" >-1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" > 2 </td> 
            <td >1</td> 
            <td class="grade grade-c" >C</td> 
        </tr>

        <tr> 
            <td class="bold">Montana </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-bad" >-1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" > 2 </td> 
            <td > 2 </td> 
            <td class="grade grade-c" >C</td> 
        </tr>

        <tr> 
            <td class="bold">New Mexico </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-bad" >-1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" > 2 </td> 
            <td >1</td> 
            <td class="grade grade-c" >C</td> 
        </tr>

        <tr> 
            <td class="bold">North Dakota </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-bad" >-1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" > 2 </td> 
            <td >1</td>
            <td class="grade grade-c" >C</td> 
        </tr>

        <tr> 
            <td class="bold">Oregon </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-bad" >-1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" > 2 </td> 
            <td >1</td> 
            <td class="grade grade-c" >C</td> 
        </tr>

        <tr> 
            <td class="bold">Pennsylvania </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" > 2 </td> 
            <td > 2 </td> 
            <td class="grade grade-c" >C</td> 
        </tr>

        <tr> 
            <td class="bold">South Carolina </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" > 2 </td> 
            <td > 2 </td> 
            <td class="grade grade-c" >C</td> 
        </tr>

        <tr> 
            <td class="bold">South Dakota </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-bad" >-1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" > 2 </td> 
            <td > 2 </td> 
            <td class="grade grade-c" >C</td> 
        </tr>

        <tr> 
            <td class="bold">Tennessee </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td >1</td> 
            <td class="grade grade-c" >C</td> 
        </tr>

        <tr> 
            <td class="bold">Virginia </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" > 2 </td> 
            <td > 2 </td> 
            <td class="grade grade-c" >C</td> 
        </tr>

        <tr> 
            <td class="bold">Wyoming </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" > 2 </td> 
            <td > 2 </td> 
            <td class="grade grade-c" >C</td> 
        </tr>

        <tr> 
            <td class="bold">California </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-bad" >-1</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td >0</td> 
            <td class="grade grade-d" >D</td> 
        </tr>

        <tr> 
            <td class="bold">Indiana </td> 
            <td class="score-bad" >-1</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-bad" >-1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td >-1</td> 
            <td class="grade grade-d" >D</td> 
        </tr>

        <tr> 
            <td class="bold">Louisiana </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-bad" >-1</td> 
            <td class="score-bad" >-1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td >-1</td> 
            <td class="grade grade-d" >D</td> 
        </tr>

        <tr> 
            <td class="bold">Maine </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-bad" >-1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td >0</td> 
            <td class="grade grade-d" >D</td> 
        </tr>

        <tr> 
            <td class="bold">Oklahoma </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-bad" >-1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td >0</td> 
            <td class="grade grade-d" >D</td> 
        </tr>

        <tr> 
            <td class="bold">Wisconsin </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td >0</td> 
            <td class="grade grade-d" >D</td> 
        </tr>

        <tr> 
            <td class="bold">Alabama </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-abysmal" >-2</td> 
            <td class="score-bad" >-1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-bad" >-1</td> 
            <td > -3 </td> 
            <td class="grade grade-f" >F</td> 
        </tr>

        <tr> 
            <td class="bold">Colorado </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-good" >1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-bad" >-1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-abysmal" >-2</td> 
            <td >-2</td> 
            <td class="grade grade-f" >F</td> 
        </tr>

        <tr> 
            <td class="bold">Kentucky </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-abysmal" >-2</td> 
            <td class="score-bad" >-1</td> 
            <td class="score-neutral" >0</td>
            <td > -3 </td> 
            <td class="grade grade-f" >F</td> 
        </tr>

        <tr> 
            <td class="bold">Massachusetts </td> 
            <td class="score-abysmal" >-2</td> 
            <td class="score-good" >1</td> 
            <td class="score-abysmal" >-2</td> 
            <td class="score-abysmal" >-2</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-great" > 2 </td> 
            <td > -3 </td> 
            <td class="grade grade-f" >F</td> 
        </tr>

        <tr> 
            <td class="bold">Nebraska </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-bad" >-1</td> 
            <td class="score-neutral" >0</td>
            <td class="score-bad" >-1</td>
            <td >-2</td> 
            <td class="grade grade-f" >F</td> 
        </tr>

        <tr> 
            <td class="bold">Rhode Island </td> 
            <td class="score-neutral" >0</td> 
            <td class="score-bad" >-1</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-neutral" >0</td> 
            <td class="score-bad" >-1</td> 
            <td >-2</td> 
            <td class="grade grade-f" >F</td> 
        </tr>
    </tbody>
</table>


{% endblock %}
