{% extends base_template %}
{% load customtags %}
{% load staticfiles %}
{% load url from future %}

{% block title %}{{metadata.name}}{% endblock %}

{% block bodyclass %}home{% endblock %}

{% block headblock %}
<link rel="stylesheet" href="{% static "maps/leaflet.css" %}" />
<!--[if lte IE 8]><link rel="stylesheet" href="{% static "maps/leaflet.ie.css" %}" /><![endif]-->
<script src="{% static "maps/leaflet.js" %}"></script>
<script src="{% static "maps/wax.leaf.min.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="fullWidth">
        <div id="stateimg-{{metadata.abbr}}" class="stateTitle">
            <h2 class="withTip">{{metadata.legislature_name}}</h2>
            <p>Michigan is the 21st state. Did you know that the name Michigan is the French form of the Ojibwa word mishigamaa, meaning "large water" or "large lake".</p>
        </div>
    </div>

    <div class="page-header"><h2>Sessions</h2></div>
        <ul>
        {% for session_id, session_name in sessions  %}
          {# At this stage, it's unclear what sessions would link to...so removed the links. #}
          <!--<li><a href="/{{abbr}}/{{session_id}}/">{{ session_name }}</a></li>-->
          <li style="padding-left: 2em;">{{ session_name }}</li>
        {% endfor %}
        </ul>

    <div class="fullWidth module clear">
        <h3 class="moduleTitle">Districts</h3>
        <div class="mapbox" id="mapbox-{{abbr}}" style="width: 600px; height: 400px"></div>
        <span id="mbtooltip-{{abbr}}{{chamber.type}}"></span>
    </div>

    <div class="fullWidth module clear">
        <h3 class="moduleTitle">Legislators</h3>

        {% for chamber in chambers %}
            <div class="sixCol {% if forloop.first %} colLt withDash {% else %} colRt {% endif %}">
                <div class="stateMap withBorder colLt threeCol">
                <!-- map js -->
                <div class="mapbox" id="mapbox-{{abbr}}{{chamber.type}}" style="width: 189px; height: 120px"></div>
                <span id="mbtooltip-{{abbr}}{{chamber.type}}"></span>
                </div>
                <div class="threeCol centeredText colRt">
                    <a href="{% url 'legislators' metadata.abbr %}?chamber={{chamber.type}}">
                        <h4 class="titleNumber withTip">{{ chamber.legislators.count }}<span>{{ chamber.title }}s</span></h4>
                    </a>
                    <ul class="tip inlineList">
                    {% for party, count in chamber.legislators.party_counts.items %}
                    <li><a href="{% url 'legislators' metadata.abbr %}?chamber={{chamber.type}}">{{ count }} {{party}}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>

        {% endfor %}
        <script type="text/javascript">
            var lower_url = 'http://a.tiles.mapbox.com/v3/mapbox.mapbox-light,sunlight.{{metadata.abbr}}lower.jsonp';
            var upper_url = 'http://a.tiles.mapbox.com/v3/mapbox.mapbox-light,sunlight.{{metadata.abbr}}upper.jsonp';
            var map = new L.Map('mapbox-{{metadata.abbr}}',
                    {attributionControl:true, minZoom: 5, maxZoom: 12 });
            var layersControl = new L.Control.Layers();
            map.attributionControl.setPrefix('');
            map.addControl(layersControl);

            var wax_cb = function(tilejson) {
                // add to map
                var layer = new wax.leaf.connector(tilejson);
                map.addLayer(layer);
                map.setView(new L.LatLng(tilejson.center[1], tilejson.center[0]), tilejson.center[2]);

                // add to control
                var layerName;
                if (tilejson.grids[0].indexOf('lower') != -1) {
                    layerName = 'lower';
                } else {
                    layerName = 'upper';
                }
                layersControl.addBaseLayer(layer, layerName);

                // add events
                var container = $('#mbtooltip-{{metadata.abbr}}')[0];
                var events = {};
                events.on = function(arg) { 
                    var selLayer = $('input[name="leaflet-base-layers"]:checked').parent().text().trimLeft();
                    if (selLayer === layerName) {
                        container.innerHTML = arg.data.NAMELSAD;
                    }
                }
                events.off = function(arg) {
                    var selLayer = $('input[name="leaflet-base-layers"]:checked').parent().text().trimLeft();
                    if (selLayer === layerName) {
                        container.innerHTML = "";
                    }
                }
                wax.leaf.interaction().map(map).tilejson(tilejson).on(events);
            }

            wax.tilejson(upper_url, wax_cb);
            wax.tilejson(lower_url, wax_cb);
        </script>
        <div class="clear"></div>
    </div>
    <div class="fullWidth module clear">
        <h3 class="moduleTitle">Committees</h3>
        <ul class="inlineThirds centeredText">
            {% for chamber in chambers %}
                <a href="{% url 'committees_chamber' abbr=abbr chamber=chamber.type %}">
                <li class="{% cycle 'one' 'two' %} titleNumber withTip">
                {{ chamber.committees.count }}<span>{{ chamber.name }} Committees</span></li>
                </a>
            {% endfor %}
            <a href="{% url 'committees_chamber' abbr=abbr chamber='joint' %}">
                <li class="three titleNumber withTip">{{ chambers.0.committees.joint_count }}<span>Joint Committees</span></li>
            </a>
        </ul>
        <div class="clear"></div>
    </div>
     <div class="fullWidth module">
            <h3 class="moduleTitle">Bills</h3>
            <div class="sixCol colLt">
                <h4>{{ metadata.upper_chamber_name }}<span class="tip sideNote">({{chambers.0.bills_count}})</span></h4>
                <div class="medModule">
                    <h5>Recently Passed</h5>
                    <ul>
                    {% with passed_upper=recent_actions.passed_upper %}
                    {% if passed_upper %}
                        {% for bill in passed_upper %}
                            <li>
                                <time datetime="" class="published" pubdate>{{ bill.actions_manager.latest_passed_upper.date|date:"F d, Y" }}</time>
                                <span class="inlineTitle h4 withTip"><a href="{% url 'bill' abbr bill.id %}">{{ bill.bill_id }}</a><span class="tip sideNote">{{ bill.sponsors.first_primary.name }}</span></span>
                                <p class="clear">{{ bill.title|truncatewords:50}}</p>
                            </li>
                        {% endfor %}
                        </ul>
                        <a class="viewMore" href="{% url 'bills_passed_upper' abbr %}">View More Passed Bills</a>
                    {% else %}
                      No passed bills to display.
                    {% endif %}
                    {% endwith %}
                </div>
                <h5>Recently Introduced</h5>
                <ul>
                {% with introduced_upper=recent_actions.introduced_upper %}
                {% if introduced_upper %}
                    {% for bill in introduced_upper %}
                        <li>
                            <time datetime="" class="published" pubdate>{{ bill.actions_manager.latest_introduced_upper.date|date:"F d, Y"}}</time>
                            <span class="inlineTitle h4 withTip"><a href="{% url 'bill' abbr bill.id %}">{{bill.bill_id }}</a> <span class="tip sideNote">{{ bill.sponsors.first_primary.name }}</span></span>
                            <p class="clear">{{ bill.title|truncatewords:50}}</p>
                        </li>
                    {% endfor %}
                {% else %}
                    No passed bills to display.
                {% endif %}
                {% endwith %}
                </ul>
                <a class="viewMore" href="{% url 'bills_introduced_upper' abbr %}">View More Introduced Bills</a>
            </div>
            <div class="sixCol colRt">
                <h4>{{ metadata.lower_chamber_name }}<span class="tip sideNote">({{chambers.1.bills_count}})</span></h4>
                <div class="medModule">
                    <h5>Recently Passed</h5>
                    <ul>
                    {% with passed_lower=recent_actions.passed_lower %}
                    {% if passed_lower %}
                        {% for bill in passed_lower %}
                        <li>
                            <time datetime="" class="published" pubdate>{{ bill.actions_manager.latest_passed_lower.date|date:"F d, Y"}}</time>
                            <span class="inlineTitle h4 withTip"><a href="{% url 'bill' abbr bill.id %}">{{bill.bill_id }}</a> <span class="tip sideNote">{{ bill.sponsors.first_primary.name }}</span></span>
                            <p class="clear">{{ bill.title|truncatewords:50}}</p>
                        </li>
                    {% endfor %}
                    </ul>
                    <a class="viewMore" href="{% url 'bills_passed_lower' abbr %}">View More Passed Bills</a>
                    {% else %}
                      No passed bills to display.
                    {% endif %}
                    {% endwith %}
                </div>
                <h5>Recently Introduced</h5>
                <ul>
                {% with introduced_lower=recent_actions.introduced_lower %}
                {% if introduced_lower %}
                    {% for bill in introduced_lower %}
                    <li>
                        <time datetime="" class="published" pubdate>{{ bill.actions_manager.latest_introduced_lower.date|date:"F d, Y"}}</time>
                        <span class="inlineTitle h4 withTip"><a href="{% url 'bill' abbr bill.id %}">{{bill.bill_id }}</a> <span class="tip sideNote">{{ bill.sponsors.first_primary.name }}</span></span>
                        <p class="clear">{{ bill.title|truncatewords:50}}</p>                    </li>
                    {% endfor %}
                </ul>
                <a class="viewMore" href="{% url 'bills_introduced_lower' abbr %}">View More Introduced Bills</a>
                {% else %}
                    No passed bills to display.
                {% endif %}
                {% endwith %}
            </div>
            <div class="clear"></div>
        </div>
    </div>

{% endblock %}
