{% extends "billy/web/public/base.html" %}
{% load customtags %}
{% load staticfiles %}
{% load funfacts %}
{% load url from future %}

{% block title %}{{metadata.legislature_name}} - Open States{% endblock %}

{% block bodyclass %}{% endblock %}

{% block headblock %}
<link rel="stylesheet" href="{% static "maps/leaflet.css" %}" />
<!--[if lte IE 8]><link rel="stylesheet" href="{% static "maps/leaflet.ie.css" %}" /><![endif]-->
<script src="{% static "maps/leaflet.js" %}"></script>
<script src="{% static "maps/wax.leaf.min.js" %}"></script>
<link rel="canonical" href="{{metadata.get_absolute_url}}">
{% endblock %}

{% block content %}
    <div class="fullWidth">
        <div id="stateimg-{{metadata.abbr}}" class="stateTitle">
            <h2 class="withTip">{{metadata.legislature_name}}</h2>
            <p>{% funfact metadata.abbr %}</p>
        </div>
    </div>

    <div class="fullWidth module clear">
        <h3 class="moduleTitle">Legislators/Districts</h3>
        <div class="twoCol colLt withDash centeredText" id="totalLeg">
            <ul>
                {% for chamber in chambers %}
                 <li class="medModule">
                    <a href="{% url 'legislators' metadata.abbr %}?chamber={{chamber.type}}">
                        <h4 class="titleNumber withTip">{{ chamber.legislators.count }}<span>{{ chamber.title }}s</span></h4>
                    </a>
                    <ul class="tip noSpace">
                        {% for party, count in chamber.legislators.party_counts.items %}
                            <li><a href="{% url 'legislators' metadata.abbr %}?chamber={{chamber.type}}">{{ count }} {{party}}</a></li>
                        {% endfor %}
                    </ul>
                 </li>
                {% endfor %}
            </ul>
        </div>
        <div class="fourCol colLtSm">
            <div class="mapbox" id="mapbox-{{abbr}}" style="width: 100%; height: 400px"></div>
            <span id="mbtooltip-{{abbr}}{{chamber.type}}"></span>
        </div>
        <div class="sixCol colRt">
            <p class="tip centeredText">Click on a district to view corresponding legislators</p>
            <div id="results_table">

            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="fullWidth module clear">
        <h3 class="moduleTitle">Committees</h3>
        <ul class="inlineThirds centeredText">
            {% for chamber in chambers %}
                <a href="{% url 'committees' abbr %}">
                <li class="{% cycle 'one' 'two' %} titleNumber withTip">
                {{ chamber.committees_count }}<span>{{ chamber.name }} Committees</span></li>
                </a>
            {% endfor %}
            <a href="{% url 'committees' abbr %}">
                <li class="three titleNumber withTip">{{ joint_committee_count }}<span>Joint Committees</span></li>
            </a>
        </ul>
        <div class="clear"></div>
    </div>

    <div class="fullWidth module">
        <h3 class="moduleTitle">Bills</h3>
        {% for chamber in chambers %}
        <div class="sixCol {% if forloop.first %} colLt {% else %} colRt {% endif %}">
            <h4>{{ chamber.name }}</h4>
            <div class="medModule">
                <span style="float: right"><a class="rssIcon" href="{% url 'bills_passed_upper_rss' abbr %}"></a></span>
                <h5>Recently Passed</h5>
                <ul>
                {% if chamber.passed_bills %}
                    {% for bill in chamber.passed_bills %}
                        <li>
                            <time class="published">
                            {% if chamber.type == 'upper' %}
                                {{ bill.action_dates.passed_upper.date|date:"F d, Y" }}
                            {% else %}
                                {{ bill.action_dates.passed_lower.date|date:"F d, Y" }}
                            {% endif %}
                            </time>
                            <span class="inlineTitle h4 withTip"><a href="{% url 'bill' abbr bill.id %}">{{ bill.bill_id }}</a><span class="tip sideNote">{{ bill.sponsors.first_primary.name }}</span></span>
                            <p class="clear">{{ bill.title|truncatewords:50}}</p>
                        </li>
                    {% endfor %}
                    </ul>
                    <a class="viewMore" href="{% url 'bills' abbr %}?status=passed_{{chamber.type}}">View More Passed Bills</a>
                {% else %}
                    No passed bills to display.
                {% endif %}
            </div>
            <span style="float: right"><a class="rssIcon" href="{% url 'bills_introduced_upper_rss' abbr %}"></a></span>
            <h5>Recently Introduced</h5>
            <ul>
            {% if chamber.latest_bills %}
                {% for bill in chamber.latest_bills %}
                    <li>
                        <time class="published">{{ bill.action_dates.first|date:"F d, Y"}}</time>
                        <span class="inlineTitle h4 withTip"><a href="{% url 'bill' abbr bill.id %}">{{bill.bill_id }}</a> <span class="tip sideNote">{{ bill.sponsors.first_primary.name }}</span></span>
                        <p class="clear">{{ bill.title|truncatewords:50}}</p>
                    </li>
                {% endfor %}
            {% else %}
                No passed bills to display.
            {% endif %}
            </ul>
            <a class="viewMore" href="{% url 'bills' abbr %}?chamber={{chamber.type}}">View More Bills</a>
        </div>
        {% endfor %}

        <div class="clear"></div>
    </div>
    <div class="fullWidth module">
        <h3 class="moduleTitle">Sessions</h3>

        <table>
            <thead>
                <tr >
                    <th>Session</th>
                    <th>Bills</th>
                </tr>
            </thead>
            <tbody>
                {% for session in sessions %}
                {% if session.bill_count %}
                    <tr class="{% cycle 'odd' 'even' %}">
                       <td>{{session.name}}</td>
                       <td><a href="{% url 'bills' abbr %}?session={{session.id}}">{{session.bill_count}} bills</a></td>
                   </tr>
                {% endif %}
                {% endfor %}
        </table>

    </div>

<!-- mapbox interaction script -->
<script type="text/javascript">
    var lower_url = 'http://a.tiles.mapbox.com/v3/mapbox.mapbox-light,sunlight.{{metadata.abbr}}lower.jsonp';
    var upper_url = 'http://a.tiles.mapbox.com/v3/mapbox.mapbox-light,sunlight.{{metadata.abbr}}upper.jsonp';
    var map = new L.Map('mapbox-{{metadata.abbr}}',
            {attributionControl:true, minZoom: 4, maxZoom: 12 });
    var layersControl = new L.Control.Layers();
    var marker;
    map.attributionControl.setPrefix('');
    map.addControl(layersControl);

    var wax_cb = function(tilejson) {
        // add to map
        var layer = new wax.leaf.connector(tilejson);
        map.addLayer(layer);
        map.setView(new L.LatLng(tilejson.center[1], tilejson.center[0]), tilejson.center[2]);

        // add to control
        var layerName;
        if (tilejson.grids[0].indexOf('lower') != -1) {
            layerName = 'lower';
        } else {
            layerName = 'upper';
        }
        layersControl.addBaseLayer(layer, layerName);

        // add events
        var container = $('#mbtooltip-{{metadata.abbr}}')[0];
        var events = {};
        events.on = function(arg) {
            var selLayer = $('input[name="leaflet-base-layers"]:checked').parent().text().trimLeft();
            if (selLayer === layerName) {
                container.innerHTML = arg.data.NAMELSAD;
            }
        }
        events.off = function(arg) {
            var selLayer = $('input[name="leaflet-base-layers"]:checked').parent().text().trimLeft();
            if (selLayer === layerName) {
                container.innerHTML = "";
            }
        }
        // /find_your_legislator/?lat=42.35843&lon=-71.059773
        wax.leaf.interaction().map(map).tilejson(tilejson).on(events);
    }
    wax.tilejson(upper_url, wax_cb);
    wax.tilejson(lower_url, wax_cb);
    map.on('click', function(e) {
        console.log(e.latlng);
        var url = '/find_your_legislator/?lat=' + e.latlng.lat + '&lon=' + e.latlng.lng;
        $("#results_table").load(url, function() {});

        // create or move marker
        if (!marker) {
            marker = new L.Marker(e.latlng);
            map.addLayer(marker);
        } else {
            marker.setLatLng(e.latlng);
        }
    });
</script>

{% endblock %}
