{% extends "billy/web/public/base.html" %}
{% load customtags %}
{% load staticfiles %}
{% load humanize %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Open States: discover politics in your state" %}{% endblock %}
{% block description %}{% trans "Follow politics in your state legislature. Find your legislators, see how they've voted, and browse bills, committees and events." %} {% endblock %}

{% block headblock %}
<script>
$(document).ready(function() {
    setup_notification_radios();
    });
</script>
{% endblock %}

{% block bodyclass %}home{% endblock %}


{% block content %}
    <div id="container">
        <div class="fullWidth module">
            <div class="sixCol colRt">
                <a href="/profile">Edit your profile</a>
            </div>
        </div>
        <div class="fullWidth mainModule">

            {% if favorites %}
            <div class="sixCol colLt">
                <h1 class="moduleTitle">You're following:</h1>
                <ul style="padding-left: 25px">
                    {% for type, objs in favorites.items %}
                    <li>
                        <h5>{{objs|length|apnumber|title}}
                        {% if type != 'search' %}
                            <a href="#{{type}}">{{type|title}}{{objs|pluralize}}</a>
                        {% else %}
                            <a href="#{{type}}">Searches</a>
                        {% endif %}
                        </h5></li>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% else %}
                <h1>You're not following anything yet.</h1>
                <p>You can follow bills, legislators, committees, and searches by clicking
                    star on each item's page. Get busy!</p>
            {% endif %}
            <div class="sixCol colRt">
                <iframe width="420" height="315" src="http://www.youtube.com/embed/5xbyJGM1iUY" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="clear"></div>
        </div>


        {% if favorites.has_bills %}
        <div class="module">
            <a name="bill" id="bill"></a>
            {% notification_preference 'bill' profile %}
            <h3 class="moduleTitle">{% trans "Bills" %}</h3>
            <table class="withFilter">
                <thead>
                    <tr id="titles">
                        <th class="invisible">Favorite</th>
                        <th>{% trans "State" %}</th>
                        <th>{% trans "Title" %}</th>
                        <th>{% trans "Session" %}</th>
                        <th>{% trans "Recent Action" %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for fave in favorites.bill %}
                    <tr>
                    {% with obj=fave.obj %}
                        <td>{% favorite obj.id 'bill' obj.metadata.abbr 'is_favorite' %}</td>
                        <td>{{obj.metadata.name}}</td>
                        <td>
                            <a href="{{ obj.get_absolute_url }}">{{obj.bill_id}}</a>
                            <p>{{obj.title|truncatewords:25}}</p>
                        </td>
                        <td>{{obj.session_details.display_name}}</td>
                        {% with action=obj.most_recent_action %}
                            <td>{{action.date|date:"M j, Y"}} <span class="tip">{{action.action}}</span></td>
                        {% endwith %}
                    {% endwith %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}

        {% if favorites.has_legislators %}

        <div class="module">
            <a name="legislator" id="legislator"></a>
            {% notification_preference 'legislator' profile %}
            <h3 class="moduleTitle">{% trans "Legislators" %}</h3>
            <table id="main-table">
                <thead>
                    <tr id="title">
                        <th class="invisible">Favorite</th>
                        <th class="invisible">{% trans "Picture" %}</th>
                        <th>{% trans "State" %}</a></th>
                        <th>{% trans "Name" %}</a></th>
                        <th>{% trans "District" %}</a></th>
                        <th>{% trans "Party" %}</a></th>
                        <th>{% trans "Chamber" %}</a></th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in legislators %}
                    <tr class="{% cycle 'even' 'odd' %}">
                        <td>{% favorite obj.id 'legislator' obj.metadata.abbr 'is_favorite' %}</td>
                        <td><a href="{{ obj.get_absolute_url }}"><img class="legImgSmall" src="http://static.openstates.org/photos/xsmall/{{ obj.leg_id }}.jpg"/></a></td>
                        <td>{{obj.metadata.name}}</td>
                        <td><a href="{{ obj.get_absolute_url }}">{{ obj.full_name }}</a></td>
                        <td>{{ obj.district }}</td>
                        <td>{{ obj.party }}</td>
                        {% if 'chamber' in obj %}
                            <td>{{ obj.chamber_name }}</td>
                        {% else %}
                            <td>{% trans "inactive" %}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}

        {% if favorites.has_committees %}
        <div class="module">
            <a name="committee" id="committee"></a>
            {% notification_preference 'committee' profile %}
            <h3 class="moduleTitle">{% trans "Committees" %}</h3>
           <table id="main-table">
              <thead>
                <tr>
                  <th class="invisible">Favorite</th>
                  <th>{% trans "State" %}</th>
                  <th>{% trans "Chamber" %}</th>
                  <th>{% trans "Name" %}</th>
                  <th>{% trans "Members" %}</th>
                </tr>
              </thead>
              {% for obj in committees %}
              <tr class="{% cycle odd,even %}">
                <td>{% favorite obj.id 'committee' obj.metadata.abbr 'is_favorite' %}</td>
                <td>{{ obj.metadata.name }}</td>
                <td>{{ obj.chamber_name }}</td>
                <td><a href="{{ obj.get_absolute_url }}">{{ obj.display_name }}</a></td>
                <td>
                  {% if not obj.members %}
                      [{% trans "data not yet available" %}]
                  {% else %}
                    <ul class="inlineList noSpace">
                    {% for member, legislator_object in obj.members_objects %}
                      {% if member.leg_id %}
                        <li>
                            <a class="tip withTip" href="{{legislator_object.get_absolute_url}}">{{legislator_object.display_name}}{% if not forloop.last %},{% else %}{% endif %}</a>
                        </li>
                      {% else %}
                      <li>
                        <span class="tip withTip">{{ member.name }}{% if not forloop.last %},{% else %}{% endif %}</span>
                      </li>
                      {% endif %}
                    {% endfor %}
                    </ul>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </table>
        </div>
        {% endif %}

        {% if favorites.has_searches %}
        <div class="module">
            <a name="search" id="search"></a>
            {% notification_preference 'search' profile %}
            <h3 class="moduleTitle">{% trans "Searches" %}</h3>
            <table>
                <thead>
                    <tr>
                        <th class="invisible">Favorite</th>
                        <th>Search term</th>
                        <th>Scope</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in favorites.search %}
                        <tr class="{% cycle odd,even %}">
                            <td>{% favorite obj.id 'search' obj.search_abbr 'is_favorite' obj.search_params %}</td>
                            <td><a href="/{{obj.search_abbr}}/bills?{{obj.search_params}}">"{{obj.text}}"</a></td>
                            <td>{{obj.scope|safe}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}

    </div>
{% endblock %}
