{% extends "billy/web/public/base.html" %}
{% load customtags %}
{% load staticfiles %}
{% load humanize %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Open States: discover politics in your state" %}{% endblock %}
{% block description %}{% trans "Follow politics in your state legislature. Find your legislators, see how they've voted, and browse bills, committees and events." %} {% endblock %}

{% block bodyclass %}home{% endblock %}


{% block headblock %}
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="{% static "js/gmaps.js" %}"></script>
<script>
$(document).ready(function() {
    var success_append_html = "<p>" +
                "To speed things up, have your browser tell " +
                "us your <a id = 'do_geo_locate' href = '#' >" +
                "current location</a>." +
                "</p>";
    setup_find_your_legislator(success_append_html);

    $("#profile_form").click(user_profile_form_submit);

    function isInt(n) {
       return typeof n === 'number' && n % 1 == 0;
    }

    $.getJSON('/get_user_latlong', function(data){
        var user_lat = data.lat,
            user_lng = data.lng;
        map.setZoom(12);
        if (isInt(user_lat) && isInt(user_lng)){
            map.setCenter(user_lat, user_lng);
            }
        });
});
</script>
{% endblock %}

{% block content %}
    <div class="clearfix medModuleSm">

        <h3>{% trans "Edit your profile:" %}</h3>
        {% if saved_changes %}
        <h6>{% trans "Your changes were saved!" %}</h6>
        {% endif %}
       <div class="clearfix sixCol colLt withDash">
            <form id="find_your_leg">
                <input type="hidden" value="cow" id="_request" />
                <div class="smModule">
                    <h5>{% trans "Set Your Location" %}</h5>
                    <!--<p class="author">{% trans "set your location so you can be remembered" %}</p>-->
                    <input type="text" name="leg_search" id="leg_search"
                        {% if profile.location.text %}
                        value="{{profile.location.text}}"</input>
                    {% else %}
                        placeholder="{% trans 'Your address, city or zipcode' %}">
                    {% endif %}
                        <button type="submit" value="{% trans 'Lookup' %}" style="text-indent: 0px; display: inline;">
                        </button>
                </div>
            </form>

            <div class="sixCol colLt legMap">
                <div id="map"></div>
            </div>
        </div>


        <div class="moduleNoBorder clearfix fiveCol colLt">
            <form action="/profile" method="POST" id="profile_form">
                {% csrf_token %}

                    <h5>{% trans "API Key" %}</h5>
                    <p class="author">View code snippets to get more data. Someone please rewrite this.</p>

                    <div class="smModule">
                        <h6>Have an API key? Enter it here:</h6>
                        {% if profile.api_key %}
                        <input type="text" name="api_key" value="{{profile.api_key}}"></input>
                        {% else %}
                        <input type="text" name="api_key" placeholder="{% trans 'Your API key' %}"></input>
                        {% endif %}
                        <p class="author topPad">Don't have one and want one? <a href="http://services.sunlightlabs.com/accounts/register/">Get one</a></p>
                    </div>

              </form>
           </div>
           <div class="clearfix container tenCol">
               <form action="/profile" method="POST" id="profile_form">
                   {% csrf_token %}
               <button type="submit" value="{% trans 'Save information' %}">
                   <span>{% trans "Save information" %}</span>
               </button>
               </form>
            </div>

    </div> <!-- container -->
{% endblock %}
