{% extends "billy/web/public/base.html" %}
{% load url from future %}
{% load customtags %}
{% load i18n %}


{% block title %}
  {{vote.date|date:"M d, Y"}} {% trans "vote" %} -
  {{vote.bill.bill_id }} -
  {{vote.bill.session_details.display_name}} -
  {{metadata.legislature_name}} -
  Open States
{% endblock %}

{% block description %}
{% trans "Vote on" %} {{metadata.legislature_name}} {{vote.bill.bill_id}} ({{vote.bill.session_details.display_name}}) {% trans "that took place on" %} {{vote.date|date:"M d, Y"}}.
{% endblock %}

{% block headblock %}
    <link rel="canonical" href="{{vote.get_absolute_url}}">
    <script>
    $(document).ready(function(){
        var doc = $(document);
        doc.bind("keydown", "alt+j", function(){window.location = '{{vote.get_admin_json_url}}'});
        });
    </script>
{% endblock %}

{% block content %}
        <div class="fullWidth mainModule">
            <div id="billState" class="passed">{{vote.passed|yesno:"Passed,Failed,Unknown"}}</div>
            <div><!--  class="medModule"> -->
                <h1 class="withTip" style="padding-top: 30px;">
                    {{ vote.chamber_name }} {% trans "Vote on" %} <a href="{{bill.get_absolute_url}}">{{ bill.bill_id }}</a>
                    ({{ vote.date|date:"M j, Y"}})
                </h1>
                <p class="tip">{{bill.title}}</p>
            </div>
            <div class="eightCol colLt clear">
                <h3 class="h4">{{ vote.motion }}</h3>
                <!-- <time datetime="" class="published" pubdate>{{ vote.date|date:"M j, Y"}}</time>

                <h4>Vote Breakdown</h4> -->
                {% if vote.has_votes %}
                <ul class="barChart">
                    <li class="yes">
                        <span class="tagValue" style="width:{{vote.yes_ratio}}%;"></span>
                        <span class="tagNumber">{{vote.yes_count}} {% trans "Yes" %}</span>
                    </li>
                    <li class="no">
                        <span class="tagValue" style="width:{{vote.no_ratio}}%;"></span>
                        <span class="tagNumber">{{vote.no_count}} {% trans "No" %}</span>
                    </li>
                    <li class="no clear">
                        <span class="tagValue" style="width:{{vote.other_ratio}}%;"></span>
                        <span class="tagNumber">{{vote.other_count}} {% trans "Other" %}</span>
                    </li>
                </ul>
                {% else %}
                    {% if vote.is_probably_a_voice_vote %}
                    <p>{% blocktrans %} <strong>No vote counts were available for this motion.</strong> This vote appears to be a
                        <a href="http://en.wikipedia.org/wiki/Voice_vote">voice vote</a>, a type of vote for
                        which many states don't record vote counts.</p>'
                        {% endblocktrans %}
                    {% else %}
                    <p>{% blocktrans %}
                    <strong>No vote counts were available for this motion.</strong> This can happen for a couple of reasons. Some legislatures don't record vote counts in the event of a "voice vote," which may
                    be the case here. This can also happen if a state provides insufficient data on its votes.{% endblocktrans %}</p>
                    {% endif %}
                    {% if vote.sources %}{% squish_whitespace %}
                        {% trans 'You may be able to find out more by visiting the official source' %} (
                        {% for source in vote.sources %}
                            {% if not forloop.first %}
                                {% if forloop.last %}{% trans "and" %}{% else %}, {% endif %}
                            {% endif %}
                            <a href="{{source.url}}">{% trans "here" %}</a>
                        {% endfor %}
                        ) {% blocktrans with state=metadata.name chamber=bill.chamber_name %} on the {{ state }} {{chamber}} website. {% endblocktrans %}
                    {% end_squish_whitespace %}
                    {% endif %}
                {% endif %}
            </div>

            <div class="clear"></div>
            {% if vote.quality_exceptions %}
            <span class="qualityException">
                <a class="missingInfo" title="{% trans 'Our Methodology' %}" href="/methodology/">?</a>
                <strong>{% trans "Note:" %}</strong>
                {% trans "This vote is known to have a mismatch between the reported total and the actual number of voters recorded." %}
            </span>
            {% endif %}

            <div class="clear"></div>
        </div>

        {% if vote.has_voters %}
        <div class="medModule clear">
            <h3>{% trans 'Full Roll Call' %}</h3>
            <ul class="inlineThirds">
                <li class="one">
                    <h4 class="h5">{% trans "Yes Votes" %}</h4>
                    {% if vote.yes_count %}
                    <table class="normalTable">
                        <thead>
                            <tr id="titles">
                                <th>Name</th>
                                <th>District</th>
                                <th>Party</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for legislator in vote.yes_vote_legislators %}
                            {% if legislator %}
                            <tr class="{% cycle 'even' 'odd' %}">
                                {% if legislator.id %}
                                <td><a href="{% url 'legislator_noslug' abbr legislator.id %}">{{ legislator.display_name }}</a></td>
                                {% else %}
                                <td>{{ legislator.name }}
                                <!-- TODO: missingInfo -->
                                </td>
                                {% endif %}
                                <td>{{ legislator.context_role.district }}</td>
                                <td>{{ legislator.context_role.party }}</td>
                            </tr>
                            {% endif %}{% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    {% trans 'There were no vote in favor of this motion.' %}
                    {% endif %}
                </li>
                <li class="two">
                    <h4 class="h5">{% trans "No Votes" %}</h4>
                    {% if vote.no_count %}
                    <table>
                        <thead>
                            <tr id="titles">
                                <th>Name</th>
                                <th>District</th>
                                <th>Party</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for legislator in vote.no_vote_legislators %}{% if legislator %}
                            <tr class="{% cycle 'even' 'odd' %}">
                                {% if legislator.id %}
                                <td><a href="{{legislator.get_absolute_url}}">{{ legislator.display_name }}</a></td>
                                {% else %}
                                <td>{{ legislator.display_name }}</td>
                                {% endif %}
                                <td>{{ legislator.context_role.district }}</td>
                                <td>{{ legislator.context_role.party }}</td>
                            </tr>
                            {% endif %}{% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    {% trans "There were no votes against this motion." %}
                    {% endif %}
                </li>
                <li class="three">
                    <h4 class="h5">{% trans "Other" %}</h4>
                    {% if vote.other_count %}
                    <table>
                        <thead>
                            <tr id="titles">
                                <th>Name</th>
                                <th>District</th>
                                <th>Party</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for legislator in vote.other_vote_legislators %}{% if legislator %}
                            <tr class="{% cycle 'even' 'odd' %}">
                                {% if legislator.id %}
                                <td><a href="{% url 'legislator' abbr legislator.id legislator.slug %}">{{ legislator.display_name }}</a></td>
                                {% else %}
                                <td>{{ legislator.display_name }}</td>
                                {% endif %}
                                <td>{{ legislator.context_role.district }}</td>
                                <td>{{ legislator.context_role.party }}</td>
                            </tr>
                            {% endif %}{% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    {% trans 'No "other" votes were recorded on this motion (abstain, absent, excused, etc.)' %}
                    {% endif %}
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        {% else %}
            {% if vote.is_probably_a_voice_vote %}
                <p><strong>{% trans "No vote roll calls were available for this motion." %}</strong> This vote appears to be a
                <a href="http://en.wikipedia.org/wiki/Voice_vote">voice vote</a>, a type of vote for
                which many states don't record vote counts.
            {% else %}
                <p><strong>No vote roll calls were available for this motion.</strong> This can happen for a couple of reasons. Some legislatures don't record vote counts in the event of a "voice vote," which may
                be the case here. This can also happen if a state provides insufficient data on its votes.
                </p>
            {% endif %}
            {% if vote.sources %}{% squish_whitespace %}You may be able to find out more by visiting
                the official source (
                {% for source in vote.sources %}
                    {% if not forloop.first %}
                        {% if forloop.last %}and{% else %}, {% endif %}
                    {% endif %}
                    <a href="{{source.url}}">here</a>
                {% endfor %}
                ) on the {{ metadata.name }} {{bill.chamber_name}} website.
            {% end_squish_whitespace %}
            {% endif %}
        {% endif %}

        {% if vote.sources %}
            {% sources vote %}
        {% else %}
            {% sources vote.bill %}
        {% endif %}
    </div>
</div>


{% endblock %}
