{% extends "billy/web/public/base.html" %}
{% load url from future %}
{% load customtags %}


{% block title %}
  {{vote.date|date:"M d, Y"}} vote -
  {{vote.bill.bill_id }} - 
  {{vote.bill.session_details.display_name}} -
  {{metadata.legislature_name}} -
  Open States
{% endblock %}

{% block headblock %}
    <link rel="canonical" href="{{vote.get_absolute_url}}">
    <script>
    $(document).ready(function(){
        var doc = $(document);
        doc.bind("keydown", "alt+j", function(){window.location = '{{vote.get_admin_json_url}}'});
        });
    </script>
{% endblock %}

{% block content %}
        <div class="fullWidth mainModule">
            <div id="billState" class="passed">{{vote.passed|yesno:"Passed,Failed,Unknown"}}</div>
            <div class="medModule">
                <h2 class="withTip">{{metadata.name}} {{bill.type_string|title}} <a href="{{bill.get_absolute_url}}">{{bill.bill_id}}</a></h2>
                <p class="tip tipSm">{{bill.title}}</p>
            </div>
            <div class="eightCol colLt clear">
                <h3 class="h4">{{ vote.motion }}</h3>
                <time datetime="" class="published" pubdate>{{ vote.date|date:"M j, Y"}}</time>
            
                <h4>Vote Breakdown</h4>
                <!--<table>
                    <thead>
                        <tr><th>Vote</th><th>Total</th><th>Ratio</th></tr>
                    </thead>
                    <tbody>
                        <tr><td>Yes</td><td>{{ vote.yes_count }}</td><td>{{ vote.yes_ratio }}</td></tr>
                        <tr><td>No</td><td>{{ vote.no_count }}</td><td>{{ vote.no_ratio }}</td></tr>
                        <tr><td>Other</td><td>{{ vote.other_count }}</td><td>{{ vote.other_ratio }}</td></tr>
                    </tbody>
                <table>-->
                <ul class="barChart">
                    <li class="yes">
                        <span class="tagValue" style="width:{{vote.yes_ratio}}%;"></span>
                        <span class="tagNumber">{{vote.yes_count}} Yes</span> 
                    </li> 
                    <li class="no">
                        <span class="tagValue" style="width:{{vote.no_ratio}}%;"></span>
                        <span class="tagNumber">{{vote.no_count}} No</span>
                    </li>   
                    <li class="no clear">
                        <span class="tagValue" style="width:{{vote.other_ratio}}%;"></span>
                        <span class="tagNumber">{{vote.other_count}} Other</span>
                    </li>   
                </ul> 
            </div>
            <div class="fourCol colRt">
                <div id="voteMap" class="withBorder clear"></div>  
            </div>  
            <div class="clear"></div>
        </div>

        <div class="medModule clear">
            <h3>Full Roll Call</h3>
            <ul class="inlineThirds">
                <li class="one">
                    <h4 class="h5">Yes Votes</h4>
                    {% if vote.yes_count %}
                    <table class="normalTable">
                        <thead>
                            <tr id="titles">
                                <th>Name</th>
                                <th>District</th>
                                <th>Party</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for legislator in vote.yes_vote_legislators %}
                            {% if legislator %}
                            <tr class="{% cycle 'even' 'odd' %}">
                                {% if legislator.id %}
                                <td><a href="{% url 'legislator' abbr legislator.id legislator.slug %}">{{ legislator.display_name }}</a></td>
                                {% else %}
                                <td>{{ legislator.display_name }}</td>
                                {% endif %}
                                <td>{{ legislator.district }}</td>
                                <td>{{ legislator.party }}</td>
                            </tr>
                            {% endif %}{% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    None.
                    {% endif %}
                </li> 
                <li class="two">
                    <h4 class="h5">No Votes</h4>
                    {% if vote.no_count %}
                    <table>
                        <thead>
                            <tr id="titles">
                                <th>Name</th>
                                <th>District</th>
                                <th>Party</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for legislator in vote.no_vote_legislators %}{% if legislator %}
                            <tr class="{% cycle 'even' 'odd' %}">
                                {% if legislator.id %}
                                <td><a href="{% url 'legislator' abbr legislator.id legislator.slug %}">{{ legislator.display_name }}</a></td>
                                {% else %}
                                <td>{{ legislator.display_name }}</td>
                                {% endif %}
                                <td>{{ legislator.district }}</td>
                                <td>{{ legislator.party }}</td>
                            </tr>
                            {% endif %}{% endfor %}
                        </tbody>                    
                    </table>
                    {% else %}
                    None.
                    {% endif %}
                </li>   
                <li class="three">
                    <h4 class="h5">Other</h4>
                    {% if vote.other_count %}
                    <table>
                        <thead>
                            <tr id="titles">
                                <th>Name</th>
                                <th>District</th>
                                <th>Party</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for legislator in vote.other_vote_legislators %}{% if legislator %}
                            <tr class="{% cycle 'even' 'odd' %}">
                                {% if legislator.id %}
                                <td><a href="{% url 'legislator' abbr legislator.id legislator.slug %}">{{ legislator.display_name }}</a></td>
                                {% else %}
                                <td>{{ legislator.display_name }}</td>
                                {% endif %}
                                <td>{{ legislator.district }}</td>
                                <td>{{ legislator.party }}</td>
                            </tr>
                            {% endif %}{% endfor %}
                        </tbody>                    
                    </table>
                    {% else %}
                    None.
                    {% endif %}
                </li>
            </ul> 
            <div class="clear"></div>   
        </div>
        <div class="medModule">
            {% if vote.sources %}
                {% sources vote %}
            {% else %}
                {% sources vote.bill %}
            {% endif %}
        </div>    
    </div>
</div>    
    

{% endblock %}
