{% extends "base.html" %}

{% block title %}{{ leg.full_name }}{% endblock %}

{% block content %}
<h3>{% if leg.chamber == "lower" %} {{metadata.lower_chamber_title }}
    {% else %} {{ metadata.upper_chamber_title}} {% endif %}
    {{ leg.full_name }}</h3>
<h4>
{{leg.party}}, {{ metadata.name }}, District {{ leg.district }}
</h4>

<dl>
    {% if leg.votesmart_id %}
        <dt>Votesmart ID</dt>
        <dd><a href="http://www.votesmart.org/bio.php?can_id={{leg.votesmart_id}}">{{leg.votesmart_id}}</a></dd>
    {% endif %}
    {% if leg.nimsp_id %}
        <dt>NIMSP ID</dt>
        <dd><a href="http://www.followthemoney.org/database/uniquecandidate.phtml?uc={{leg.nimsp_id}}">{{leg.nimsp_id}}</a></dd>
    {% endif %}

    {% for k,v in leg.items %}
    {% if "+" in k %}
        <dt>{{k}}</dt><dd>{{v}}</dd>
    {% endif %}
    {% endfor %}
</dl>

<div class="roles">
  <h4>Legislative Roles:</h4>
  <ul>
    {% for role in leg.roles %}
      <li>
        {% if role.type == 'member' %}
        {{ role.term }}:
        {% if leg.chamber == "lower" %} {{metadata.lower_chamber_title }}
        {% else %} {{ metadata.upper_chamber_title}} {% endif %}
        from District {{role.district}}
        {% endif %}

        {% if role.type == 'committee member' %}
          {{ role.session }}: member of the {{ role.committee }} Committee
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
