.callOutBox.tagline ul {
    padding-left: 0px;
}

#mainHeader h1{
   padding-bottom:48px;
}

#legLinks {
    margin-right: 370px;
}
.floatedList li {
    margin-right:10px;
}
.breadcrumb {
    float:left;
    clear:both;
    width: 100%;
}