{% extends "flatpage.html" %}
{% load markup_tags %}

{% block breadcrumb %}
<li class="home">
    <a href="/api/">API</a>
</li>
<li class="live">
<a href="">Metadata</a>
</li>
{% endblock %}


{% block content %}

<h2> Metadata API </h2>

{% rest %}

The metadata API serves basic details about a state such as what it calls its legislature and what terms and sessions
data is available for.

URL format
----------

http://openstates.sunlightlabs.com/api/v1/metadata/{STATE-ABBREV}/?apikey={YOUR_API_KEY}

Metadata Fields
---------------

``name``
    The name of the state
``abbreviation``
    The two-letter abbreviation of the state
``legislature_name``
    The name of the state legislature
``upper_chamber_name``
    The name of the 'upper' chamber of the state legislature (if applicable)
``lower_chamber_name``
    The name of the 'lower' chamber of the state legislature (if applicable)
``upper_chamber_term``
    The length, in years, of a term for members of the 'upper' chamber (if applicable)
``lower_chamber_term``
    The length, in years, of a term for members of the 'lower' chamber (if applicable)
``upper_chamber_title``
    The title used to refer to members of the 'upper' chamber (if applicable)
``lower_chamber_title``
    The title used to refer to members of the 'lower' chamber (if applicable)
``latest_dump_url``
    URL pointing to a download of all data for the state
``latest_dump_date``
    datestamp of the file at ``latest_dump_url``
``terms``
    A list of terms that we have data available for. Each session will be an object with the following fields:

    * ``start_year``: The year in which this session began.
    * ``end_year``: The year in which this session ended.
    * ``name``: The name of this session.
    * ``sessions``: List of sessions that took place inside the given term.
``session_details``
    Optional extra details about sessions.

    If present will be a dictionary with keys corresponding to ``sessions`` and values are dictionaries
    of extra metadata about a session.

    Fields that may be present include ``start_date`` and
    ``end_date``, as well as ``type`` indicating whether the session
    was a normally scheduled or special session.


Example
-------

http://openstates.sunlightlabs.com/api/v1/metadata/ca/?apikey=YOUR_API_KEY

.. raw:: html

    <script src="https://gist.github.com/849541.js?file=metadata.js"></script>

{% endrest %}

{% endblock %}
