{% extends "flatpage.html" %}
{% load markup_tags %}

{% block breadcrumb %}
<li class="home">
    <a href="/api/">API</a>
</li>
<li class="live">
<a href="">Changelog</a>
</li>
{% endblock %}

{% block content %}

{% markdown %}

## API Changelog

When we make changes to the API we will document them here.  

Backwards incompatible changes will be rare and will result in a change to the current version number as specified as part of the base URL.

The current API version is v1, released on September 1st 2010.

### Changes made to Version 1

* Events methods added (January 2011)
* metadata: addition of latest_dump_url/latest_dump_date

### Deprecated Versions

#### Version 0

A pre-release version of the API, old endpoints were removed entirely in November 2010.

{% endmarkdown %}

{% endblock %}
