{% extends "flatpage.html" %}
{% load markup_tags %}

{% block title %}Open State Project API: Metadata{% endblock %}

{% block breadcrumb %}
<li class="home">
    <a href="/api/">API</a>
</li>
<li class="live">
<a href="">Metadata</a>
</li>
{% endblock %}


{% block content %}

<h2> Metadata API </h2>

{% rest %}

There are two methods available for access to general metadata:

`Metadata Overview`_
    Get list of all states with data available and basic metadata about their status.
`State Metadata`_
    Get detailed metadata for a particular state.

Metadata Fields
===============

``name``
    The name of the state
``abbreviation``
    The two-letter abbreviation of the state
``legislature_name``
    The name of the state legislature
``upper_chamber_name``
    The name of the 'upper' chamber of the state legislature (if applicable)
``lower_chamber_name``
    The name of the 'lower' chamber of the state legislature (if applicable)
``upper_chamber_term``
    The length, in years, of a term for members of the 'upper' chamber (if applicable)
``lower_chamber_term``
    The length, in years, of a term for members of the 'lower' chamber (if applicable)
``upper_chamber_title``
    The title used to refer to members of the 'upper' chamber (if applicable)
``lower_chamber_title``
    The title used to refer to members of the 'lower' chamber (if applicable)
``latest_dump_url``
    URL pointing to a download of all data for the state
``latest_dump_date``
    datestamp of the file at ``latest_dump_url``
``terms``
    A list of terms that we have data available for. Each session will be an object with the following fields:

    * ``start_year``: The year in which this session began.
    * ``end_year``: The year in which this session ended.
    * ``name``: The name of this session.
    * ``sessions``: List of sessions that took place inside the given term.
``session_details``
    Details about sessions.

    Dictionary keys correspond to ``sessions`` and values are dictionaries
    of extra metadata about a session.

    Currently the only required field is ``display_name``, though fields that may be
    present include ``start_date`` and ``end_date``, as well as ``type`` indicating
    whether the session was a normally scheduled or special session.
``feature_flags``
    Provides indicators on extra features that are available.

    * ``events``: Indicates that the experimental 'events' API methods are enabled for this state.
    * ``subjects``: Indicates that our data contains `categorized subjects <http://openstates.sunlightlabs.com/categorization/#subjects>`_.



Metadata Overview
=================

This method returns just a subset (``abbreviation``, ``state``, ``level``, ``feature_flags``) of metadata across all available entities.

URL format
----------

http://openstates.sunlightlabs.com/api/v1/metadata/?apikey={YOUR_API_KEY}


State Metadata
==============

This method returns the full metadata for a state.

URL format
----------

http://openstates.sunlightlabs.com/api/v1/metadata/{STATE-ABBREV}/?apikey={YOUR_API_KEY}

The metadata API serves basic details about a state such as what it calls its legislature and what terms and sessions
data is available for.

URL format
----------

http://openstates.sunlightlabs.com/api/v1/metadata/{STATE-ABBREV}/?apikey={YOUR_API_KEY}


Example
-------

http://openstates.sunlightlabs.com/api/v1/metadata/ca/?apikey=YOUR_API_KEY

.. raw:: html

    <script src="https://gist.github.com/849541.js?file=metadata.js"></script>

{% endrest %}

{% endblock %}
