{% extends "flatpage.html" %}
{% load markdown_tag %}

{% block content %}

{% markdown %}

## Metadata API Methods

### State Metadata

#### Metadata Fields

<dl>
<dt>name</dt>
    <dd>The name of the state</dd>
<dt>abbreviation</dt>
    <dd>The two-letter abbreviation of the state</dd>
<dt>legislature_name</dt>
    <dd>The name of the state legislature</dd>
<dt>upper_chamber_name</dt>
    <dd>The name of the 'upper' chamber of the state legislature (if applicable)</dd>
<dt>lower_chamber_name</dt>
    <dd>The name of the 'lower' chamber of the state legislature (if applicable)</dd>
<dt>upper_chamber_term</dt>
    <dd>The length, in years, of a term for members of the 'upper' chamber (if applicable)</dd>
<dt>lower_chamber_term</dt>
    <dd>The length, in years, of a term for members of the 'lower' chamber (if applicable)</dd>
<dt>upper_chamber_title</dt>
    <dd>The title used to refer to members of the 'upper' chamber (if applicable)</dd>
<dt>lower_chamber_title</dt>
    <dd>The title used to refer to members of the 'lower' chamber (if applicable)</dd>
<dt>latest_dump_url</dt>
    <dd>URL pointing to a download of all data for the state</dd>
<dt>latest_dump_date</dt>
    <dd>datestamp of the file at <code>latest_dump_url</code></dd>
<dt>terms</dt>
    <dd>A list of terms that we have data available for. Each session will be an object with the following fields:
    <ul>
        <li>start_year: The year in which this session began.</li>
        <li>end_year: The year in which this session ended.</li>
        <li>name: The name of the term (generally the years it spans).</li>
        <li>sessions: List of sessions that took place inside the given term.</li>
    </ul>
    </dd>
<dt>session_details</dt>
    <dd>Optional extra details about sessions.
    <br /><br />
    If present will be a dictionary with keys corresponding to ``sessions`` and values are dictionaries
    of extra metadata about a session.
    <br /><br />
    Fields that may be present include <code>start_date</code> and
    <code>end_date</code>, as well as <code>type</code> indicating whether the session
    was a normally scheduled or special session.
    </dd>
</dl>

### URL format

http://openstates.sunlightlabs.com/api/v1/metadata/<em>{STATE-ABBREV}</em>/?apikey=<em>{YOUR_API_KEY}</em>


### Example

http://openstates.sunlightlabs.com/api/v1/metadata/ca/?apikey=YOUR_API_KEY

<script src="https://gist.github.com/849541.js?file=metadata.js"></script>

{% endmarkdown %}

{% endblock %}
