{% extends "flatpage.html" %}
{% load markup_tags %}

{% block title %}Contributing to the Open State Project{% endblock %}

{% block content %}
<h2> Contributing </h2>
{% rest %}
The Open State Project relies on volunteers and contributions are extremely welcome. If you're interested in helping this guide will help you find a place to contribute and walk you through the process of getting your code into the project.  

Community
=========

The primary tool that we use to communicate is the `Open State Project Google Group <http://groups.google.com/group/fifty-state-project>`_, if you aren't already a member your first step towards contributing is to join (and consider introducing yourself too).

If you're on IRC, we also tend to spend time in #openstates on freenode.  Feel free to stop by the channel if you have questions or want to get more involved.

Once you have an idea of how you'd like to contribute (or if you have any questions) you should email the group.  Announcing your intentions is important, it helps to avoid duplicated effort and sometimes someone might have a few tips for your particular effort.

Finding A Place To Help
=======================

If you're looking for a place to start it is best to look at `status page </status/>`_.  States that aren't colored are the ones that need the most work.  The map isn't a perfect indicator of what work has been done or is in progress, so before doing a lot of work be sure to check that the code you're hoping to contribute doesn't already exist within `the repository <http://github.com/sunlightlabs/openstates/>`_.

If a state doesn't have any work done for it at all, any contribution will help.  Most people prefer to first take a stab at getting the legislators for the current session.

If the state you're interested in already has some work done don't let that dissuade you, email the list and ask if there are things that can be done.  Often (even in some "completed") states there is additional data that we aren't collecting.

Getting Started
===============

Obtaining Source Code
---------------------

In order to contribute you'll need a `GitHub <http://github.com>`_ account.
Once signed in to your account, visit the `openstates project page <http://github.com/sunlightlabs/openstates/>`_ and click the "Fork" button.

You'll see github create a fork under your account, check your fork out with a command like::

    git clone git@github.com:YOURUSERNAME/openstates.git

Setting Up Your Environment
---------------------------

Once you have the code checked out you'll need to set up your environment.

(It is strongly recommended that you use both `virtualenv <http://pypi.python.org/pypi/virtualenv>` and `pip <http://pypi.python.org/pypi/pip>`_ if you aren't using these tools adjust these steps to suit your environment.)

The first thing to ensure is that the base ``openstates`` directory has been
added to your path.  The easiest way to do this is by running 
``python setup.py develop`` from within this directory.

The preferred library for scraping is `lxml <http://lxml.de>`_ which 
offers robust support for several different methods of scraping.  For cases where lxml is not
an option (such as scraping from Text or PDF files) other libraries may be used.

To install all recommended libraries::

    pip install -r ./billy/requirements.txt

Writing a Scraper
=================

All state scrapers should exist within a subdirectory of ``openstates/`` with the two letter postal abbreviation of your state (ie. wy for wyoming).

All code specific to a state should be within this directory, common files are:

__init__.py
    When starting a new state you should first create an ``__init__.py`` that contains `metadata <http://readthedocs.org/docs/billy/en/latest/metadata.html>`_.
bills.py
    `Scraping of bills <http://readthedocs.org/docs/billy/en/latest/scrapers.html#bills>`_, including sponsorship information, actions, and (optionally) votes. **Required**
legislators.py
    `Scraping of legislators <http://readthedocs.org/docs/billy/en/latest/scrapers.html#legislators>`_, optionally may scrape committees as well. **Required**
committees.py
    `Scraping of committees, <http://readthedocs.org/docs/billy/en/latest/scrapers.html#legislators>`_.  (*Only required if legislators.py does not add committees to legislators.*)
votes.py
    `Scraping of votes <http://readthedocs.org/docs/billy/en/latest/scrapers.html#votes>`_. (*Only required if bills.py does not scrape votes.*)

When implementing these files be sure to refer to the `scraper documentation <http://readthedocs.org/docs/billy/en/latest/scrapers.html>`_ and completed states.

Running Your Scraper
====================

There is an command named ``billy-scrape`` that is used to run scrapers and takes a number of command line options.

Examples of Common Usage
------------------------

Getting all legislators for Vermont from the latest session::

    billy-scrape vt --legislators -v

Getting all committees and bills for Pennsylvania from the 204th session::

    billy-scrape pa --committees --bills --session 204 -v

Submitting Your Code
====================

When you have working code that you'd like us to review please email the `group <http://groups.google.com/group/fifty-state-project>`_.  One of the committers will review your code and integrate it into the repository.

The Open State Project is licensed under the `GPL 3 <http://gplv3.fsf.org/>`_ and by
submitting your code for inclusion you agree to allow your code to be distributed under this license.

As a rule if you can show us that you can make several useful commits to improve a state we'll be happy to take your contributions and give you commit access.

{% endrest %}
{% endblock %}
