{% extends "flatpage.html" %}

{% block breadcrumb %}
<li class="live">
    <a href="">Contributing</a>
</li>
{% endblock %}

{% block content %}
<h2> Contributing </h2>
<div>
    <h3> Contributing Scrapers </h3>
    <p>
    The Open State Project relies on volunteers and if you're interested in
    helping this guide is the place to start.
    </p>

    <p> One of the first things to do is to visit our <a href="http://openstates.sunlightlabs.com/status/">status sheet</a>.  You'll find
    most states have at least some work already done, but there's still plenty to do.</p>

    <h3> Community </h3>

    <p>If you haven't already, we strongly recommended you join the <a href="http://groups.google.com/group/fifty-state-project">Open State Project Google Group</a>,
    once you have an idea of how you'd like to contribute (or if you have any questions) you should email the group.</a>

    <p>If you're on IRC, we also tend to spend time in #openstates.  Feel free to stop by the channel if you have questions or want to get more involved.</p>

    <h3> How To Help </h3>

    <p>If a state doesn't have any work done for it at all, any contribution will help.  Take a stab at getting the legislators for the current session, browse around the state legislature's site and take notes on possible low hanging fruit and contribute to the
    <a href="http://code.google.com/p/openstates/w/list">google code wiki</a>.

    <p>If the state you're interested in already has some work done, check if it has
    a committer listed on the status page.  If not and you feel up to the task,
    email the group and let us know of your interest.  As a rule if you can show
    us that you can make several useful commits to your state we'll be happy to
    take your contributions and give you commit access.</p>

    <p>In the case that the states you're interested in working on are already
    maintained, most state committers are happy to have the extra help.  Express
    your interest on the list and we'll help you find how you can best help.</p>

    <h3> Obtaining Source Code </h3>

    <p>
    If you're going to contribute code, you're going to need to start with your
    own fork of the project code.
    </p>

    <p>
    In order to contribute you'll need to create a <a href="http://github.com">GitHub</a>
    account and then visit the <a href="http://github.com/sunlightlabs/openstates/">openstates project page</a> and click the "Fork" button.
    </p>

    <p>You'll see github create a fork under your account, check your fork out with a command like
    <pre><code>
    git clone git@github.com:YOURUSERNAME/openstates.git
    </code></pre>

    <h3> Setting Up Your Environment </h3>

    <p>Once you have the code checked out you'll need to set up your environment.</p>

    <p>It is strongly recommended that you install 
    <a href="http://pypi.python.org/pypi/virtualenv">python-virtualenv</a> and create an
    "openstates" virtualenv.  This allows you to install packages that the
    project needs without modifying your global python installation.  
    <em>It is also assumed that you are using <a href="http://pypi.python.org/pypi/pip">pip</a>.
        If you are not using these tools modify the directions below to use your installer of choice.</em>

    <p> The first thing to ensure is that the base <code>openstates</code> directory has been
    added to your path.  The easiest way to do this is by running
    <code>python setup.py develop</code> class in the base <code>openstates</code> directory.
    </p>

    <p>The preferred library for scraping is <a href="http://codespeak.net/lxml/">lxml</a> which 
    offers robust support for several different methods of scraping.  For cases where lxml is not
    an option (such as scraping from Text or PDF files) other libraries may be used.
    </p>

    <p>To install all recommended libraries:
    <pre><code>
    pip install -r ./requirements.txt
    </code></pre>

    <h3> Writing a Scraper </h3>

    <p>All state scrapers should exist within a subdirectory of <code>openstates/</code> with the two letter postal abbreviation of your state (ie. wy for wyoming).

    <p>All code specific to a state should be within this directory, common files are:
    <ul>
        <li> <code>__init__.py</code>: When starting a new state you should first create an <code>__init__.py</code> that contains a MetadataDictionary.
        <li> <code>bills.py</code>: <a href="http://openstates.sunlightlabs.com/docs/scrapers.html#bills">Scraping of bills</a>, including sponsorship information, actions, and (optionally) votes. <strong>Required</strong>
        <li> <code>legislators.py</code>: <a href="http://openstates.sunlightlabs.com/docs/scrapers.html#legislators">Scraping of legislators</a>, optionally may scrape committees as well. <strong>Required</strong>
        <li> <code>committees.py</code>: <a href="http://openstates.sunlightlabs.com/docs/scrapers.html#legislators">Scraping of committees</a>.  (<em>Only required if legislators.py does not include scraping committees.</em>)
        <li> <code>votes.py</code>: <a href="http://openstates.sunlightlabs.com/scrapers.html#votes">Scraping of votes</a>. (<em>Only required if bills.py does not include scraping votes.</em>)
    </ul>

    <p> When implementing these files be sure to refer to the <a href="http://openstates.sunlightlabs.com/scrapers.html">scraper documentation</a>.</p>

    <h3> Running Your Scraper </h3> 

    <p>There is an executable located at <code>billy/bin/scrape.py</code> that is used to run scrapers and takes a number of command line options. 

    <h4> Examples of common usage </h4>

    <p>Getting all legislators for Vermont from the latest session:</p>
    <pre><code>
    python billy/bin/scrape.py vt --legislators -v
    </code></pre>

    <p>Getting all committees and bills for Pennsylvania from the 204th session:</p>
    <pre><code>
    python billy/bin/scrape.py pa --committees --bills --session 204 -v
    </code></pre>

    <h3> Submitting Your Code </h3>

    <p>When you have working code for your state please email the <a href="http://groups.google.com/group/fifty-state-project">group</a>.  One of the
    committers will review your code and integrate it into the repository.</p>

    <p>The Open State Project is licensed under the <a href="http://gplv3.fsf.org/">GPL 3</a> and by
    submitting your code for inclusion you agree to allow your code to be distributed under this license.</p>
</div>
{% endblock %}
