{% extends "base.html" %}
{% load media %}
{% block body %}
    <div class="wrapper">
        <div class="header-shadow"></div>
        <header role="banner">
            <div class="header-home">
                <h1 id="logo">
                    <a href="/">
                OpenStates
                    </a>
                </h1>
                <img class="arrow" src="{% media_url %}/images/header_arrow.png" alt="Header Arrow" />

            </div>
            <div class="header-ribbon header-ribbon-all">
                <span class="tag1">
                    Gathering <span class="orange">&amp;</span> Sharing <span id="light">State Legislative Data</span>
                </span>

            </div>

            <div class="clear">
            </div>
        </header>

        <ul class="breadcrumb">
            {% block breadcrumb %}
            {% endblock %}
        </ul>
        <div class="main">
            <div class="main-left content">
                {% block content %}
                {% endblock content %}
            </div>
            <div class="main-right">
                <div class="contribute">
                        <h3>
                        Contribute
                        </h3>

                        <ul>
                            <li>
                            <img src="{% media_url %}/images/contribute_bullet.png" alt="Contribute Bullet" /> <a href="/contributing/">Contributor's Guide</a>
                            </li>
                            <li>
                                <img src="{% media_url %}/images/contribute_bullet.png" alt="Contribute Bullet" /> <a href="http://github.com/sunlightlabs/openstates/">Code on GitHub</a>
                            </li>
                            <li>
                                <img src="{% media_url %}/images/contribute_bullet.png" alt="Contribute Bullet" /> <a href="/docs/scrapers.html">Writing Scrapers</a>
                            </li>
                        </ul>
                </div>
                <div class="use">
                        <h3>
                            Use Our Data
                        </h3>

                        <ul>
                            <li>
                                <img src="{% media_url %}/images/use_bullet.png" alt="Use Bullet" /><a href="/api/">Open States API</a>
                            </li>
                            <li>
                                <img src="{% media_url %}/images/use_bullet.png" alt="Use Bullet" /><a href="/downloads/">Bulk Downloads</a>
                            </li>
                            <li>
                                <img src="{% media_url %}/images/use_bullet.png" alt="Use Bullet" /><a href="http://github.com/sunlightlabs/python-openstates">Python Client Library</a>
                            </li>
                            <li>
                                <img src="{% media_url %}/images/use_bullet.png" alt="Use Bullet" /><a href="http://code.google.com/p/openstates/issues/list">Issue Tracker</a>
                            </li>
                        </ul>
                </div>
                <div class="join-side">
                    <img id="sf-product" src="{% media_url %}/images/sf_product_badge.png" alt="Sf Product Badge" />

                    <h3>
                        Like this Project and Want to Discover Others Like It?
                    </h3>
                    <p>
                        Join the Sunlight Foundation's open government community to learn more.
                    </p>
                    <form class="join-right" action="http://local.publicequalsonline.com/page/signup/openstatessignups" method="post" id="mailinglistform">
                        <input type="hidden" name="custom-649" value="openstates" />
                        <ul>
                            <li>
                                <input class="transparent" type="email" name="email" id="id_email" placeholder="your email address">
                            </li>
                            <li>

                                <input class="transparent" type="text" name="zip" id="id_zipcode" placeholder="your zip code" pattern="[0-9]{5}" maxlength="5">
                            </li>
                            <li>
                                <button id="joinBtn" type="submit">
                                    <span>submit</span>
                                </button>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
{% endblock body %}
