{% extends "flatpage.html" %}

{% block content %}
<h2>Project Status</h2>

<p> As of March 1st, 2011 we have data for 20 states and the District of Columbia.  </p> 

<p> States are denoted as either "ready" or "experimental" depending on how
reliable the source data is and how thoroughly we've vetted and cleaned up the
scraped data.  We do our best to provide high quality data for all states,
but you are more likely to find incomplete data where we haven't been able to
identify a source or done manual reconciliation of ids when using experimental
states.
<p>

<p>If you are curious about the specific status of state data check below
for any <a href="#state-specific">state specific issues</a> or ask on
<a href="http://groups.google.com/group/fifty-state-project">the Open States
google group</a>.</p>

<p>If you encounter issues using data from any state please let us know via the
<a href="http://code.google.com/p/openstates/issues/list">
Open State Project Issue Tracker</a>.

<h3> State Status </h3>

<img src="http://s3.amazonaws.com/assets.sunlightlabs.com/openstates/v1/images/openstatesmap.png" id="map" alt="OpenstatesMap" />

<h4> Ready States </h4>
<p> Ready states (green on the above map) are those that we've identified as having the highest quality
data.  Currently this includes California, Louisiana, Maryland, Minnesota,
New Jersey, North Carolina, Texas, Utah, Vermont, and Wisconsin.</p>

<h4> Experimental States </h4>
<p> Experimental states (in blue) are those that we support but have not yet promoted to ready
status.  Alaska, Arizona, Florida, Mississippi, Nevada, Ohio,
Pennsylvania, South Dakota, Virginia, Washington and Washington DC fall in this category.</p>

<h4> Unsupported States </h4>
<p> The remaining states (gray on the map)  are not yet in our API.
If you are interested in contributing visit the
<a href="/contributing/">Contributor's Guide</a> that will guide you through
obtaining the source and
<a href="http://groups.google.com/group/fifty-state-project">speaking with
project developers</a> that can help you determine what work needs to be done
for the state of your choosing.</p>

<a name="state-specific"><h3> State-specific Issues </h3></a>

<a name="CA"><h4>California</h4></a>
<ul>
    <li>At this time, we are collecting California's data from a provided SQL
    database and are unable to provide standard source URLs for legislators.
    </li>
</ul>

<a name="DC"><h4>District of Columbia</h4></a>
<ul>
    <li>DC does not have a uniform source for committee memberships and so we
    currently do not provide committee information.</li>
</ul>

<a name="MN"><h4>Minnesota</h4></a>
<ul>
    <li>Minnesota does not provide legislator roll calls for votes taken in the
    Senate so we are lacking detailed votes for the MN Senate.</li>
</ul>
{% endblock %}
