{% extends "flatpage.html" %}

{% block title %} Open State Project Status {% endblock %}

{% block content %}
<h2>Project Status</h2>

<p> As of October 19th, 2011 we have data for 39 states, the District of Columbia, and Puerto Rico.  </p> 

<p> States are denoted as either "ready" or "experimental" depending on how
reliable the source data is and how thoroughly we've vetted and cleaned up the
scraped data.  We do our best to provide high quality data for all states,
but you are more likely to find incomplete data where we haven't been able to
identify a source or done manual reconciliation of ids when using experimental
states.
</p>

<p>If you are curious about the specific status of state data check below
for any <a href="#state-specific">state specific issues</a> or check out the
<a href="/status/detailed/">detailed status</a> page for a listing of all
data we have across states.</p>

<p>If you encounter issues using data from any state please let us know via the
<a href="https://github.com/sunlightlabs/openstates/issues">
Open State Project Issue Tracker</a> or mention it on
<a href="http://groups.google.com/group/fifty-state-project">the Open States
google group</a>.</p>

<h3> State Status </h3>

<img src="http://s3.amazonaws.com/assets.sunlightlabs.com/openstates/v1/images/openstatesmap.png" id="map" alt="OpenstatesMap" />

<h4> Ready States </h4>
<p> Ready states (green on the above map) are those that we've identified as having the highest quality
data.  Currently this includes Alaska, Arizona, California, Louisiana, Maryland, Minnesota, Mississippi,
New Jersey, North Carolina, Ohio, Pennsylvania, Texas, Utah, Vermont, Washington DC, and Wisconsin.</p>

<h4> Experimental States </h4>
<p> Experimental states (in blue) are those that we support but have not yet promoted to ready
status.  Arkansas, Connecticut, Florida, Georgia, Hawaii, Idaho, Illinois, Indiana, Iowa, Kentucky, Maine,
Massachusetts, Michigan, Nevada, New Hampshire, New Mexico, New York, Oklahoma, Oregon, Puerto Rico,
South Dakota, Virginia, Washington, and West Virginia fall in this category.
</p>

<h4> Unsupported States </h4>
<p> The remaining states (gray on the map)  are not yet in our API.
If you are interested in contributing visit the
<a href="/contributing/">Contributor's Guide</a> that will guide you through
obtaining the source and
<a href="http://groups.google.com/group/fifty-state-project">speaking with
project developers</a> that can help you determine what work needs to be done
for the state of your choosing.</p>

<a name="state-specific"><h3> State-specific Issues </h3></a>

<a name="CA"><h4>California</h4></a>
<ul>
    <li>At this time, we are collecting California's data from a provided SQL
    database and are unable to provide standard source URLs for legislators.
    </li>
</ul>

<a name="HI"><h4>Hawaii</h4></a>
<ul>
    <li>Hawaii does not provide a reliable source for roll call votes but does have
    easily parsable committee votes.  We provide all votes that are available
    via http://www.capitol.hawaii.gov/.</li>
</ul>

<a name="IN"><h4>Indiana</h4></a>
<ul>
    <li>Indiana only makes their votes available in scanned PDFs that currently
    prevent us from capturing legislator roll calls.</li>
</ul>

<a name="IA"><h4>Iowa</h4></a>
<ul>
    <li>Iowa does not provide roll call votes in a format that we can parse with
    any reliability, so at the moment we do not provide any roll call votes for
    Iowa.</li>
</ul>

<a name="KY"><h4>Kentucky</h4></a>
<ul>
    <li>Kentucky only makes their votes available in scanned PDFs that currently
    prevent us from capturing legislator roll calls.</li>
</ul>

<a name="MA"><h4>Massachusetts</h4></a>
<ul>
    <li>Massachusetts does not provide a source for individual roll call votes,
    unfortunately this means we are unable to provide this data as well.</li>
    <li>It should also be noted that districts in Mass. do not obey a typical
    alphanumeric format, and have somewhat unreliable names.  An attempt has
    been made to clean these up into a standard format but it is likely
    to be a source of some confusion when using their data.</li>
</ul>

<a name="MN"><h4>Minnesota</h4></a>
<ul>
    <li>Minnesota does not provide legislator roll calls for votes taken in the
    Senate so we are lacking detailed votes for the MN Senate.</li>
</ul>

<a name="NE"><h4>Nebraska</h4></a>
<ul>
    <li>Nebraska does not provide roll call votes in a format that we can parse with
    any reliability, so at the moment we do not provide any roll call votes for
    Nebraska.</li>
</ul>

{% endblock %}
