{% extends "flatpage.html" %}

{% block breadcrumb %}
<li class="live">
    <a href="">Thank You</a>
</li>
{% endblock %}

{% block content %}
	<h2>Thank you for joining Sunlight in the transparency movement!
	</h2>

	<p>We'll be updating you with ways you can take action in the coming weeks and months, so stay tuned.
	</p>
	<p>We'd also love to hear from you, and there's a bunch of ways we like to do that. You can follow every post, project, or video on our way to a more transparency government.
	</p>
	<div class="join-social">
		<ul class="social-links">
	   		<li class="social-facebook">
	   			<a rel="me" href="http://www.facebook.com/sunlightfoundation">Facebook</a>
	   		</li>

	   		<li class="social-twitter">
	   			<a rel="me" href="http://twitter.com/#!/sunfoundation">Twitter</a>
	   		</li>
	   		<li class="social-flickr">
	   			<a rel="me" href="http://www.flickr.com/sunlightfoundation">Flickr</a>
	   		</li>
	   		<li class="social-youtube">
	   			<a rel="me" href="http://www.youtube.com/sunlightfoundation">YouTube</a>

	   		</li>
	   		<li class="social-delicious">
	   			<a rel="me" href="http://delicious.com/sunlight_foundation">Delicious</a>
	   		</li>
   		</ul>
	</div>
	<div class="clear"></div>


<h3 class="sectionspace"> When we write, some of the requests you can expect from us are:
</h3>

	<ul id="bullet">
		<li>
			<p>Making phone calls to your representatives about specific issues</p>
		</li>
		<li>
			<p>Signing petitions that we will submit to congressional leaders demanding their action</p>

		</li>
		<li>
			<p>Laughing at our bad jokes</p>
		</li>
		<li>
			<p>Inviting others you know to join us as well</p>
		</li>
		<li>

			<p><a href="http://meetup.com/sunlightfoundation">Join or host a Sunlight Meetup</a></p>
		</li>
	</ul>

<p>Your voice and your actions are absolutely crucial in helping to make government more transparent and accountable ...that's not an exaggeration.</p>
<p><i>Thank you!</i></p>

{% endblock %}