name: Build and push Docker image
on:
  push:
    branches: [ main ]
    tags:
      - '*'
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: build docker image
        uses: docker/build-push-action@v1.1.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: openstates/scrapers
          dockerfile: /github/workspace/Dockerfile
          tag_with_ref: true
          tags: latest
